Repository osquery/osquery, pull requests merged in 2018-03, with the labels that each got.

#4128 Replace ptree with JSON on serialization code
  include/osquery/enroll.h
  osquery/carver/carver.cpp
  osquery/config/plugins/tests/tls_config_tests.cpp
  osquery/config/plugins/tls_config.cpp
  osquery/core/conversions.cpp
  osquery/core/json.h
  osquery/distributed/plugins/tls_distributed.cpp
  osquery/distributed/tests/distributed_tests.cpp
  osquery/logger/plugins/tls_logger.cpp
  osquery/remote/enroll/enroll.cpp
  osquery/remote/enroll/plugins/tests/tls_enroll_tests.cpp
  osquery/remote/enroll/plugins/tls_enroll.cpp
  osquery/remote/requests.h
  osquery/remote/serializers/json.cpp
  osquery/remote/serializers/json.h
  osquery/remote/serializers/tests/json_serializers_tests.cpp
  osquery/remote/tests/requests_tests.cpp
  osquery/remote/transports/tests/tls_transports_tests.cpp
  osquery/remote/transports/tls.cpp
  osquery/remote/utility.h
Labels: API change, bug, cla signed, performance, refactor

#4163 enable docker_container_processes for OS X
  osquery/tables/applications/posix/docker.cpp
Labels: cla signed, macOS

#4167 adding fields to docker_containers table
  osquery/tables/applications/posix/docker.cpp
  specs/posix/docker_containers.table
Labels: API change, Linux, cla signed, ready for review, virtual tables

#4136 Pin CMake version for build stability
  tools/provision.ps1
Labels: Windows, build/test, cla signed

#4146 Update confusing variable name and allow multiple row return in bitlocker_info.cpp
  osquery/tables/system/windows/bitlocker_info.cpp
Labels: Windows, cla signed, virtual tables

#4166 freebsd: Update CMake for thrift 11 and boost 1.66
  CMakeLists.txt
  Makefile
  Vagrantfile
  osquery/CMakeLists.txt
  tools/provision/freebsd.sh
Labels: FreeBSD, build/test, cla signed

#4170 Add block on short-circuiting discovery queries
  docs/wiki/deployment/configuration.md
Labels: cla signed, documentation

#4169 look up the external plugin by the correct name
  osquery/registry/registry.cpp
Labels: cla signed

#4154 Error parsing the "windows-attacks" pack JSON: <unspecified file>(47): invalid escape sequence
  packs/windows-attacks.conf
Labels: Windows, cla signed, triage

#4165 Add account_policy_data virtual table for macOS
  osquery/tables/system/darwin/account_policy_data.mm
  specs/darwin/account_policy_data.table
Labels: cla signed, macOS, ready for review, virtual tables

#4180 docker: Deal with HTTP/1.1 response.
  osquery/tables/applications/posix/docker.cpp
Labels: cla signed, docker, virtual tables

#4148 Remove all table AutoReleasePool blocks
  osquery/tables/system/darwin/apps.mm
  osquery/tables/system/darwin/authorizations.mm
  osquery/tables/system/darwin/disk_encryption.mm
  osquery/tables/system/darwin/packages.mm
  osquery/tables/system/darwin/shared_folders.mm
  osquery/tables/system/darwin/user_groups.mm
Labels: RFC, cla signed, macOS, virtual tables

#4182 Return SQL statuses in distributed response fix
  osquery/distributed/distributed.cpp
Labels: bug, cla signed, distributed

#4125 fix minor leak in darwin disk_encryption generate
  osquery/tables/system/darwin/disk_encryption.mm
Labels: bug, cla signed, macOS, memory leak, needs response

#4188 [bug] aws_log_forwarder: incrementing index for batches of records that could not be sent
  osquery/logger/plugins/aws_log_forwarder.h
Labels: AWS, bug, cla signed, logging

#4130 thrift: Breakout thrift and fbthrift into implementations
  osquery/extensions/CMakeLists.txt
  osquery/extensions/extensions.cpp
  osquery/extensions/impl_fbthrift.cpp
  osquery/extensions/impl_thrift.cpp
  osquery/extensions/interface.cpp
  osquery/extensions/interface.h
Labels: cla signed, codemod, extensions, in progress

#4195 perf: refactoring drivers table for performance
  osquery/tables/system/tests/system_tables_tests.cpp
  osquery/tables/system/windows/drivers.cpp
  osquery/tables/system/windows/drivers.h
  specs/windows/drivers.table
Labels: API change, Windows, cla signed, performance, ready for review, virtual tables

#4204 mac/linux: add disk I/O columns to processes table
  osquery/tables/system/darwin/processes.cpp
  osquery/tables/system/linux/processes.cpp
  osquery/tables/system/tests/system_tables_tests.cpp
  specs/processes.table
Labels: cla signed, virtual tables

#4177 Add disk_info table
  osquery/tables/system/windows/bitlocker_info.cpp
  osquery/tables/system/windows/disk_info.cpp
  specs/windows/disk_info.table
Labels: Windows, cla signed, virtual tables

#4156 windows compliance pack based on IAD SAMI
  packs/windows-hardening.conf
Labels: Windows, cla signed, needs response, packs

#4181 kafka: Support for kafka compression.codec
  docs/wiki/deployment/logging.md
  docs/wiki/installation/cli-flags.md
  osquery/logger/plugins/kafka_producer.cpp
Labels: cla signed, kafka, logging

#4214 deploy: fixing version bug in windows msi build
  tools/deployment/make_windows_package.ps1
Labels: Jenkins error, Windows, bug, cla signed, deployment

#4229 Don't bail out when querying one namespace fails
  osquery/filesystem/linux/proc.cpp
Labels: bug, cla signed

#4216 tests: Fix compression test failing for Sierra
  osquery/remote/tests/requests_tests.cpp
Labels: Jenkins error, build/test, cla signed, macOS

#4234 Properly filter process_open_sockets when pid=-1
  osquery/tables/networking/linux/process_open_sockets.cpp
Labels: Linux, bug, cla signed, events

#4237 Fix typo in README.md
  README.md
Labels: cla signed, documentation

#4228 docs: shadow only works for root / sudo
  specs/linux/shadow.table
Labels: Linux, cla signed, documentation, virtual tables

#4211 Use safeStrtoll instead of strtol
  osquery/tables/system/linux/processes.cpp
Labels: Jenkins error, Linux, cla signed, virtual tables

#4226 Add video_info table to collect video card information
  osquery/tables/system/windows/video_info.cpp
  specs/windows/video_info.table
Labels: Windows, cla signed, virtual tables
