Repository osquery/osquery, pull requests merged in 2018-02, with the labels that each got.

#4113 Add bitlocker_info to Windows
  osquery/tables/system/windows/bitlocker_info.cpp
  specs/windows/bitlocker_info.table
Labels: Windows, virtual tables

#4087 darwin: separate iokit routines from iokit event support
  osquery/core/CMakeLists.txt
  osquery/core/darwin/iokit.cpp
  osquery/core/darwin/iokit.hpp
  osquery/events/darwin/iokit.cpp
  osquery/events/darwin/iokit.h
  osquery/tables/system/darwin/block_devices.cpp
  osquery/tables/system/darwin/disk_encryption.mm
  osquery/tables/system/darwin/iokit_registry.cpp
  osquery/tables/system/darwin/kernel_info.cpp
  osquery/tables/system/darwin/pci_devices.cpp
  osquery/tables/system/darwin/sip_config.cpp
  osquery/tables/system/darwin/smbios_tables.cpp
  osquery/tables/system/darwin/system_info.cpp
  osquery/tables/system/darwin/usb_devices.cpp
Labels: cla signed, macOS, needs response, refactor

#4105 thrift: Optionally build and link with fbthrift
  CMake/Thrift.cmake
  CMakeLists.txt
  osquery/core/init.cpp
  osquery/extensions/CMakeLists.txt
  osquery/extensions/extensions.cpp
  osquery/extensions/interface.cpp
  osquery/extensions/interface.h
  osquery/extensions/tests/extensions_tests.cpp
  osquery/main/tests.cpp
  tools/codegen/gentargets.py
  tools/provision/formula/Abstract/abstract-osquery-formula.rb
  tools/provision/formula/fbthrift-double-conversion.rb
  tools/provision/formula/fbthrift-folly.rb
  tools/provision/formula/fbthrift-libevent.rb
  tools/provision/formula/fbthrift-mstch.rb
  tools/provision/formula/fbthrift-rsocket.rb
  tools/provision/formula/fbthrift-wangle.rb
  tools/provision/formula/fbthrift.rb
  tools/sync.sh
Labels: Linux, cla signed, dependencies

#4086 Fix RapidJSON error asserting in configuration
  osquery/config/config.cpp
Labels: bug, cla signed

#4068 Updating build docs to include make packages
  docs/wiki/development/building.md
Labels: cla signed, documentation, needs response

#4131 Fix issue [#4123] MSVC Permissive Error
  osquery/tables/system/windows/bitlocker_info.cpp
Labels: Windows, cla signed

#4096 extensions: adding support for autoloading python extensions on Windows
  osquery/core/conversions.cpp
  osquery/core/conversions.h
  osquery/core/windows/process.cpp
  osquery/extensions/extensions.cpp
Labels: Windows, cla signed, extensions, ready for review

#4134 Fix JSON output from --json
  osquery/devtools/printer.cpp
  tools/tests/test_osqueryi.py
Labels: bug, cla signed, shell

#4117 Updated Build Script for Windows with Help Documentation
  tools/deployment/make_windows_package.ps1
Labels: Windows, cla signed, deployment, documentation

#4143 [fix #4140] Removing WEL logger plugin core due to duplicate linkage
  CMake/CMakeLibs.cmake
  osquery/events/windows/tests/windows_event_log_tests.cpp
  osquery/events/windows/windows_event_log.cpp
  osquery/events/windows/windows_event_log.h
  osquery/logger/CMakeLists.txt
  osquery/logger/logger.cpp
Labels: Windows, bug, cla signed, extensions, logging

#4024 List all sockets (host and containers) in process_open_sockets
  osquery/filesystem/linux/proc.cpp
  osquery/filesystem/linux/proc.h
  osquery/filesystem/tests/filesystem_tests.cpp
  osquery/tables/applications/posix/docker.cpp
  osquery/tables/networking/linux/process_open_sockets.cpp
  osquery/tables/networking/listening_ports.cpp
  osquery/tables/networking/tests/networking_tables_tests.cpp
  specs/listening_ports.table
  specs/posix/docker_containers.table
  specs/process_open_sockets.table
Labels: cla signed, needs response, virtual tables

#4142 extensions: Allow option accesses in extensions
  osquery/config/config.cpp
  osquery/core/flags.cpp
Labels: API change, cla signed, extensions

#4141 docs: Fix new table example and add leaks check
  docs/wiki/development/creating-tables.md
  docs/wiki/development/osquery-sdk.md
  tools/analysis/fuzz.py
Labels: cla signed, documentation, virtual tables

#4147 logger: Add check to prevent C++ extensions from using glog
  osquery/logger/logger.cpp
Labels: cla signed, extensions, logging

#4129 Adding symlink loop detection to globbing
  osquery/events/linux/tests/inotify_tests.cpp
  osquery/filesystem/fileops.h
  osquery/filesystem/filesystem.cpp
  osquery/filesystem/posix/fileops.cpp
  osquery/filesystem/windows/fileops.cpp
Labels: API change, bug, cla signed

#4155 adding platform tag incident-response pack
  packs/incident-response.conf
Labels: cla signed, packs

#4159 deployment: adding default path for Windows packs to example conf
  tools/deployment/osquery.example.conf
Labels: Windows, cla signed, deployment
