Repository osquery/osquery, pull requests merged in 2018-04, with the labels that each got.

#4239 Fix typo
  docs/README.md
Labels: cla signed, documentation

#4249 Adding behavioral reverse shell detection to osx-attacks
  packs/osx-attacks.conf
Labels: cla signed, macOS, packs

#4236 Fix acceleration code to use RapidJSON properly
  osquery/distributed/distributed.cpp
Labels: API change, bug, cla signed, distributed

#4230 Add support for generating ctags and cscope
  .gitignore
  Makefile
Labels: cla signed, feature

#4213 tables: Add yum_sources table
  osquery/tables/system/posix/tests/yum_sources_tests.cpp
  osquery/tables/system/posix/yum_sources.cpp
  specs/posix/yum_sources.table
Labels: cla signed

#4240 fix incorrect uptime on windows
  osquery/tables/system/uptime.cpp
Labels: Windows, cla signed, virtual tables

#4248 update specs at the root directory to include windows
  tools/codegen/genwebsitejson.py
Labels: cla signed, website

#4266 create a github issue template
  .github/ISSUE_TEMPLATE.md
  SUPPORT.md
Labels: cla signed

#4218 Update osx-attacks.conf
  packs/osx-attacks.conf
Labels: Jenkins error, cla signed, macOS, packs

#4256 tables: Use more specific release files on os_version
  osquery/tables/system/linux/os_version.cpp
Labels: cla signed

#4279 Remove BOOST_FOREACH
  osquery/tables/applications/posix/docker.cpp
Labels: Linux, debt, docker, macOS, virtual tables

#4281 config: Parser keys should be objects or arrays
  include/osquery/config.h
  osquery/config/config.cpp
  osquery/config/packs.cpp
  osquery/config/parsers/file_paths.cpp
  osquery/config/parsers/views.cpp
  osquery/tables/yara/yara_events.cpp
  osquery/tables/yara/yara_utils.cpp
Labels: bug, cla signed, dynamic analysis

#4282 Fix typos in packs/windows-hardening.conf
  packs/windows-hardening.conf
Labels: cla signed, packs

#4277 Improve debugging
  CMakeLists.txt
  tools/deployment/make_linux_package.sh
Labels: build/test, cla signed, feature

#4274 Update docs to encourage community resources
  .github/ISSUE_TEMPLATE.md
  SUPPORT.md
Labels: cla signed, documentation

#4268 [darwin][processes] Show kernel_task
  osquery/tables/system/darwin/processes.cpp
Labels: cla signed, feature, macOS, needs response

#4294 database: updating migration logic from ptree to rapidjson
  include/osquery/database.h
  osquery/database/database.cpp
Labels: bug, cla signed, database

#4288 Filter by gid on Linux groups table
  osquery/tables/system/linux/groups.cpp
Labels: Linux, cla signed, performance

#4290 Added certificate serial number column
  osquery/tables/system/darwin/certificates.mm
  osquery/tables/system/darwin/keychain.h
  osquery/tables/system/darwin/keychain_utils.cpp
  osquery/tables/system/windows/certificates.cpp
  specs/macwin/certificates.table
Labels: API change, Jenkins error, Windows, cla signed, macOS, virtual tables

#4286 bug: handle windows service shutdowns gracefully
  osquery/core/init.cpp
  osquery/core/process.h
  osquery/core/windows/process_ops.cpp
  osquery/dispatcher/io_service.cpp
  osquery/events/events.cpp
  osquery/extensions/impl_thrift.cpp
  osquery/main/windows/main.cpp
  tools/tests/CMakeLists.txt
  tools/tests/test_http_server.py
  tools/tests/test_osqueryd_win.py
  tools/tests/test_windows_service.py
Labels: Windows, bug, cla signed, daemon

#4305 [Fix #4304] Fix a memory leak in the sip_config table
  osquery/tables/system/darwin/sip_config.cpp
Labels: API change, cla signed, macOS, memory leak, virtual tables

#4319 readme: fixed link for windows 2016 builds
  README.md
Labels: cla signed, website

#4325 Remove clause the make empty ptree {}
  include/osquery/database.h
  osquery/database/database.cpp
  osquery/database/tests/database_tests.cpp
Labels: bug, cla signed, database

#4324 tests: cleaning up windows service tests
  tools/tests/test_windows_service.py
Labels: Windows, build/test, cla signed

#4323 bug: fix handle leaks in Windows process functions
  osquery/core/posix/process.cpp
  osquery/core/process.h
  osquery/core/system.cpp
  osquery/core/watcher.cpp
  osquery/core/windows/process.cpp
  osquery/dispatcher/scheduler.cpp
  osquery/tables/system/windows/processes.cpp
  osquery/tables/utility/osquery.cpp
Labels: Windows, bug, cla signed, virtual tables

#4327 bug: fix fail to read yum sources (#4284)
  osquery/tables/system/posix/yum_sources.cpp
Labels: Linux, bug, cla signed

#4310 Fix a unicode parsing error
  osquery/core/conversions.cpp
  osquery/core/conversions.h
  osquery/core/tests/conversions_tests.cpp
Labels: Jenkins error, bug, cla signed, configuration, distributed

#4334 Remove extraneous letter from CLI flags
  docs/wiki/installation/cli-flags.md
Labels: cla signed, documentation
