Repository osquery/osquery, pull requests merged in 2019-08, with the labels that each got.

#5683 Remove deprecated build tools
  tools/build.ps1
  tools/build.sh
  tools/make-win64-binaries.bat
  tools/make-win64-dev-env.bat
  tools/provision.ps1
  tools/provision.sh
Labels: build

#5684 tables: Add optimization back to macOS users and groups
  osquery/tables/system/darwin/user_groups.mm
  osquery/tables/system/linux/groups.cpp
  osquery/tables/system/tests/system_tables_tests.cpp
  osquery/tables/system/user_groups.h
Labels: cla signed, merge with rebase, virtual tables

#5635 Fix for mount table interacting with direct autofs.
  osquery/tables/system/linux/mounts.cpp
Labels: Linux, bug, virtual tables

#5640 windows/certificates: Improve table's coverage of Personal certificates
  osquery/tables/system/BUCK
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/windows/certificates.cpp
  osquery/tables/system/windows/users.cpp
  osquery/tables/system/windows/users.h
Labels: Windows, virtual tables

#5694 build: Remove deprecated Makefile
  Makefile
Labels: build

#5444 sql function regex_match (and some tests for other sql functions)
  docs/wiki/introduction/sql.md
  osquery/sql/sqlite_string.cpp
  osquery/sql/tests/sql.cpp
Labels: SQL, cla signed, feature

#5703 sqlite: Remove FTS features from sqlite
  third-party/sqlite/CMakeLists.txt
Labels: dependencies, prodsec

#5646 Replace java8 with adoptopenjdk8 as the brew package name
  BUILD.md
Labels: cla signed, documentation

#5647 packaging: updating packaging script to support Buck binary output
  tools/deployment/make_windows_package.ps1
Labels: Windows, packaging

#5707 tables: implement ibridge table to report on T1/T2 chip for mac notebooks
  osquery/tables/system/BUCK
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/darwin/ibridge.cpp
  specs/BUCK
  specs/CMakeLists.txt
  specs/darwin/ibridge_info.table
  tests/integration/tables/BUCK
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/ibridge.cpp
Labels: macOS, virtual tables

#5708 docs: Update ReadTheDocs with new build docs
  BUILD.md
  docs/wiki/deployment/configuration.md
  docs/wiki/development/building.md
  docs/wiki/development/contributing-code.md
  docs/wiki/development/windows-provisioning.md
  docs/wiki/index.md
  docs/wiki/installation/custom-packages.md
  docs/wiki/installation/install-macos.md
  docs/wiki/installation/install-windows.md
  mkdocs.yml
Labels: documentation

#5711 [Table sanity check] etc_protocols
  tests/integration/tables/etc_protocols.cpp
Labels: test, virtual tables

#5712 docs: Update README to correct email and build guide
  README.md
  docs/wiki/index.md
Labels: bug, documentation

#5701 Audit: Implement support for fork/vfork/clone/execveat
  osquery/events/linux/auditdnetlink.cpp
  osquery/events/linux/process_events.h
  osquery/tables/events/linux/process_events.cpp
  osquery/tables/events/linux/process_events.h
  osquery/tables/events/tests/CMakeLists.txt
  osquery/tables/events/tests/linux/process_events_tests.cpp
  specs/posix/process_events.table
Labels: Linux, events, process auditing

#5732 Fix for #5315. Ensure view recreated on startup.
  plugins/config/parsers/views.cpp
Labels: bug, configuration

#5736 Add CHANGELOG.md
  CHANGELOG.md
Labels: documentation
