Repository osquery/osquery, pull requests merged in 2019-11, with the labels that each got.

#5927 process_open_sockets/windows: add state column
  osquery/tables/networking/windows/process_open_sockets.cpp
  specs/process_open_sockets.table
Labels: Windows, process auditing

#5980 improve deb_packages test
  tests/integration/tables/deb_packages.cpp
Labels: Linux, test

#5978 Update changelog for 4.1.0
  CHANGELOG.md
Labels: documentation

#5979 Add New_Release GitHub issue template
  .github/ISSUE_TEMPLATE/New_Release.md
Labels: documentation

#5982 Some corrections to the 4.1.0 Changelog
  CHANGELOG.md
Labels: documentation

#5976 CMake: Update the OpenSSL formula
  azure-pipelines.yml
  docs/wiki/development/building.md
  libraries/cmake/formula/openssl/CMakeLists.txt
  tools/ci/scripts/install_openssl_formula_dependencies.ps1
Labels: Windows, libraries

#5959 Prevent Audit from stalling Linux system services
  osquery/events/linux/auditdnetlink.cpp
Labels: Linux, bug, process auditing

#5983 cleanup: Remove old scripts and tooling
  tools/analysis/analyze.bat
  tools/analysis/asan.supp
  tools/analysis/clang-analyze.sh
  tools/analysis/fuzz.py
  tools/analysis/lsan.supp
  tools/analysis/sanitize_blacklist.txt
  tools/analysis/stress.py
  tools/analysis/system_stress.py
  tools/analysis/tsan.supp
  tools/analysis/valgrind.supp
  tools/audit.sh
  tools/benchmark.sh
  tools/deployment/make_linux_package.sh
  tools/deployment/make_osx_package.sh
  tools/generate_xcode_project.sh
  tools/get_platform.py
  tools/hooks/pre-commit.py
  tools/lib.sh
  tools/provision/darwin.sh
  tools/release/build_release.sh
  tools/release/commit_schema.sh
  tools/release/new_release.sh
  tools/release/sign_release.sh
  tools/sync.sh
Labels: debt

#5992 Restore specific Visual Studio generator selection in building.md
  docs/wiki/development/building.md
Labels: Windows, build, documentation

#5987 Suggest a shorter path to place the osquery folder on Windows
  docs/wiki/development/building.md
Labels: Windows, build, documentation

#5948 database: Remove INFO logs for migration successes
  osquery/database/database.cpp
Labels: database, user experience

#5998 Typo fixes in v4.1.0 CHANGELOG
  CHANGELOG.md
Labels: documentation

#6007 Fix build with Ninja on Windows
  cmake/flags.cmake
  libraries/cmake/formula/openssl/CMakeLists.txt
Labels: Windows, build, cmake

#6010 Use a custom defined manifest for executables on Windows
  cmake/utilities.cmake
  tools/osquery.manifest.in
Labels: Windows, build, cmake

#6003 docs: Move the schedule_max_drift description into docs
  docs/wiki/installation/cli-flags.md
  osquery/dispatcher/scheduler.cpp
Labels: documentation

#6008 Do not use dllimport in glog on Windows
  osquery/utils/conversions/BUCK
  osquery/utils/conversions/CMakeLists.txt
  osquery/utils/conversions/windows/strings.cpp
Labels: Windows, build

#6016 Use function `waitThenShutdown` to wait for the shutdown signal
  tools/codegen/templates/osquery_extension_group_main.cpp.in
Labels: extensions

#5902 Migrate glog and gflags to source build on macOS and Windows
  libraries/cmake/source_migration/modules/Findgflags.cmake
  libraries/cmake/source_migration/modules/Findglog.cmake
  osquery/logger/logger.h
Labels: libraries, ready for review

#6002 logging: Change logNumericsAsNumbers to numerics and add docs
  docs/wiki/deployment/logging.md
  docs/wiki/deployment/process-auditing.md
  osquery/core/query.cpp
  osquery/core/tests/query_tests.cpp
  osquery/logger/tests/logger.cpp
  osquery/sql/tests/sql_test_utils.cpp
  plugins/config/parsers/tests/decorators_tests.cpp
  plugins/logger/tests/filesystem_logger.cpp
Labels: API change, logging

#5972 yara memory management
  osquery/tables/yara/yara.cpp
Labels: Linux, virtual tables

#6023 libraries: Add libmagic to source_migration
  libraries/cmake/source/libmagic/CMakeLists.txt
  libraries/cmake/source/libmagic/config/linux/config.h
  libraries/cmake/source/libmagic/config/macos/config.h
  libraries/cmake/source_migration/modules/Findlibmagic.cmake
Labels: libraries, macOS

#6032 Don't always link to all AWS libraries
  libraries/cmake/source/aws-sdk-cpp/CMakeLists.txt
  osquery/tables/cloud/CMakeLists.txt
  osquery/utils/aws/CMakeLists.txt
  plugins/logger/CMakeLists.txt
Labels: AWS, build, cmake

#6031 Prefer 7zip when installing Strawberry Perl
  tools/ci/scripts/install_openssl_formula_dependencies.ps1
Labels: CI/CD, Windows

#6006 extensions compatibility : default columns to INDEX
  docs/wiki/installation/cli-flags.md
  osquery/sql/virtual_table.cpp
Labels: extensions

#6029 config: Code review for ATC parser
  plugins/config/parsers/auto_constructed_tables.cpp
Labels: configuration

#5971 yara : avoid scanning special files that could hang
  osquery/tables/yara/tests/yara_tests.cpp
  osquery/tables/yara/yara.cpp
  osquery/tables/yara/yara_utils.cpp
  osquery/tables/yara/yara_utils.h
Labels: bug, virtual tables

#6000 docs: Recommend macOS 10.11 deployment target
  azure-pipelines.yml
  docs/wiki/development/building.md
Labels: build, macOS

#6046 extensions: Skip shell socket when extensions are disabled
  osquery/extensions/extensions.cpp
Labels: bug, extensions, shell

#6054 Fix use after move in YARAEventSubscriber::configure
  osquery/tables/yara/yara_events.cpp
Labels: bug

#6053 tables: Improve nvram to use input variable names
  osquery/tables/system/darwin/nvram.cpp
  osquery/utils/conversions/darwin/cfdata.cpp
  specs/darwin/nvram.table
Labels: macOS, virtual tables

#6052 tables: Change atom_packages to use user constraints
  osquery/tables/applications/atom_packages.cpp
  specs/atom_packages.table
Labels: API change, bug, virtual tables

#6045 tables: Improve integration test debugging and deb_packages
  osquery/tables/system/linux/deb_packages.cpp
  tests/integration/tables/deb_packages.cpp
  tests/integration/tables/helper.cpp
Labels: Linux, test, virtual tables

#6048 docs: Add common code-review checks to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#5991 new windows_optional_features table
  osquery/tables/system/BUCK
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/tests/windows/windows_optional_features_tests.cpp
  osquery/tables/system/windows/windows_optional_features.cpp
  specs/windows/windows_optional_features.table
Labels: Windows, virtual tables

#6049 http_client: Handle relative redirects
  osquery/remote/http_client.cpp
  osquery/tables/networking/curl.cpp
Labels: bug, remote

#6050 parsers: Always apply the options parser first
  osquery/config/config.cpp
  osquery/config/config.h
  plugins/config/parsers/decorators.cpp
  plugins/config/parsers/tests/options_tests.cpp
Labels: bug, configuration

#6051 docs: Remove references to old osquery kernel extension
  docs/wiki/deployment/debugging.md
  docs/wiki/deployment/file-integrity-monitoring.md
  docs/wiki/development/creating-tables.md
  osquery/include/osquery/tables.h
  osquery/tables/system/BUCK
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/linux/kernel_integrity.cpp
  specs/BUCK
  specs/CMakeLists.txt
  specs/example.table
  specs/linux/kernel_integrity.table
  tests/integration/tables/BUCK
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/kernel_integrity.cpp
  tools/codegen/gentable.py
Labels: debt, documentation

#6038 tables: Re-enable required-column warning message
  osquery/sql/tests/sqlite_util_tests.cpp
  osquery/sql/virtual_table.cpp
Labels: user experience, virtual tables

#5942 fuzzing: Minify logic required for new harnesses
  osquery/main/harnesses/CMakeLists.txt
  osquery/main/harnesses/fuzz_config.cpp
  osquery/main/harnesses/fuzz_sqlquery.cpp
  osquery/main/harnesses/fuzz_utils.cpp
  osquery/main/harnesses/fuzz_utils.h
Labels: dynamic analysis

#6047 tables: Fix apt_sources and refactor tests
  osquery/tables/system/BUCK
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/posix/apt_sources.cpp
  osquery/tables/system/posix/apt_sources.h
  osquery/tables/system/tests/BUCK
  osquery/tables/system/tests/CMakeLists.txt
  osquery/tables/system/tests/posix/apt_sources_tests.cpp
  tests/integration/tables/apt_sources.cpp
Labels: Linux, test, virtual tables

#6055 added warning and turned off shallow for git version less than 2.14
  libraries/cmake/source/modules/utils.cmake
Labels: cmake

#6060 CMake: Workaround Thrift symlink issue on Windows
  libraries/cmake/source/modules/utils.cmake
Labels: bug, libraries

#6058 changelog: Add 4.1.1 changelog
  CHANGELOG.md
Labels: documentation

#6057 CMake: Prefer Python 3.7 then 3.6
  cmake/utilities.cmake
Labels: CI/CD, cmake

#6064 Force git to create symlinks on the CI
  azure-pipelines.yml
Labels: CI/CD, Windows

#6018 Added return code to requestShutdown call
  osquery/main/main.cpp
Labels: bug, user experience

#6065 CMake: explicitly enable ASM_MASM language on Windows
  cmake/globals.cmake
  libraries/cmake/source/boost/CMakeLists.txt
Labels: Windows, build, cmake

#6081 CMake: Change Python version required to be at least 3.5
  cmake/utilities.cmake
Labels: build, cmake

#5977 Fix python3 deprecation warning
  tools/codegen/amalgamate.py
  tools/codegen/genapi.py
  tools/codegen/genwebsitejson.py
Labels: build

#5434 Implement azure metadata and tags tables
  docs/wiki/deployment/configuration.md
  osquery/tables/CMakeLists.txt
  osquery/tables/cloud/BUCK
  osquery/tables/cloud/CMakeLists.txt
  osquery/tables/cloud/aws/ec2_instance_metadata.cpp
  osquery/tables/cloud/aws/ec2_instance_tags.cpp
  osquery/tables/cloud/azure/azure_instance_metadata.cpp
  osquery/tables/cloud/azure/azure_instance_tags.cpp
  osquery/utils/CMakeLists.txt
  osquery/utils/azure/BUCK
  osquery/utils/azure/CMakeLists.txt
  osquery/utils/azure/azure_util.cpp
  osquery/utils/azure/azure_util.h
  specs/BUCK
  specs/azure_instance_metadata.table
  specs/azure_instance_tags.table
Labels: cla signed, virtual tables

#6090 Update steps to install prerequisites on all platforms
  docs/wiki/development/building.md
Labels: development, documentation
