Repository osquery/osquery, pull requests merged in 2019-09, with the labels that each got.

#5740 Clarify permissions required for Windows build
  docs/wiki/development/building.md
Labels: Windows, documentation

#5718 Fix registry table exception closing an uninitialized key handle
  osquery/tables/system/windows/registry.cpp
Labels: Windows, bug

#5733 Fix bugs and update pathname variables in MSI package build script
  tools/deployment/make_windows_package.ps1
Labels: Windows, packaging

#5741 Add more complete docs on extension file permissions
  docs/wiki/deployment/extensions.md
Labels: documentation, extensions

#5752 Add missing tests not run in Buck
  azure-pipelines.yml
Labels: buck, test

#5742 Fix the reading of a certificate's serial
  osquery/tables/system/windows/certificates.cpp
Labels: Windows, bug, virtual tables

#5754 Implement caching on the CI
  azure-pipelines.yml
Labels: build

#5719 Fix optional AWS table compilation on Windows
  osquery/utils/aws/aws_util.h
  plugins/logger/aws_log_forwarder.h
Labels: Windows, build

#5750 readme: Replace information and build status table with lists
  README.md
Labels: documentation

#5748 Link binaries with Full RELRO on Linux
  cmake/flags.cmake
Labels: build, hardening

#5759 Linux custom toolchain integration
  CMakeLists.txt
  azure-pipelines.yml
  cmake/flags.cmake
  cmake/toolchain.cmake
  docs/wiki/development/building.md
  libraries/cmake/formula/modules/utils.cmake
  libraries/cmake/formula/openssl/CMakeLists.txt
  libraries/cmake/source/boost/CMakeLists.txt
  libraries/cmake/source/librpm/config/config.h
Labels: Linux, build, documentation

#5715 Don't return nil rows for the programs table
  osquery/tables/system/windows/programs.cpp
Labels: Windows, triage, virtual tables

#5765 cpack: Add TGZ optional generator for Linux
  cmake/packaging.cmake
Labels: Linux, packaging

#5751 Light edits on CONTRIBUTING
  CONTRIBUTING.md
Labels: documentation

#5763 changelog: Update 4.0.1 changes
  CHANGELOG.md
Labels: documentation

#5764 aws: Fix preprocessor define check
  osquery/utils/aws/aws_util.h
Labels: bug

#5770 cpack: Apply existing Linux package conventions
  cmake/packaging.cmake
Labels: Linux, packaging

#5772 cpack: Only use CMAKE_SET_DESTDIR for TGZ generator
  cmake/packaging.cmake
Labels: Linux, packaging

#5476 Intel ME table refactor
  osquery/tables/system/windows/intel_me.cpp
Labels: Windows, cla signed, virtual tables

#5767 Readthedocs cleanup
  docs/wiki/deployment/anomaly-detection.md
  docs/wiki/deployment/aws-logging.md
  docs/wiki/deployment/configuration.md
  docs/wiki/deployment/debugging.md
  docs/wiki/deployment/log-aggregation.md
  docs/wiki/deployment/logging.md
  docs/wiki/deployment/performance-safety.md
  docs/wiki/deployment/remote.md
  docs/wiki/deployment/syslog.md
  docs/wiki/development/building.md
  docs/wiki/development/config-plugins.md
  docs/wiki/development/creating-tables.md
  docs/wiki/development/logger-plugins.md
  docs/wiki/development/options-arguments.md
  docs/wiki/development/osquery-sdk.md
  docs/wiki/development/pubsub-framework.md
  docs/wiki/development/reading-files.md
  docs/wiki/development/unit-tests.md
  docs/wiki/index.md
  docs/wiki/installation/custom-packages.md
  docs/wiki/installation/install-freebsd.md
  docs/wiki/installation/install-linux.md
  docs/wiki/installation/install-macos.md
  docs/wiki/introduction/sql.md
  docs/wiki/introduction/using-osqueryi.md
Labels: documentation

#5776 libraries: Add patch to thrift to ignore EINTR
  libraries/cmake/source/thrift/patches/src/ignore_eintr.patch
Labels: Linux, bug, libraries

#5773 deployment: Add Mozilla CA certificate store 2019-08-28
  cmake/packaging.cmake
  tools/deployment/certs.pem
Labels: networking, packaging

#5778 Fix MSI installed service missing quotes on flagfile argument
  cmake/wix_patches/osquery_wix_patch.xml
Labels: Windows, deployment

#5783 docs: Add the Coverity scan build status
  README.md
Labels: documentation, static analysis

#5782 Fix OpenSSL build when no system ar is installed
  azure-pipelines.yml
  libraries/cmake/formula/openssl/CMakeLists.txt
Labels: Linux, bug, build

#5790 deploy: update windows choco scripts to migrate service to Program Files
  tools/deployment/chocolatey/tools/chocolateyinstall.ps1
Labels: Windows, deployment

#5791 Fix the website download link schemas
  tools/release/new_release.sh
Labels: website

#5808 Remove deprecated macOS package generator
  tools/deployment/make_osx_package.sh
Labels: build, packaging

#5810 Upgrade SQLite to 3.29.0 on macOS and Windows
  cmake/options.cmake
  libraries/CMakeLists.txt
  libraries/cmake/source/modules/utils.cmake
  libraries/cmake/source_migration/modules/Findsqlite.cmake
Labels: build, cmake

#5816 Suppress Boost warnings about newer compiler
  cmake/flags.cmake
Labels: build, cmake

#5818 Fix MSI Service Error handling
  cmake/wix_patches/osquery_wix_patch.xml
Labels: Windows, packaging

#5821 Revert "Remove deprecated macOS package generator"
  tools/deployment/make_osx_package.sh
Labels: macOS, packaging

#5819 Prune Vagrant boxes and fix AWS support
  Vagrantfile
  docs/wiki/development/building.md
Labels: development

#5828 Resolve compilation error of implicitly-deleted default constructor o…
  osquery/filesystem/posix/fileops.cpp
Labels: bug, macOS

#5830 format: Fix auto-formatting and format checking
  tools/formatting/format-check.py
Labels: bug, test

#5824 deploy: updating osquery --install to wrap binary path and flagfile
  osquery/main/main.cpp
  osquery/main/windows/main.cpp
Labels: Windows, deployment

#5822 CPack: Linux package nitpicks and docs
  cmake/packaging.cmake
  docs/wiki/development/building.md
Labels: Linux, documentation, packaging

#5820 Update Windows build instructions
  docs/wiki/development/building.md
Labels: Windows, build, documentation

#5479 Implementation of windows_security_products table
  osquery/tables/system/BUCK
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/windows/windows_security_products.cpp
  specs/BUCK
  specs/CMakeLists.txt
  specs/windows/windows_security_products.table
  tests/integration/tables/BUCK
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/windows_security_products.cpp
Labels: Windows, cla signed, needs response, virtual tables

#5834 Specify PATH when calling format_check if using the custom toolchain
  cmake/utilities.cmake
Labels: cmake

#5823 linux: Add --build-id linker option
  cmake/flags.cmake
Labels: Linux, build

#5827 packaging: Fix up make_osx_package to work for version 4+
  tools/deployment/make_osx_package.sh
Labels: macOS, packaging

#5835 Add a test for the format_check script
  azure-pipelines.yml
  tools/formatting/format-test.sh
Labels: test

#5780 Fix make rpm script to not break because of symlinks
  tools/deployment/getfiles.py
  tools/deployment/make_linux_package.sh
Labels: Linux, packaging, ready for review

#5832 tests: Enable RocksDB plugin tests
  plugins/database/CMakeLists.txt
  plugins/database/tests/BUCK
  plugins/database/tests/rocksdb.cpp
  plugins/database/tests/utils.cpp
  plugins/database/tests/utils.h
Labels: database, test

#5845 azure/macos: Fix for brew/ant install failing
  azure-pipelines.yml
Labels: bug, build, macOS
