Repository osquery/osquery, pull requests merged in 2019-10, with the labels that each got.

#5850 CMake: Improve submodule patching system
  libraries/cmake/source/googletest/CMakeLists.txt
  libraries/cmake/source/libudev/CMakeLists.txt
  libraries/cmake/source/modules/Findgoogletest.cmake
  libraries/cmake/source/modules/Findlibudev.cmake
  libraries/cmake/source/modules/Findthrift.cmake
  libraries/cmake/source/modules/Findutil-linux.cmake
  libraries/cmake/source/modules/utils.cmake
  libraries/cmake/source/thrift/CMakeLists.txt
  libraries/cmake/source/util-linux/CMakeLists.txt
Labels: cmake, libraries

#5841 bug: Use RecursiveMutex and read locking on getEventSubscriber
  osquery/events/events.cpp
  osquery/include/osquery/events.h
Labels: bug, events

#5844 fuzzing: Restore simple libFuzzer-based config fuzzing
  cmake/flags.cmake
  cmake/options.cmake
  osquery/main/CMakeLists.txt
  osquery/main/fuzz.cpp
  osquery/main/fuzz_config.cpp
Labels: Linux, dynamic analysis

#5852 Documentation around process-auditing
  docs/wiki/deployment/process-auditing.md
Labels: documentation, process auditing

#5500 (Windows) New table: connectivity
  osquery/tables/networking/BUCK
  osquery/tables/networking/CMakeLists.txt
  osquery/tables/networking/windows/connectivity.cpp
  specs/BUCK
  specs/CMakeLists.txt
  specs/windows/connectivity.table
  tests/integration/tables/BUCK
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/connectivity.cpp
Labels: Windows, cla signed, networking, ready for review

#5378 darwin/firewall: Fixes for alf_exceptions, make alf_services an alias for sharing_preferences
  osquery/tables/system/darwin/firewall.cpp
  osquery/tables/system/darwin/firewall.h
  osquery/tables/system/tests/darwin/firewall_tests.cpp
  osquery/utils/darwin/plist.h
  osquery/utils/darwin/plist.mm
  specs/BUCK
  specs/CMakeLists.txt
  specs/darwin/alf_services.table
  specs/darwin/sharing_preferences.table
  tests/integration/tables/alf_exceptions.cpp
  tests/integration/tables/alf_services.cpp
  tools/tests/test_alf_nested_path.plist
Labels: API change, cla signed, macOS, table

#5860 Improve error reporting from extension manager
  osquery/core/init.cpp
  osquery/extensions/extensions.cpp
  osquery/extensions/tests/extensions.cpp
Labels: extensions

#5846 Upgrade Python tools to Python3
  libraries/cmake/facebook/modules/api.cmake
  mode/system.py
  tools/analysis/fuzz.py
  tools/analysis/profile.py
  tools/analysis/stress.py
  tools/analysis/system_stress.py
  tools/cmake/downloader.py
  tools/codegen/amalgamate.py
  tools/codegen/genapi.py
  tools/codegen/gentable.py
  tools/codegen/gentargets.py
  tools/codegen/genwebsitejson.py
  tools/codegen/genwebsitemetadata.py
  tools/deployment/getfiles.py
  tools/formatting/format-check.py
  tools/formatting/git-clang-format.py
  tools/get_platform.py
  tools/hooks/pre-commit.py
  tools/tests/test_additional.py
  tools/tests/test_base.py
  tools/tests/test_example_queries.py
  tools/tests/test_extensions.py
  tools/tests/test_http_server.py
  tools/tests/test_osqueryd.py
  tools/tests/test_osqueryi.py
  tools/tests/test_release.py
  tools/tests/test_windows_service.py
  tools/tests/utils.py
  tools/tests/winexpect.py
Labels: build, macOS Catalina, test

#5857 [Table sanity check] npm_packages
  tests/integration/tables/npm_packages.cpp
Labels: test, virtual tables

#5864 [Table sanity check] startup_items
  tests/integration/tables/startup_items.cpp
Labels: test, virtual tables

#5855 Provide CI Dockerfile and some fake packages
  tools/ci/linux-base_1.0_all.deb
  tools/ci/linux-firmware_1.0_all.deb
  tools/ci/linux-generic_1.0_all.deb
  tools/ci/osquery-ubuntu18.04-toolchain.dockerfile
Labels: Linux, test

#5843 cpack: Update package logic to build DEB debuginfo
  cmake/packaging.cmake
Labels: Linux, packaging

#5730 Integrate cppcheck and clang-tidy within the CMake project
  CMakeLists.txt
  azure-pipelines.yml
  cmake/modules/Findclang-tidy.cmake
  cmake/modules/Findcppcheck.cmake
  cmake/options.cmake
  docs/wiki/development/building.md
  libraries/CMakeLists.txt
  libraries/cmake/source/modules/utils.cmake
  tests/CMakeLists.txt
  tests/cppcheck/CMakeLists.txt
  tests/cppcheck/libraries/googletest.cfg
  tests/cppcheck/suppressions_list.txt
  tools/ci/osquery-ubuntu18.04-toolchain.dockerfile
Labels: build, static analysis, test

#5872 Add ccache support also for compiling C
  cmake/globals.cmake
Labels: cmake

#5875 Fix regression in calling core only plugins from extensions
  osquery/registry/registry_interface.cpp
Labels: bug, extensions

#5876 [shell] support previously supported on|off toggle for osqueryi shell functions
  osquery/utils/conversions/tryto.cpp
Labels: bug, shell

#5869 [Table sanity check] sudoers
  tests/integration/tables/sudoers.cpp
Labels: test, virtual tables

#5871 [Table sanity check] chocolatey_packages
  tests/integration/tables/chocolatey_packages.cpp
Labels: Windows, test, virtual tables

#5881 Various fixes and CI steps for packaging
  azure-pipelines.yml
  cmake/packaging.cmake
  tools/ci/osquery-ubuntu18.04-toolchain.dockerfile
Labels: packaging, test

#5874 BPF/Map: Add missing return value in move operator
  osquery/utils/system/linux/ebpf/map.h
Labels: Linux, bug

#5441 (Windows) New table: default_environment
  osquery/tables/system/BUCK
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/windows/default_environment.cpp
  specs/BUCK
  specs/CMakeLists.txt
  specs/windows/default_environment.table
  tests/integration/tables/BUCK
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/default_environment.cpp
Labels: Windows, cla signed, table

#5889 Migrate AWS SDK CPP dependency to source build on macOS and Windows
  libraries/cmake/source/aws-sdk-cpp/CMakeLists.txt
  libraries/cmake/source_migration/modules/Findaws-sdk-cpp.cmake
Labels: AWS, libraries

#5446 genPCIDevices for linux refactor
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/linux/pci_devices.cpp
  osquery/tables/system/linux/pci_devices.h
  osquery/tables/system/tests/CMakeLists.txt
  osquery/tables/system/tests/linux/pci_devices_tests.cpp
  osquery/tables/system/tests/linux/pcidb_tests.cpp
Labels: Linux, cla signed, ready for review, virtual tables

#5887 tables: update Windows codename column to be that of name
  osquery/tables/system/windows/os_version.cpp
Labels: Hacktoberfest, Windows, bug, flaky test

#5885 macOS keychain sanity test
  osquery/tables/system/darwin/keychain_items.cpp
  tests/integration/tables/keychain_items.cpp
Labels: Hacktoberfest, macOS, test

#5897 Fix shallow clone support for libraries in recent git versions
  azure-pipelines.yml
  libraries/cmake/source/modules/Findlibcryptsetup.cmake
  libraries/cmake/source/modules/Findlibgcrypt.cmake
  libraries/cmake/source/modules/Findlibgpg-error.cmake
  libraries/cmake/source/modules/utils.cmake
Labels: cmake, libraries

#5907 Support source and build directory to be on different filesystems
  CMakeLists.txt
  libraries/cmake/source/modules/utils.cmake
Labels: build, cmake

#5851 Restore extension SDK support to osquery 4.x
  .gitignore
  CMakeLists.txt
  external/CMakeLists.txt
  external/cmake/cmakelibs.cmake
  libraries/cmake/source/boost/CMakeLists.txt
  libraries/cmake/source/modules/Findboost.cmake
  tools/codegen/templates/osquery_extension_group_main.cpp.in
Labels: cmake, extensions

#5899 Migrate rapidjson to source build on macOS and Windows
  libraries/cmake/source_migration/modules/Findrapidjson.cmake
Labels: cmake, libraries

#5893 json: Configure rapidjson to use iterative parsing
  osquery/utils/json/json.h
  osquery/utils/json/tests/json.cpp
Labels: bug, dependency

#5825 packaging: Fix up make_linux_package to work for version 4+
  tools/deployment/make_linux_package.sh
Labels: Linux, packaging

#5910 Move fuzzing harness to a new directory and refactor fuzzing constants (#5909)
  cmake/flags.cmake
  cmake/options.cmake
  osquery/main/CMakeLists.txt
  osquery/main/harnesses/CMakeLists.txt
  osquery/main/harnesses/fuzz_config.cpp
Labels: cmake, dynamic analysis

#5911 leak: Fix memory leak when SQL query fails
  osquery/sql/sqlite_util.cpp
Labels: SQL, dynamic analysis, memory leak

#5903 tests: Add sanity test for nvram
  tests/integration/tables/nvram.cpp
Labels: Hacktoberfest, test

#5912 docs: Nitpicks to improve new-user experience
  CONTRIBUTING.md
  docs/wiki/development/building.md
Labels: documentation

#5898 Add platform_mask
  osquery/tables/utility/osquery.cpp
  osquery/utils/info/platform_type.h
  specs/utility/osquery_info.table
Labels: virtual tables

#5926 remove the value_max flag
  osquery/include/osquery/sql.h
  osquery/sql/sql.cpp
Labels: dead code

#5919 windows processes: Implement missing pid index
  osquery/tables/system/windows/processes.cpp
Labels: Windows, virtual tables

#5928 CMake: Migrate macOS and Windows to the OpenSSL formula
  azure-pipelines.yml
  docs/wiki/development/building.md
  libraries/cmake/formula/modules/utils.cmake
  libraries/cmake/formula/openssl/CMakeLists.txt
  libraries/cmake/source_migration/modules/Findopenssl.cmake
  tools/ci/scripts/install_openssl_formula_dependencies.ps1
Labels: cmake, libraries

#5924 Fix WHERE in(N items) results in table query running N times
  osquery/sql/tests/virtual_table.cpp
  osquery/sql/virtual_table.cpp
Labels: SQL, bug

#5906 RegistryInterface: add locks to more methods
  osquery/include/osquery/registry_interface.h
  osquery/registry/registry_interface.cpp
Labels: dynamic analysis

#5891 Removing code repetition and fixing timer bug
  osquery/remote/http_client.cpp
  osquery/remote/http_client.h
Labels: networking

#5879 tests: Increase reliability of interfaces test
  tests/integration/tables/interface_addresses.cpp
Labels: macOS, triage

#5935 config: Add check for non-object multi-packs
  osquery/config/config.cpp
  osquery/config/tests/packs.cpp
  osquery/utils/json/tests/json.cpp
Labels: bug, configuration, flaky test

#5915 Add scripts to generate a dictionary and seed corpus for the config fuzzing
  tools/harnesses/osqueryfuzz_config_corpus.sh
  tools/harnesses/osqueryfuzz_config_dict.sh
Labels: dynamic analysis

#5923 Add a fuzz target for SQL query
  osquery/main/harnesses/CMakeLists.txt
  osquery/main/harnesses/fuzz_sqlquery.cpp
  tools/harnesses/osqueryfuzz_sqlquery.dict
  tools/harnesses/osqueryfuzz_sqlquery_corpus.sh
Labels: dynamic analysis

#5940 Add elfutils to the CI Dockerfile
  azure-pipelines.yml
  tools/ci/osquery-ubuntu18.04-toolchain.dockerfile
Labels: dependency, packaging

#5934 cpack: Use productbuild shim to override package_id
  cmake/packaging.cmake
  tools/deployment/productbuild.sh
Labels: macOS, packaging

#5943 Fix a race condition during the shutdown of the worker process
  osquery/core/init.cpp
  osquery/examples/example_extension.cpp
  osquery/examples/example_writable_table.cpp
  osquery/include/osquery/system.h
  osquery/main/main.cpp
Labels: bug

#5950 buck: Detect git version
  osquery/utils/info/BUCK
  tools/buckconfigs/base.bcfg
  tools/build_defs/oss/osquery/native.bzl
Labels: buck

#5954 docs: Add reference to buffered_log_max option
  docs/wiki/installation/cli-flags.md
Labels: documentation, logging

#5946 http: Minor fixups to Client
  osquery/remote/http_client.cpp
  osquery/remote/http_client.h
  osquery/remote/transports/tls.cpp
  osquery/remote/transports/tls.h
Labels: refactor, remote

#5956 logger: Expose max_lines and correct flag types
  docs/wiki/installation/cli-flags.md
  plugins/logger/tls_logger.cpp
Labels: feature, logging, remote

#5955 Update osqueryfuzz_config_corpus.sh to correct the path to the tests directory
  tools/harnesses/osqueryfuzz_config_corpus.sh
Labels: bug, dynamic analysis

#5938 5675 advert index not implemented
  specs/chrome_extensions.table
  specs/curl.table
  specs/darwin/browser_plugins.table
  specs/darwin/crashes.table
  specs/darwin/event_taps.table
  specs/darwin/kernel_extensions.table
  specs/darwin/keychain_items.table
  specs/darwin/package_receipts.table
  specs/darwin/preferences.table
  specs/darwin/safari_extensions.table
  specs/darwin/signature.table
  specs/linux/ec2_instance_metadata.table
  specs/linux/npm_packages.table
  specs/linux/rpm_packages.table
  specs/posix/authorized_keys.table
  specs/posix/known_hosts.table
  specs/posix/opera_extensions.table
  specs/posix/ssh_configs.table
  specs/posix/system_controls.table
  specs/python_packages.table
  specs/smart/smart_drive_info.table
  specs/windows/drivers.table
  specs/windows/ie_extensions.table
  specs/windows/logon_sessions.table
  specs/windows/winbaseobj.table
  specs/yara/yara.table
Labels: virtual tables

#5941 tests: Add test for JSON exponent parsing
  osquery/utils/json/tests/json.cpp
  third-party/rapidjson/BUCK
  third-party/rapidjson/osquery.library
Labels: buck, test

#5962 logger: Restore TLS logger runtime flags
  plugins/logger/tls_logger.cpp
Labels: logging

#5963 Update osqueryfuzz_config_dict.sh to correct the paths to the tests and packs directories
  tools/harnesses/osqueryfuzz_config_dict.sh
Labels: dynamic analysis

#5957 improve etc_protocols test
  tests/integration/tables/etc_protocols.cpp
Labels: test

#5951 cpack: Add Debian copyright file and Augeas license
  cmake/packaging.cmake
  tools/deployment/copyright.debian
Labels: Linux, packaging

#5949 killswitch: Remove killswitch code
  osquery/CMakeLists.txt
  osquery/config/config.cpp
  osquery/config/tests/BUCK
  osquery/config/tests/CMakeLists.txt
  osquery/core/init.cpp
  osquery/dispatcher/scheduler.cpp
  osquery/include/osquery/killswitch.h
  osquery/killswitch/BUCK
  osquery/killswitch/CMakeLists.txt
  osquery/killswitch/killswitch.cpp
  osquery/killswitch/killswitch_plugin.cpp
  osquery/killswitch/killswitch_plugin.h
  osquery/killswitch/killswitch_refreshable_plugin.cpp
  osquery/killswitch/killswitch_refreshable_plugin.h
  osquery/killswitch/tests/BUCK
  osquery/killswitch/tests/CMakeLists.txt
  osquery/killswitch/tests/killswitch_tests.cpp
  osquery/logger/BUCK
  osquery/logger/CMakeLists.txt
  osquery/logger/logger.cpp
  osquery/main/BUCK
  osquery/main/CMakeLists.txt
  osquery/main/harnesses/CMakeLists.txt
  osquery/profiler/posix/code_profiler.cpp
  osquery/profiler/windows/code_profiler.cpp
  osquery/remote/enroll/BUCK
  osquery/remote/enroll/CMakeLists.txt
  osquery/remote/tests/BUCK
  osquery/remote/tests/CMakeLists.txt
  osquery/remote/transports/BUCK
  osquery/remote/transports/CMakeLists.txt
  osquery/sdk/BUCK
  osquery/sdk/CMakeLists.txt
  osquery/sdk/tests/registry_tests.cpp
  plugins/CMakeLists.txt
  plugins/killswitch/BUCK
  plugins/killswitch/CMakeLists.txt
  plugins/killswitch/killswitch_filesystem.cpp
  plugins/killswitch/killswitch_filesystem.h
  plugins/killswitch/killswitch_tls.cpp
  plugins/killswitch/killswitch_tls.h
  plugins/killswitch/tests/BUCK
  plugins/killswitch/tests/CMakeLists.txt
  plugins/killswitch/tests/killswitch_filesystem_tests.cpp
Labels: dead code, refactor

#5944 new: aws_session_token support
  osquery/utils/aws/aws_util.cpp
Labels: AWS

#5973 Explicitly select Xcode version 10.3 in azure-pipelines.yml
  azure-pipelines.yml
Labels: buck, build, cmake, macOS

#5937 Fix a race condition between Thrift server stop() and listen()
  osquery/extensions/impl_thrift.cpp
Labels: bug, extensions

#5945 powershell/config: Add checks for character_frequencies
  osquery/tables/events/windows/powershell_events.cpp
  plugins/config/parsers/feature_vectors.cpp
Labels: Windows, configuration

#5953 audit: Allow configuring audit_backlog_wait_time
  osquery/events/linux/auditdnetlink.cpp
Labels: Linux, events

#5947 http: Move away from deprecated async_resolve overload
  osquery/remote/http_client.cpp
Labels: bug, remote

#5970 CMake: Improvements to extensions support
  external/CMakeLists.txt
  external/cmake/cmakelibs.cmake
Labels: cmake, extensions

#5900 Migrate glibc from "facebook" dependencies
  CMakeLists.txt
  cmake/flags.cmake
  libraries/cmake/facebook/glibc/CMakeLists.txt
  libraries/cmake/facebook/googletest/CMakeLists.txt
  libraries/cmake/facebook/modules/Findglibc.cmake
  libraries/cmake/source/zstd/CMakeLists.txt
  osquery/core/CMakeLists.txt
  osquery/process/CMakeLists.txt
  osquery/tables/networking/CMakeLists.txt
Labels: cmake, libraries, needs response
