Repository osquery/osquery, pull requests merged in 2019-12, with the labels that each got.

#5908 tests: adding platform conversion strings tests
  osquery/utils/conversions/BUCK
  osquery/utils/conversions/CMakeLists.txt
  osquery/utils/conversions/windows/tests/strings.cpp
Labels: Windows, macOS, test

#6071 config: Add more checks for pack JSON
  osquery/config/packs.cpp
  tools/tests/test_inline_pack.conf
Labels: configuration

#5981 macOS: Add a `bsd_flags` column to the `file` table
  osquery/filesystem/BUCK
  osquery/filesystem/CMakeLists.txt
  osquery/filesystem/darwin/bsd_file_flags.cpp
  osquery/filesystem/fileops.h
  osquery/filesystem/tests/darwin/bsd_file_flags_tests.cpp
  osquery/tables/utility/file.cpp
  specs/utility/file.table
  tests/integration/tables/file.cpp
Labels: macOS, virtual tables

#6093 cpack: Revert renaming com.facebook.plist to com.osquery.plist
  cmake/packaging.cmake
Labels: bug, macOS, packaging

#6096 linux: Update systemd service to use KillMode=control-group
  tools/deployment/osqueryd.service
Labels: Linux, bug, packaging

#6103 tables: Fix mdfind table by requiring query
  specs/darwin/mdfind.table
  tests/integration/tables/mdfind.cpp
Labels: bug, virtual tables

#6101 Fix possible xxhash collision between zstd and rdkafka
  libraries/cmake/source/librdkafka/CMakeLists.txt
  libraries/cmake/source/zstd/CMakeLists.txt
Labels: cmake

#6110 docs: Fix custom package markdown
  docs/wiki/development/building.md
Labels: documentation

#6104 tables: Remove INDEX requirement for ADDITIONAL option
  osquery/core/tables.cpp
  osquery/sql/tests/virtual_table.cpp
  tools/codegen/gentable.py
Labels: virtual tables

#6113 rpm_packages: Add the install_time column
  osquery/tables/system/linux/rpm_packages.cpp
  specs/linux/rpm_packages.table
Labels: Linux, feature

#6114 Use cert bundle in repo for make_windows_package script
  tools/deployment/make_windows_package.ps1
Labels: Windows, bug, packaging

#6097 cpack: Add RPM and DEB postinstall script
  cmake/CPackConfig.cmake.in
  cmake/packaging.cmake
Labels: Linux, bug, packaging

#6120 CMake: Future proof Python finding mechanism
  cmake/utilities.cmake
  libraries/cmake/facebook/modules/api.cmake
  tools/codegen/CMakeLists.txt
  tools/tests/CMakeLists.txt
Labels: CI/CD, cmake

#6119 Print CMake version in the CI
  azure-pipelines.yml
Labels: CI/CD

#6088 Added Brave/Chromium support for chrome_extensions
  osquery/tables/applications/browser_chrome.cpp
  osquery/tables/applications/browser_utils.cpp
  osquery/tables/applications/browser_utils.h
  osquery/tables/applications/posix/browser_opera.cpp
  tests/integration/tables/chrome_extensions.cpp
Labels: virtual tables

#6105 tables: Add constraints and testing
  osquery/tables/system/python_packages.cpp
  specs/carves.table
  specs/darwin/apps.table
  specs/darwin/asl.table
  specs/darwin/running_apps.table
  specs/macwin/certificates.table
  specs/posix/docker_container_mounts.table
  specs/posix/docker_container_networks.table
  specs/posix/docker_container_ports.table
  specs/posix/docker_container_processes.table
  specs/posix/docker_container_stats.table
  specs/posix/docker_containers.table
  specs/routes.table
  specs/windows/ntfs_acl_permissions.table
  tests/integration/tables/apps.cpp
  tests/integration/tables/asl.cpp
  tests/integration/tables/browser_plugins.cpp
  tests/integration/tables/carves.cpp
  tests/integration/tables/crashes.cpp
  tests/integration/tables/helper.cpp
  tests/integration/tables/helper.h
  tests/integration/tables/keychain_items.cpp
  tests/integration/tables/ntfs_acl_permissions.cpp
  tests/integration/tables/preferences.cpp
  tests/integration/tables/process_open_sockets.cpp
  tests/integration/tables/python_packages.cpp
  tests/integration/tables/routes.cpp
  tests/integration/tables/running_apps.cpp
Labels: test, virtual tables

#6106 Enable more column validation on integration tests
  tests/integration/tables/BUCK
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/cpuid.cpp
  tests/integration/tables/keychain_acls.cpp
  tests/integration/tables/mounts.cpp
  tests/integration/tables/sharing_preferences.cpp
  tests/integration/tables/suid_bin.cpp
Labels: test

#6116 Restore test_osqueryd.py test
  osquery/CMakeLists.txt
  tools/tests/CMakeLists.txt
  tools/tests/test_base.py
  tools/tests/test_osqueryd.py
  tools/tests/winexpect.py
Labels: cmake, test

#6126 [Table sanity check] chrome_extensions
  tests/integration/tables/chrome_extensions.cpp
Labels: test, virtual tables

#6128 tables: Fix ntfs_acl_permissions
  osquery/tables/system/windows/ntfs_acl_permissions.cpp
Labels: Windows, bug, virtual tables

#6122 tables: Match column attributes to usage
  specs/darwin/browser_plugins.table
  specs/darwin/crashes.table
  specs/darwin/keychain_items.table
  specs/linux/rpm_package_files.table
  specs/linux/rpm_packages.table
  specs/posix/docker_container_labels.table
  specs/posix/docker_container_processes.table
  specs/posix/docker_volume_labels.table
  specs/posix/docker_volumes.table
Labels: virtual tables

#6130 changelog: Add CHANGELOG for 4.1.2
  CHANGELOG.md
Labels: documentation

#6132 Fix regression in oss-fuzz after moving the test config files
  tools/harnesses/osqueryfuzz_config_corpus.sh
  tools/harnesses/osqueryfuzz_config_dict.sh
Labels: oss-fuzz

#6145 bug: Fix race in Dispatcher adding and stopping
  osquery/config/tests/config_tests.cpp
  osquery/dispatcher/dispatcher.cpp
  osquery/extensions/tests/extensions.cpp
  osquery/include/osquery/dispatcher.h
Labels: bug

#6115 Add optional_permissions column to chrome_extensions table
  osquery/tables/applications/browser_utils.cpp
  specs/chrome_extensions.table
Labels: feature, virtual tables
