Repository osquery/osquery, pull requests merged in 2020-01, with the labels that each got.

#5504 core/windows/wmi: Add ability to exec methods on WMI results
  osquery/core/CMakeLists.txt
  osquery/core/tests/BUCK
  osquery/core/tests/CMakeLists.txt
  osquery/core/tests/windows/wmi_tests.cpp
  osquery/core/windows/wmi.cpp
  osquery/core/windows/wmi.h
Labels: Windows, cla signed

#5371 (Windows) New table: ntfs_journal_events
  osquery/events/BUCK
  osquery/events/CMakeLists.txt
  osquery/events/tests/BUCK
  osquery/events/tests/CMakeLists.txt
  osquery/events/tests/windows/usn_journal_reader_tests.cpp
  osquery/events/windows/ntfs_event_publisher.cpp
  osquery/events/windows/ntfs_event_publisher.h
  osquery/events/windows/usn_journal_reader.cpp
  osquery/events/windows/usn_journal_reader.h
  osquery/tables/events/BUCK
  osquery/tables/events/CMakeLists.txt
  osquery/tables/events/windows/ntfs_journal_events.cpp
  osquery/tables/events/windows/ntfs_journal_events.h
  osquery/utils/mutex.h
  osquery/utils/system/BUCK
  osquery/utils/system/CMakeLists.txt
  osquery/utils/system/errno.h
  osquery/utils/system/windows/errno.cpp
  osquery/utils/system/windows/time.cpp
  specs/BUCK
  specs/CMakeLists.txt
  specs/windows/ntfs_journal_events.table
Labels: Windows, cla signed, events, virtual tables

#6156 toolchain: Add required includes for azure and ebpf
  osquery/utils/azure/azure_util.cpp
  osquery/utils/system/linux/ebpf/program.h
Labels: Linux

#6158 build: Pin Linux builds to use libc++
  cmake/flags.cmake
  libraries/cmake/formula/openssl/CMakeLists.txt
Labels: Linux, build

#6157 Include header files in the test of format-check.py
  tools/formatting/format-test.sh
Labels: CI/CD, bug, test

#6155 windows/bitlocker_info: Fetch WMI method results
  osquery/tables/system/windows/bitlocker_info.cpp
  specs/windows/bitlocker_info.table
Labels: Windows, virtual tables

#6166 Make Boost winapi available to all platforms
  libraries/cmake/source/boost/CMakeLists.txt
Labels: build, cla signed, cmake, extensions, libraries

#6167 Fix boost process basic_ipstream build
  libraries/cmake/source/boost/CMakeLists.txt
  libraries/cmake/source/boost/patches/src/libs/process/ipstream_move_assignment.patch
  libraries/cmake/source/modules/Findboost.cmake
Labels: build, cla signed, cmake, extensions, libraries

#6164 Restore WEL logger plugin
  CMakeLists.txt
  cmake/packaging.cmake
  cmake/utilities.cmake
  osquery/CMakeLists.txt
  tools/CMakeLists.txt
  tools/wel/osquery.rc
  tools/wel/osquery.rc.in
  tools/windows_resources.rc.in
Labels: Windows, build, cmake

#6154 adding docker image layers table
  osquery/tables/applications/posix/docker.cpp
  specs/CMakeLists.txt
  specs/posix/docker_image_layers.table
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/docker_image_layers.cpp
Labels: feature, virtual tables

#6136 Add docs to show that config_dump flag exits
  docs/wiki/deployment/debugging.md
  docs/wiki/installation/cli-flags.md
  osquery/config/config.cpp
Labels: configuration, documentation

#6124 website: Update the website specs formatting code genapi
  tools/codegen/genapi.py
  tools/codegen/genwebsitejson.py
Labels: website

#6147 Add missing validation to fix `last` table
  osquery/tables/system/BUCK
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/posix/last.cpp
  osquery/tables/system/posix/last.h
  osquery/tables/system/tests/CMakeLists.txt
  osquery/tables/system/tests/posix/last_tests.cpp
  tests/integration/tables/last.cpp
Labels: bug, virtual tables

#6171 Fix flaky LoggerTests.test_logger_log_status
  osquery/logger/tests/logger.cpp
Labels: bug, test

#6142 Adding process_open_pipes table
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/linux/process_open_pipes.cpp
  specs/CMakeLists.txt
  specs/posix/process_open_pipes.table
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/process_open_pipes.cpp
Labels: Linux, feature, virtual tables

#6175 Fix Issue#6173: Update WmiRequest constructor to wstring from BSTR
  osquery/core/windows/wmi.cpp
  osquery/core/windows/wmi.h
Labels: Windows, bug

#6112 toolchain: Add CMake options for linking
  cmake/flags.cmake
  cmake/toolchain.cmake
Labels: Linux, build

#6150 flags: Implement enable_tables
  docs/wiki/installation/cli-flags.md
  osquery/sql/sqlite_util.cpp
  osquery/sql/sqlite_util.h
  osquery/sql/tests/sqlite_util_tests.cpp
  tools/deployment/osquery.example.conf
Labels: configuration, feature

#6187 fix: UTF-8<->UTF-16 conversion for windows; issue #6160
  osquery/devtools/shell.cpp
  osquery/tables/system/windows/logged_in_users.cpp
  osquery/utils/conversions/windows/strings.cpp
  osquery/utils/conversions/windows/tests/strings.cpp
Labels: Windows, bug

#6184 tests: Improve hash table integration tests
  tests/integration/tables/hash.cpp
Labels: test

#6188 Fix format_check.py failing on Windows with Python 3.7
  tools/formatting/format-check.py
Labels: Windows, development

#6182 tests: Reduce flakyness of test_processes_memory_cpu
  osquery/tables/system/tests/system_tables_tests.cpp
Labels: test

#5426 Create HVCI table for Windows Device Guard
  osquery/tables/system/BUCK
  osquery/tables/system/windows/hvci_status.cpp
  specs/BUCK
  specs/windows/hvci_status.table
  tests/integration/tables/hvci_status.cpp
Labels: Windows, cla signed, virtual tables

#6118 selinux_settings: New table that presents effective SELinux settings
  osquery/filesystem/BUCK
  osquery/filesystem/CMakeLists.txt
  osquery/filesystem/linux/mounts.cpp
  osquery/filesystem/linux/mounts.h
  osquery/tables/system/BUCK
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/linux/mounts.cpp
  osquery/tables/system/linux/selinux_settings.cpp
  osquery/tables/system/tests/BUCK
  osquery/tables/system/tests/CMakeLists.txt
  osquery/tables/system/tests/linux/selinux_settings_tests.cpp
  specs/CMakeLists.txt
  specs/linux/selinux_settings.table
Labels: Linux, cla signed, table

#6201 Fix format folder exclusion and format check self test
  cmake/utilities.cmake
  tools/formatting/format-test.sh
Labels: CI/CD, bug

#6138 apparmor_profiles: New table that presents active AppArmor profiles
  osquery/tables/system/BUCK
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/linux/apparmor_profiles.cpp
  specs/CMakeLists.txt
  specs/linux/apparmor_profiles.table
Labels: Linux, feature

#6203 thirdparty_boost_asio should depend on thirdparty_openssl
  libraries/cmake/source/boost/CMakeLists.txt
Labels: bug, cmake, libraries

#6189 fuzzing: Reduce sqlquery false positives
  osquery/main/harnesses/fuzz_utils.cpp
Labels: oss-fuzz

#6202 Add some more information about formatting
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  docs/wiki/development/building.md
Labels: documentation

#6196 Add blacklisted column to osquery_schedule query
  packs/osquery-monitoring.conf
Labels: packs

#6153 services, startup_items: More intelligent expansion
  osquery/tables/system/BUCK
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/windows/services.cpp
  osquery/tables/system/windows/startup_items.cpp
  osquery/utils/BUCK
  osquery/utils/CMakeLists.txt
  osquery/utils/system/BUCK
  osquery/utils/system/CMakeLists.txt
  osquery/utils/system/env.h
  osquery/utils/system/windows/env.cpp
  osquery/utils/tests/windows/env.cpp
Labels: Windows

#6217 Fix description for prometheus_metrics table
  specs/posix/prometheus_metrics.table
Labels: documentation

#6208 events/windows: Prevent overly eager old name record handling
  osquery/events/tests/windows/usn_journal_reader_tests.cpp
  osquery/events/windows/ntfs_event_publisher.cpp
  osquery/events/windows/usn_journal_reader.h
  osquery/tables/events/windows/ntfs_journal_events.cpp
Labels: Windows, bug, events

#6207 Update build files to include windows_optional_features table
  osquery/tables/system/tests/BUCK
  osquery/tables/system/tests/CMakeLists.txt
  specs/BUCK
  specs/CMakeLists.txt
  specs/windows/windows_optional_features.table
Labels: buck, build, cmake
