Repository osquery/osquery, pull requests merged in 2020-06, with the labels that each got.

#6472 Fix libelfin build on ossfuzz and LLVM/Clang 10
  libraries/cmake/source/libelfin/patches/src/incorrect_const_set_binding.patch
  libraries/cmake/source/modules/Findlibelfin.cmake
Labels: build, libraries, oss-fuzz

#6474 Only explode registry key if it can be tokenized
  osquery/tables/system/windows/registry.cpp
Labels: Windows, bug, virtual tables

#6454 Link librdkafka on windows
  libraries/cmake/source/librdkafka/CMakeLists.txt
  plugins/logger/CMakeLists.txt
  plugins/logger/tests/CMakeLists.txt
Labels: Windows, build, libraries

#6480 Actually use the patched libelfin version
  libraries/cmake/source/libelfin/CMakeLists.txt
Labels: build, libraries, oss-fuzz

#6414 Add container access to DEB, RPM, NPM packages tables
  osquery/tables/system/linux/deb_packages.cpp
  osquery/tables/system/linux/npm_packages.cpp
  osquery/tables/system/linux/rpm_packages.cpp
  specs/linux/deb_packages.table
  specs/linux/npm_packages.table
  specs/linux/rpm_packages.table
  tests/integration/tables/deb_packages.cpp
  tests/integration/tables/npm_packages.cpp
  tests/integration/tables/rpm_packages.cpp
Labels: Linux, feature, virtual tables

#6413 Add container access to the os_version table
  osquery/tables/system/linux/os_version.cpp
  specs/os_version.table
  tests/integration/tables/os_version.cpp
Labels: Linux, feature, virtual tables

#6479 docs: Improve the new table tutorial
  docs/wiki/development/creating-tables.md
Labels: documentation

#6488 Change compile time 'blacklist' to 'denylist'
  docs/wiki/deployment/performance-safety.md
  specs/denylist
  tools/codegen/genapi.py
  tools/codegen/gentable.py
  tools/codegen/templates/denylist.cpp.in
  tools/tests/utils.py
Labels: refactor

#6487 Use 'denylist' instead of 'blacklist' in query scheduling
  docs/wiki/deployment/configuration.md
  docs/wiki/deployment/debugging.md
  docs/wiki/development/building.md
  osquery/config/config.cpp
  osquery/config/config.h
  osquery/config/packs.cpp
  osquery/config/tests/config_tests.cpp
  osquery/core/sql/scheduled_query.h
  osquery/tables/utility/osquery.cpp
  packs/osquery-monitoring.conf
  specs/utility/osquery_schedule.table
  tests/integration/tables/osquery_schedule.cpp
  tools/tests/configs/test_inline_pack.conf
Labels: documentation, query-scheduler, refactor

#6483 Change ErrorBase::takeUnderlyingError to non const
  osquery/utils/error/error.h
Labels: bug, build, oss-fuzz

#6476 Add Auto Table Construction to docs
  docs/wiki/deployment/configuration.md
Labels: documentation

#6485 Add validate_container_rows helper for integration tests
  tests/integration/tables/deb_packages.cpp
  tests/integration/tables/helper.cpp
  tests/integration/tables/helper.h
  tests/integration/tables/npm_packages.cpp
  tests/integration/tables/os_version.cpp
  tests/integration/tables/rpm_packages.cpp
Labels: Linux, test

#6489 Update documentation to use 'allow list' and 'deny list' diction
  docs/wiki/installation/cli-flags.md
  osquery/include/osquery/registry_interface.h
  packs/windows-hardening.conf
Labels: documentation

#6486 Make file and hash container columns hidden
  specs/hash.table
  specs/utility/file.table
  tests/integration/tables/file.cpp
  tests/integration/tables/hash.cpp
  tests/integration/tables/helper.cpp
  tests/integration/tables/helper.h
Labels: Linux, test, virtual tables

#6482 Aptsources
  osquery/tables/system/posix/apt_sources.cpp
  osquery/tables/system/posix/apt_sources.h
  osquery/tables/system/tests/posix/apt_sources_tests.cpp
Labels: Linux, bug, virtual tables

#6449 Fix for #5890: Event Format Results and the Kafka Logger
  plugins/logger/kafka_producer.cpp
  plugins/logger/tests/kafka_producer_tests.cpp
Labels: bug, logging

#6494 docs: Remove references to brew in macOS install
  docs/wiki/installation/install-macos.md
Labels: documentation, macOS

#6493 Only emit 'denylist' warning once
  osquery/config/packs.cpp
Labels: user experience

#6490 http: Use sync resolve
  osquery/remote/http_client.cpp
Labels: Windows, bug, remote

#6508 bug: Fix typed_row table caching
  tools/codegen/templates/typed_row.h.in
Labels: bug, virtual tables

#6022 packaging: updating docs on cpack usage to include Chocolatey
  docs/wiki/development/building.md
Labels: documentation, packaging

#6512 bug: Do not use system proxy for AWS local authority
  osquery/remote/http_client.cpp
  osquery/remote/http_client.h
  osquery/tables/cloud/aws/ec2_instance_metadata.cpp
  osquery/utils/aws/aws_util.cpp
  osquery/utils/aws/aws_util.h
  osquery/utils/azure/azure_util.cpp
Labels: bug, remote, virtual tables

#6518 tests: Fix atom_packages, processes, rpm_packages flakiness
  tests/integration/tables/atom_packages.cpp
  tests/integration/tables/processes.cpp
  tests/integration/tables/rpm_packages.cpp
Labels: flaky test, test

#6519 docs: Add note to bump the Homebrew cask
  .github/ISSUE_TEMPLATE/New_Release.md
Labels: documentation

#6521 CMake: Fix and cleanup compile flags
  cmake/flags.cmake
  osquery/sdk/CMakeLists.txt
Labels: build, cmake

#6513 tables: Only populate table cache with star-like selects
  osquery/core/tables.cpp
  osquery/include/osquery/tables.h
  osquery/sql/tests/virtual_table.cpp
Labels: bug, virtual tables

#6522 CMake: Correct macOS framework linking
  cmake/flags.cmake
Labels: build, cmake, macOS

#6507 build: Add Azure tables to specs CMakeLists
  osquery/tables/CMakeLists.txt
  osquery/tables/cloud/CMakeLists.txt
  osquery/utils/azure/azure_util.cpp
  specs/CMakeLists.txt
  tests/integration/tables/azure_instance_metadata.cpp
  tests/integration/tables/azure_instance_tags.cpp
Labels: bug, build, virtual tables

#6492 Changelog for 4.4.0
  CHANGELOG.md
Labels: documentation

#6523 Add additional changelog items
  CHANGELOG.md
Labels: documentation

#6528 Azure Pipelines: Update compiler version used to v142
  azure-pipelines.yml
  docs/wiki/development/building.md
Labels: CI/CD, Windows, build, documentation

#6527 CPack: Use specific RPM variables to set the package name
  cmake/packaging.cmake
Labels: cmake, packaging

#6529 CPack: Update and uniform instructions to build a package
  docs/wiki/development/building.md
Labels: cmake, documentation, packaging
