Repository osquery/osquery, pull requests merged in 2020-03, with the labels that each got.

#6095 Build librdkafka on Windows
  CMakeLists.txt
  libraries/cmake/source/librdkafka/CMakeLists.txt
  libraries/cmake/source/zstd/CMakeLists.txt
  libraries/cmake/source_migration/modules/Findlibrdkafka.cmake
  osquery/main/CMakeLists.txt
  plugins/logger/kafka_producer.cpp
Labels: Windows, feature

#6272 Fix database_dump for rocksdb
  osquery/database/database.cpp
  osquery/include/osquery/database.h
  plugins/database/ephemeral.cpp
  plugins/database/ephemeral.h
  plugins/database/rocksdb.cpp
  plugins/database/rocksdb.h
  plugins/database/sqlite.cpp
  plugins/database/sqlite.h
Labels: database

#6296 libs: Update the bzip2 remote URL
  .gitmodules
Labels: cmake, libraries

#6297 Fix 5569 pci ids on redhat like v2
  osquery/tables/system/linux/pci_devices.cpp
Labels: Linux, virtual tables

#6281 Services query fails if osquery cannot get service description
  osquery/tables/system/windows/services.cpp
Labels: Windows, virtual tables

#6249 Adding LXD tables
  osquery/tables/applications/CMakeLists.txt
  osquery/tables/applications/posix/lxd.cpp
  specs/CMakeLists.txt
  specs/posix/lxd_certificates.table
  specs/posix/lxd_cluster.table
  specs/posix/lxd_cluster_members.table
  specs/posix/lxd_images.table
  specs/posix/lxd_instance_config.table
  specs/posix/lxd_instance_devices.table
  specs/posix/lxd_instances.table
  specs/posix/lxd_networks.table
  specs/posix/lxd_storage_pools.table
Labels: virtual tables

#6243 Add new macOS virtual table screenlock
  osquery/tables/system/BUCK
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/darwin/screenlock.mm
  specs/BUCK
  specs/CMakeLists.txt
  specs/darwin/screenlock.table
Labels: macOS, needs response, virtual tables

#6135 Make AWS kinesis status logging configurable
  plugins/logger/aws_kinesis.cpp
  plugins/logger/aws_kinesis.h
Labels: AWS, logging

#6307 Azure Pipelines: reclaim disk space after building
  azure-pipelines.yml
Labels: CI/CD

#6311 Azure Pipelines: Fix Python2 discovery in Buck builds
  azure-pipelines.yml
Labels: CI/CD, Windows, build

#6318 Fix assert used to check the retcode in test_5_daemon_sigint
  tools/tests/test_osqueryd.py
Labels: test

#6317 Fix parsing an invalid decorators config
  plugins/config/parsers/decorators.cpp
  plugins/config/parsers/tests/decorators_tests.cpp
Labels: bug, configuration

#6315 Update osquery-toolchain to the 1.1.0 version
  azure-pipelines.yml
  docs/wiki/development/building.md
  tools/ci/osquery-ubuntu18.04-toolchain.dockerfile
Labels: Linux, build

#6308 Fix TLSConfigTests.test_runner_and_scheduler failing
  tools/tests/test_http_server.py
Labels: bug, test

#6324 Fix chromeExtensions.test_sanity failure
  tests/integration/tables/chrome_extension_content_scripts.cpp
  tests/integration/tables/chrome_extensions.cpp
Labels: bug, test

#6325 Fix stack overflow when parsing deeply nested configs
  osquery/config/config.cpp
  osquery/config/config.h
  osquery/config/tests/config_tests.cpp
  osquery/utils/json/json.cpp
  osquery/utils/json/json.h
Labels: bug, configuration

#6291 Fix: broken Unicode filename searches on Windows
  osquery/filesystem/filesystem.cpp
  osquery/filesystem/windows/fileops.cpp
Labels: Windows, bug

#6328 Hotfix a use-after-free accessing rows data
  osquery/sql/dynamic_table_row.cpp
Labels: bug, virtual tables

#6335 tests: Keep proc instance for test_base and test_osqueryd
  tools/tests/test_base.py
Labels: test

#5539 Add UserAssist table
  osquery/tables/system/BUCK
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/windows/userassist.cpp
  osquery/tables/system/windows/userassist.h
  specs/BUCK
  specs/CMakeLists.txt
  specs/windows/userassist.table
  tests/integration/tables/BUCK
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/userassist.cpp
Labels: Windows, cla signed, virtual tables

#6323 [Table sanity check] disk_info
  tests/integration/tables/disk_info.cpp
Labels: test

#6334 Return after check/dump requests in init
  osquery/core/init.cpp
  tools/tests/test_osqueryd.py
Labels: bug, configuration, database

#6340 macos: Fix processes cmdline parsing
  osquery/tables/system/darwin/processes.cpp
  osquery/tables/system/tests/darwin/processes_tests.cpp
Labels: bug, macOS, virtual tables

#6341 add status column to deb_packages table
  osquery/tables/system/linux/deb_packages.cpp
  specs/linux/deb_packages.table
  tests/integration/tables/deb_packages.cpp
Labels: Linux, virtual tables

#6176 Extend the fields of curl_certificate table
  osquery/tables/networking/curl_certificate.cpp
  specs/curl_certificate.table
Labels: feature, virtual tables

#6028 Add socket_events table for socket auditing in MacOS
  osquery/events/BUCK
  osquery/events/CMakeLists.txt
  osquery/events/audit_flags.cpp
  osquery/events/darwin/openbsm.cpp
  osquery/events/linux/auditeventpublisher.cpp
  osquery/tables/events/BUCK
  osquery/tables/events/CMakeLists.txt
  osquery/tables/events/darwin/socket_events.cpp
  osquery/tables/events/linux/socket_events.cpp
  specs/BUCK
  specs/CMakeLists.txt
  specs/blacklist
  specs/posix/socket_events.table
Labels: events, macOS, virtual tables

#6303 Simplify how third party libraries formula work
  azure-pipelines.yml
  libraries/cmake/formula/modules/utils.cmake
  libraries/cmake/formula/openssl/CMakeLists.txt
Labels: build, libraries
