Repository osquery/osquery, pull requests merged in 2020-04, with the labels that each got.

#6359 Update OpenSSL to version 1.1.1f and fix build
  libraries/cmake/formula/openssl/CMakeLists.txt
  osquery/tables/networking/curl_certificate.cpp
Labels: build, libraries

#6339 macos: Use -1 for missing ppid in process_events
  osquery/tables/events/darwin/openbsm_events.cpp
Labels: macOS, process auditing, virtual tables

#6363 magic: Check return from magic_file
  osquery/tables/system/posix/magic.cpp
Labels: bug, virtual tables

#6368 Fix readFile API doing blocking I/O with a non-blocking handle
  osquery/filesystem/filesystem.cpp
  osquery/filesystem/tests/filesystem.cpp
Labels: bug

#6379 Do not force a specific path to install osquery on Windows
  cmake/packaging.cmake
Labels: Windows, cmake, packaging

#6371 Remove errors when converting empty numeric rows
  osquery/sql/dynamic_table_row.cpp
Labels: SQL, user experience

#6370 Change process table log errors to info
  osquery/process/windows/process_ops.cpp
  osquery/tables/system/windows/processes.cpp
Labels: Windows, logging

#6372 Copy the parent environment when launching worker
  osquery/core/init.cpp
  osquery/include/osquery/system.h
  osquery/process/windows/process.cpp
Labels: Windows, bug

#6373 Return error detaching table, only use primary database
  osquery/core/plugins/sql.h
  osquery/sql/sql.cpp
  osquery/sql/sqlite_util.cpp
Labels: bug, extensions

#6380 iokit: Fix race when accessing port_
  osquery/events/darwin/iokit.cpp
Labels: bug, macOS

#6369 Change calls to debug log to be verbose
  osquery/dispatcher/dispatcher.cpp
Labels: logging

#6378 Build hvci_status table with CMake
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/windows/hvci_status.cpp
  specs/CMakeLists.txt
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/hvci_status.cpp
Labels: bug, cmake

#6387 release: updating changelog for 4.3.0 release
  CHANGELOG.md
Labels: release

#6384 Add git-lfs as dep for macOS build in documentation
  docs/wiki/development/building.md
Labels: build, documentation, libraries, macOS

#6375 Don't check logged in users in session 0 or non-active sessions
  osquery/tables/system/windows/logged_in_users.cpp
Labels: Windows, bug, virtual tables

#6396 Fix Userassist.test_sanity test sometimes failing
  tests/integration/tables/userassist.cpp
Labels: Windows, flaky test

#6398 system_info table: add "board_xxx" columns like "hardware_xxx"
  osquery/tables/system/linux/system_info.cpp
  osquery/tables/system/smbios_utils.h
  specs/system_info.table
  tests/integration/tables/system_info.cpp
Labels: Linux, virtual tables

#6407 Add documentation for enabling socket_events on macOS
  docs/wiki/deployment/process-auditing.md
Labels: documentation, events, macOS

#6412 Build linenoise-ng from source on macOS and Windows
  libraries/cmake/source_migration/modules/Findlinenoise-ng.cmake
Labels: Windows, build, libraries, macOS

#6406 Build lldpd from source on macOS
  libraries/cmake/source/lldpd/CMakeLists.txt
  libraries/cmake/source/lldpd/config/linux/libevent/config.h
  libraries/cmake/source/lldpd/config/linux/libevent/event2/event-config.h
  libraries/cmake/source/lldpd/config/linux/liblldpd/config.h
  libraries/cmake/source/lldpd/config/macos/libevent/config.h
  libraries/cmake/source/lldpd/config/macos/libevent/event2/event-config.h
  libraries/cmake/source/lldpd/config/macos/liblldpd/config.h
  libraries/cmake/source/lldpd/generated/linux/src/lib/atom-glue.c
  libraries/cmake/source/lldpd/generated/macos/src/lib/atom-glue.c
  libraries/cmake/source_migration/modules/Findlldpd.cmake
Labels: build, libraries, macOS

#6399 Build augeas from source on macOS
  docs/wiki/development/building.md
  libraries/cmake/source/augeas/CMakeLists.txt
  libraries/cmake/source/augeas/config/linux/config.h
  libraries/cmake/source/augeas/config/macos/config.h
  libraries/cmake/source/augeas/gnulib/generated/linux/selinux/context.h
  libraries/cmake/source/augeas/gnulib/generated/linux/selinux/selinux.h
  libraries/cmake/source/augeas/gnulib/generated/macos/argz.h
  libraries/cmake/source/augeas/gnulib/generated/macos/fnmatch.h
  libraries/cmake/source/augeas/gnulib/generated/macos/locale.h
  libraries/cmake/source/augeas/gnulib/generated/macos/selinux/context.h
  libraries/cmake/source/augeas/gnulib/generated/macos/selinux/selinux.h
  libraries/cmake/source/augeas/gnulib/generated/macos/string.h
  libraries/cmake/source_migration/modules/Findaugeas.cmake
Labels: build, cmake, libraries

#6362 audit: Add fields auid, fs{u,g}id, s{u,g}id
  osquery/events/linux/auditeventpublisher.cpp
  osquery/events/linux/auditeventpublisher.h
  osquery/tables/events/linux/process_events.cpp
  osquery/tables/events/linux/process_file_events.cpp
  osquery/tables/events/linux/process_file_events.h
  osquery/tables/events/tests/linux/process_events_tests.cpp
  specs/linux/process_file_events.table
  specs/posix/process_events.table
Labels: Linux, process auditing

#6417 Partial fix for md_devices issue
  specs/linux/md_devices.table
Labels: documentation, virtual tables

#6409 Build popt from source on macOS
  libraries/cmake/source/popt/CMakeLists.txt
  libraries/cmake/source/popt/config/linux/config.h
  libraries/cmake/source/popt/config/macos/config.h
  libraries/cmake/source_migration/modules/Findpopt.cmake
Labels: build, libraries, macOS

#6416 Build sleuthkit from source on macOS
  libraries/cmake/source/sleuthkit/CMakeLists.txt
  libraries/cmake/source/sleuthkit/config/linux/tsk/tsk_config.h
  libraries/cmake/source/sleuthkit/config/linux/tsk/tsk_incs.h
  libraries/cmake/source/sleuthkit/config/macos/tsk/tsk_config.h
  libraries/cmake/source/sleuthkit/config/macos/tsk/tsk_incs.h
  libraries/cmake/source_migration/modules/Findsleuthkit.cmake
Labels: build, libraries, macOS

#6392 Update some sqlite types
  osquery/sql/virtual_sqlite_table.cpp
  osquery/tables/system/darwin/quicklook_cache.cpp
  osquery/tables/system/freebsd/pkg_packages.cpp
Labels: bug
