Repository osquery/osquery, pull requests merged in 2020-05, with the labels that each got.

#6433 Disable openssl compression support
  libraries/cmake/formula/openssl/CMakeLists.txt
Labels: hardening, libraries

#6432 Update openssl from 1.1.1f to 1.1.1g
  libraries/cmake/formula/openssl/CMakeLists.txt
Labels: hardening, libraries, security

#6429 Update winbaseobj.table
  specs/windows/winbaseobj.table
Labels: Windows, virtual tables

#6425 docs: Update osquery security policy
  README.md
  SECURITY.md
Labels: documentation

#6434 docs: Exclude all submodules for RTD builds
  .readthedocs.yml
Labels: documentation

#6448 Change the registry LIKE path constraint to filter recursively
  osquery/tables/system/windows/registry.cpp
Labels: Windows, bug, virtual tables

#6444 Add 'arch' column to os_version
  osquery/tables/system/darwin/os_version.cpp
  osquery/tables/system/linux/os_version.cpp
  osquery/tables/system/windows/os_version.cpp
  specs/os_version.table
  tests/integration/tables/os_version.cpp
Labels: Linux, Windows, feature, macOS, virtual tables

#6443 Add 'vendor', 'package_group' columns to rpm_packages
  osquery/tables/system/linux/rpm_packages.cpp
  specs/linux/rpm_packages.table
  tests/integration/tables/rpm_packages.cpp
Labels: Linux, feature, virtual tables

#6442 Add 'maintainer', 'section', 'priority' columns to deb_packages
  osquery/tables/system/linux/deb_packages.cpp
  specs/linux/deb_packages.table
  tests/integration/tables/deb_packages.cpp
Labels: Linux, feature, virtual tables

#6440 Update hash cache inode number
  osquery/tables/system/hash.cpp
Labels: bug

#6456 docs: Update .readthedocs.yml to use version 2
  .readthedocs.yml
  README.md
  docs/requirements.txt
  mkdocs.yml
Labels: documentation

#6457 Fix package_bom table
  osquery/tables/system/darwin/packages.h
  osquery/tables/system/tests/CMakeLists.txt
  osquery/tables/system/tests/darwin/packages_tests.cpp
  tools/tests/configs/test_bom.bom
Labels: bug, macOS, virtual tables

#6441 Do not install openssl docs
  libraries/cmake/formula/openssl/CMakeLists.txt
Labels: Linux, build, libraries, macOS

#6447 macos: automating audit rules install
  osquery/events/audit_flags.cpp
  osquery/events/darwin/openbsm.cpp
  osquery/events/darwin/openbsm.h
  osquery/events/linux/auditdnetlink.cpp
  osquery/tables/events/linux/process_events.cpp
  osquery/tables/events/linux/process_file_events.cpp
  osquery/tables/events/linux/user_events.cpp
Labels: macOS, process auditing

#6460 Fix the handling of empty args strings, on Windows
  osquery/utils/system/windows/env.cpp
Labels: Windows, bug

#6415 Fixing the description of failed_login_count from account_policy_data
  specs/darwin/account_policy_data.table
Labels: documentation, virtual tables

#6461 Fix potential overread bug in package_bom
  osquery/tables/system/darwin/packages.mm
Labels: bug, macOS, virtual tables

#6458 Use LOAD_LIBRARY_SEARCH_SYSTEM32 for LoadLibrary
  osquery/process/windows/process_ops.cpp
  osquery/tables/system/windows/windows_security_center.cpp
  osquery/tables/system/windows/windows_security_products.cpp
Labels: Windows, hardening

#6376 Add additional logging in the watcher for windows
  osquery/core/init.cpp
  osquery/core/watcher.cpp
  osquery/dispatcher/scheduler.cpp
Labels: logging

#6262 release: adding nupkg cpack build option, updating win deployment script
  cmake/packaging.cmake
  docs/wiki/installation/install-windows.md
  tools/deployment/chocolatey/tools/chocolateyBeforeModify.ps1
  tools/deployment/chocolatey/tools/chocolateyinstall.ps1
  tools/deployment/chocolatey/tools/chocolateyuninstall.ps1
  tools/deployment/chocolatey/tools/osquery_utils.ps1
  tools/deployment/make_windows_package.ps1
  tools/deployment/verification.txt
Labels: Windows, deployment, release

#6459 Correct the 'cwd' and 'root' columns of processes table on Windows
  osquery/tables/system/windows/processes.cpp
Labels: Windows, virtual tables

#6468 Fix rpm and deb package name format
  cmake/packaging.cmake
Labels: Linux, packaging

#6469 Build openssl with the macOS SDK version taken from CMake
  libraries/cmake/formula/openssl/CMakeLists.txt
Labels: libraries, macOS

#6471 Pass the minimum macOS SDK version to openssl only if explicitly set
  libraries/cmake/formula/openssl/CMakeLists.txt
Labels: build, libraries, macOS

#6465 libraries: Move smartmontools to source_migration
  libraries/cmake/source/smartmontools/CMakeLists.txt
  libraries/cmake/source/smartmontools/config/linux/config.h
  libraries/cmake/source/smartmontools/config/linux/svnversion.h
  libraries/cmake/source/smartmontools/config/macos/config.h
  libraries/cmake/source/smartmontools/config/macos/svnversion.h
  libraries/cmake/source_migration/modules/Findsmartmontools.cmake
Labels: libraries

#6464 libraries: Move ssdeep-cpp to source_migration
  libraries/cmake/source/ssdeep-cpp/CMakeLists.txt
  libraries/cmake/source/ssdeep-cpp/config/linux/config.h
  libraries/cmake/source/ssdeep-cpp/config/macos/config.h
  libraries/cmake/source_migration/modules/Findssdeep-cpp.cmake
Labels: libraries

#6470 codegen: Port Jinja2 to Templite
  CMakeLists.txt
  libraries/cmake/facebook/jinja2/CMakeLists.txt
  libraries/cmake/facebook/markupsafe/CMakeLists.txt
  libraries/cmake/facebook/modules/Findjinja2.cmake
  libraries/cmake/facebook/modules/Findmarkupsafe.cmake
  tools/codegen/CMakeLists.txt
  tools/codegen/amalgamate.py
  tools/codegen/gentable.py
  tools/codegen/templates/amalgamation.cpp.in
  tools/codegen/templates/blacklist.cpp.in
  tools/codegen/templates/default.cpp.in
  tools/codegen/templates/foreign.cpp.in
  tools/codegen/templates/typed_row.h.in
  tools/codegen/templite.py
Labels: refactor
