Repository osquery/osquery, pull requests merged in 2020-02, with the labels that each got.

#6224 Fix build without tests enabled
  plugins/config/CMakeLists.txt
Labels: build, cmake

#6199 Compiling boost iostream library with zlib
  libraries/cmake/source/boost/CMakeLists.txt
Labels: cmake, libraries

#6222 Fix boost process and asio build on Windows
  libraries/cmake/source/boost/CMakeLists.txt
Labels: Windows, build, libraries

#6227 replacing boost::regex with std::regex for SQL StringExtensions
  docs/wiki/introduction/sql.md
  osquery/sql/sqlite_string.cpp
  osquery/sql/tests/sql.cpp
  tools/buckconfigs/windows-x86_64/base.bcfg
Labels: SQL, bug

#6225 Fix heap buffer overflow in callDoubleFunc and powerFunc
  osquery/sql/sqlite_math.cpp
Labels: bug

#6219 fixing extension test linking
  osquery/extensions/tests/BUCK
  osquery/extensions/tests/CMakeLists.txt
  osquery/extensions/tests/extensions.cpp
Labels: extensions, test

#6200 Add Windows support to firefox_addons table
  osquery/filesystem/filesystem.cpp
  osquery/tables/applications/BUCK
  osquery/tables/applications/CMakeLists.txt
  osquery/tables/applications/browser_firefox.cpp
  specs/BUCK
  specs/CMakeLists.txt
  specs/firefox_addons.table
  tests/integration/tables/BUCK
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/firefox_addons.cpp
Labels: Windows, virtual tables

#6161 Expand SSH tables to support Windows
  osquery/tables/system/BUCK
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/ssh_configs.cpp
  osquery/tables/system/ssh_keys.cpp
  specs/BUCK
  specs/CMakeLists.txt
  specs/ssh_configs.table
  specs/user_ssh_keys.table
  tests/integration/tables/BUCK
  tests/integration/tables/CMakeLists.txt
Labels: Windows, virtual tables

#6231 Add sccache to the Windows job
  .artifactignore
  azure-pipelines.yml
  libraries/cmake/source/googletest/CMakeLists.txt
Labels: CI/CD, build

#6232 Updated documentation for profile.py in performance-safety.md
  docs/wiki/deployment/performance-safety.md
Labels: documentation

#6211 Add community_id_v1 hash function to SQLite
  docs/wiki/introduction/sql.md
  libraries/cmake/source/boost/CMakeLists.txt
  libraries/cmake/source/modules/Findboost.cmake
  osquery/hashing/hashing.cpp
  osquery/hashing/hashing.h
  osquery/sql/CMakeLists.txt
  osquery/sql/sqlite_hashing.cpp
  osquery/sql/tests/BUCK
  osquery/sql/tests/CMakeLists.txt
  osquery/sql/tests/sqlite_hashing_tests.cpp
Labels: SQL, feature, networking

#6183 carver: Fix bug where carve returns empty files for hidden files
  osquery/carver/carver.cpp
  osquery/carver/carver.h
  osquery/carver/tests/carver_tests.cpp
Labels: bug, carving

#6044 tables: Use basic TLS options within the curl table
  osquery/remote/http_client.cpp
  osquery/remote/http_client.h
  osquery/remote/transports/tls.cpp
  osquery/remote/transports/tls.h
  osquery/tables/networking/curl.cpp
  osquery/utils/aws/aws_util.cpp
Labels: virtual tables

#6144 Refactor and simplify shutdown logic
  osquery/core/init.cpp
  osquery/core/watcher.cpp
  osquery/include/osquery/system.h
  osquery/main/main.cpp
  osquery/main/main.h
  osquery/main/windows/main.cpp
  osquery/process/posix/process_ops.cpp
  osquery/process/process.h
  osquery/process/windows/process_ops.cpp
  tools/tests/test_osqueryd.py
Labels: Windows, bug

#4825 mdls table implementation
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/darwin/mdls.mm
  specs/CMakeLists.txt
  specs/darwin/mdls.table
Labels: cla signed, macOS, virtual tables

#6197 http_client: Improve certificate verification
  osquery/remote/http_client.cpp
  osquery/remote/requests.h
  osquery/remote/tests/test_utils.cpp
  osquery/remote/tests/test_utils.h
  osquery/remote/transports/tests/tls_transports_tests.cpp
  osquery/remote/transports/tls.h
  tools/tests/configs/test_server.key
  tools/tests/configs/test_server.pem
  tools/tests/configs/test_server_ca.key
  tools/tests/configs/test_server_ca.pem
  tools/tests/configs/test_server_wrong_hostname.pem
Labels: bug, distributed, logging

#6239 release: updating changelog for 4.2.0 release
  CHANGELOG.md
  SECURITY.md
Labels: release

#6240 Add community_id_v1 (#6211) to changelog
  CHANGELOG.md
Labels: documentation

#6244 Fix codegen template for extension group
  tools/codegen/templates/osquery_extension_group_main.cpp.in
Labels: build, extensions

#6253 Add the TSC to the contributing file
  CONTRIBUTING.md
Labels: documentation

#6140 Support for "matches" and "js" keys from "content_scripts" in the chrome_extensions table
  osquery/tables/applications/browser_chrome.cpp
  osquery/tables/applications/browser_utils.cpp
  osquery/tables/applications/browser_utils.h
  specs/BUCK
  specs/CMakeLists.txt
  specs/chrome_extension_content_scripts.table
  tests/integration/tables/chrome_extensions.cpp
Labels: feature, virtual tables

#6178 Adding docker_container_fs_changes table
  azure-pipelines.yml
  osquery/tables/applications/posix/docker.cpp
  specs/CMakeLists.txt
  specs/posix/docker_container_fs_changes.table
  tools/ci/osquery-ubuntu18.04-toolchain.dockerfile
  tools/tests/CMakeLists.txt
  tools/tests/test_docker_container_fs_changes_table.py
Labels: docker, feature, virtual tables

#6271 Non-error status messages should be verbose
  osquery/dispatcher/scheduler.cpp
Labels: logging, user experience

#6267 Limit regex_match and regex_split regex size
  osquery/sql/sqlite_string.cpp
  osquery/sql/tests/sql.cpp
Labels: SQL, bug

#6265 Update unwanted-chrome-extensions.conf queries to include all users
  packs/unwanted-chrome-extensions.conf
Labels: packs

#6108 check for errors return status from extension table.
  osquery/extensions/impl_thrift.cpp
  osquery/sql/virtual_table.cpp
Labels: extensions, needs response

#6190 fix: on Windows use UTF-8 strings instead of system default locale strings
  osquery/core/system.cpp
  osquery/events/windows/ntfs_event_publisher.cpp
  osquery/events/windows/usn_journal_reader.cpp
  osquery/filesystem/windows/fileops.cpp
  osquery/main/windows/main.cpp
  osquery/process/windows/process.cpp
  osquery/process/windows/process_ops.cpp
  osquery/tables/networking/etc_protocols.cpp
  osquery/tables/networking/windows/routes.cpp
  osquery/tables/system/windows/authenticode.cpp
  osquery/tables/system/windows/logged_in_users.cpp
  osquery/tables/system/windows/ntfs_acl_permissions.cpp
  osquery/tables/system/windows/pipes.cpp
  osquery/tables/system/windows/processes.cpp
  osquery/tables/system/windows/registry.cpp
  osquery/utils/conversions/windows/strings.cpp
  osquery/utils/conversions/windows/strings.h
  osquery/utils/system/BUCK
  osquery/utils/system/CMakeLists.txt
  osquery/utils/system/errno.h
  osquery/utils/system/windows/env.cpp
  osquery/utils/system/windows/errno.cpp
  tests/integration/tables/chrome_extensions.cpp
Labels: Windows, bug

#6275 Fix link in changelog
  CHANGELOG.md
Labels: documentation

#6277 Fix initialization of profiles variable
  osquery/tables/applications/browser_utils.cpp
Labels: bug, virtual tables

#6186 udev: Log errno for udev ERROR messages
  osquery/events/linux/udev.cpp
Labels: Linux

#6185 tests: Fix flaky ProcessOpenFilesTest.test_sanity test
  osquery/filesystem/linux/proc.cpp
  osquery/filesystem/linux/proc.h
Labels: Linux, bug
