Repository osquery/osquery, pull requests merged in 2020-11, with the labels that each got.

#6739 Make the usb_devices pack query available only on posix
  packs/it-compliance.conf
Labels: bug, packs

#6747 extensions: Always compile examples to prevent them from breaking
  .gitignore
  external/CMakeLists.txt
  external/examples/config_plugin/CMakeLists.txt
  external/examples/config_plugin/main.cpp
  external/examples/read_only_table/CMakeLists.txt
  external/examples/read_only_table/main.cpp
  external/examples/writable_table/CMakeLists.txt
  external/examples/writable_table/main.cpp
  osquery/examples/example_extension.cpp
  osquery/examples/example_test.cpp
  osquery/examples/extension_group_example/src/example.cpp
  osquery/examples/extension_group_example/src/example.h
Labels: SDK, extensions, ready for review

#6745 Fix deadlock when registering two extensions
  osquery/registry/registry_interface.cpp
  osquery/registry/registry_interface.h
Labels: extensions

#6735 Add Yandex Browser support for chrome_extensions
  osquery/tables/applications/browser_chrome.cpp
Labels: virtual tables

#6753 Fixes #6752 - support TLS client cert chains
  osquery/remote/http_client.cpp
Labels: feature, remote

#6760 Do not use memset on VirtualTable, a non-POD type
  osquery/sql/virtual_table.cpp
Labels: bug, virtual tables

#6748 Journald Audit Logs Masking Documentation
  docs/wiki/deployment/process-auditing.md
  docs/wiki/installation/install-linux.md
Labels: documentation

#6746 CMake: Disable BPF support if the LLVM libs are not compatible
  CMakeLists.txt
  cmake/options.cmake
  libraries/cmake/source/modules/Findebpfpub.cmake
  osquery/events/CMakeLists.txt
  osquery/events/tests/CMakeLists.txt
  osquery/tables/events/CMakeLists.txt
  osquery/tables/events/tests/CMakeLists.txt
  specs/CMakeLists.txt
Labels: Linux, bpf, cmake, oss-fuzz, ready for review

#6695 Adding support for pretty-printing JSON results
  osquery/devtools/devtools.h
  osquery/devtools/printer.cpp
  osquery/devtools/shell.cpp
  osquery/utils/json/json.cpp
  osquery/utils/json/json.h
  osquery/utils/json/tests/json.cpp
  tools/tests/test_osqueryi.py
Labels: feature, user experience

#6765 libs: Port the RocksDB Win7 compatibility patch to the MSBuild generator
  libraries/cmake/source/rocksdb/CMakeLists.txt
  libraries/cmake/source/rocksdb/patches/env_win.h
Labels: cmake

#6768 Change urls for submodules gpg-error, libgcrypt, libcap
  .gitmodules
Labels: build

#6773 startup_info: Fix memory leak in the dbus classes
  osquery/tables/system/linux/dbus/methods/dbusmethod.h
  osquery/tables/system/linux/dbus/uniquedbusconnection.cpp
Labels: Linux, bug, memory leak

#6774 BPF: Fix wrong d_type compare in fs classes
  osquery/events/linux/bpf/filesystem.cpp
Labels: Linux, bpf, bug, events

#6771 Remove boost workaround introduced in #5591 for string_view
  osquery/remote/http_client.h
  osquery/sql/sqlite_hashing.cpp
  osquery/tables/applications/posix/docker.cpp
  tests/integration/tables/helper.cpp
Labels: build, libraries

#6769 Remove unused LTCG flag
  cmake/flags.cmake
Labels: Windows, build
