Repository osquery/osquery, pull requests merged in 2020-07, with the labels that each got.

#6531 build: Support ASAN for boost coroutine2 using ucontext
  cmake/flags.cmake
  libraries/cmake/source/boost/CMakeLists.txt
Labels: build, dynamic analysis, libraries

#6545 Change "Symlink loop" message from warning to verbose
  osquery/filesystem/filesystem.cpp
Labels: macOS, user experience

#5901 wmi: adding utility function to convert datetime to FILETIME
  osquery/events/windows/usn_journal_reader.cpp
  osquery/filesystem/fileops.h
  osquery/filesystem/filesystem.cpp
  osquery/filesystem/windows/fileops.cpp
  osquery/tables/system/windows/certificates.cpp
  osquery/tables/system/windows/drivers.cpp
  osquery/tables/system/windows/logged_in_users.cpp
  osquery/tables/system/windows/logon_sessions.cpp
  osquery/tables/system/windows/os_version.cpp
  osquery/tables/system/windows/processes.cpp
  osquery/tables/system/windows/registry.cpp
  osquery/tables/system/windows/scheduled_tasks.cpp
  osquery/tables/system/windows/userassist.cpp
  osquery/tables/system/windows/video_info.cpp
  osquery/utils/conversions/CMakeLists.txt
  osquery/utils/conversions/windows/strings.cpp
  osquery/utils/conversions/windows/strings.h
  osquery/utils/conversions/windows/tests/strings.cpp
  osquery/utils/conversions/windows/tests/windows_time.cpp
  osquery/utils/conversions/windows/windows_time.cpp
  osquery/utils/conversions/windows/windows_time.h
  specs/os_version.table
  specs/windows/video_info.table
Labels: API change, Windows, virtual tables

#6544 rpm: Fix memory leaks in rpm_package_files
  osquery/tables/system/linux/rpm_packages.cpp
Labels: Linux, bug, memory leak, virtual tables

#6548 Fix #6536 Leak in psidToString
  osquery/process/windows/process_ops.cpp
Labels: Windows, bug, memory leak

#6552 fsevents: Improve testing assumptions and flush fsevents when stopping
  osquery/events/darwin/fsevents.cpp
  osquery/events/tests/darwin/fsevents_tests.cpp
Labels: FIM, bug, flaky test, macOS

#6553 events: Only fire if publisher exists
  osquery/events/tests/events_tests.cpp
  osquery/include/osquery/events.h
Labels: bug, events, flaky test

#6463 Shimcache Table
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/windows/shimcache.cpp
  osquery/tables/system/windows/userassist.cpp
  osquery/tables/system/windows/userassist.h
  specs/CMakeLists.txt
  specs/windows/shimcache.table
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/shimcache.cpp
Labels: Windows, virtual tables

#6539 syslog: Replace fstream with custom non-blocking getline
  osquery/events/linux/syslog.cpp
  osquery/events/linux/syslog.h
  osquery/events/tests/linux/syslog_tests.cpp
Labels: Linux, bug, events

#6541 tables: Refactor shell_history to use generators
  osquery/sql/dynamic_table_row.h
  osquery/tables/system/posix/shell_history.cpp
  osquery/tables/system/posix/shell_history.h
  osquery/tables/system/tests/posix/shell_history_tests.cpp
  specs/posix/shell_history.table
Labels: Linux, performance, virtual tables

#6502 Add startup_items table for linux
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/linux/startup_items.cpp
  specs/CMakeLists.txt
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/startup_items.cpp
Labels: Linux, virtual tables

#6435 Add support for processing KILL syscall
  osquery/events/linux/auditdnetlink.cpp
  osquery/events/linux/auditeventpublisher.cpp
  osquery/events/linux/process_events.h
  osquery/tables/events/linux/process_events.cpp
  osquery/tables/events/tests/linux/process_events_tests.cpp
Labels: Linux, events, feature

#4633 Scheduler refactor
  osquery/core/sql/diff_results.h
  osquery/core/sql/scheduled_query.h
  osquery/core/tests/query_tests.cpp
  osquery/dispatcher/scheduler.cpp
  osquery/dispatcher/scheduler.h
Labels: cla signed, refactor

#6505 Add dns_cache table for Windows
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/windows/dns_cache.cpp
  specs/CMakeLists.txt
  specs/windows/dns_cache.table
Labels: Windows, virtual tables

#5686 Light refactor on users & groups
  osquery/tables/system/darwin/user_groups.mm
  tests/integration/tables/groups.cpp
  tests/integration/tables/users.cpp
Labels: macOS, refactor

#6564 Enable YARA table on Windows
  CMakeLists.txt
  libraries/cmake/source/yara/CMakeLists.txt
  osquery/tables/CMakeLists.txt
  osquery/tables/yara/CMakeLists.txt
  osquery/tables/yara/tests/CMakeLists.txt
  specs/CMakeLists.txt
  tests/integration/tables/CMakeLists.txt
Labels: Windows, libraries

#6338 Define UNICODE and _UNICODE preprocessors for windows
  cmake/flags.cmake
  osquery/core/windows/wmi.cpp
  osquery/core/windows/wmi.h
  osquery/filesystem/windows/fileops.cpp
  osquery/process/windows/process.cpp
  osquery/tables/cloud/aws/ec2_instance_tags.cpp
  osquery/tables/events/windows/ntfs_journal_events.cpp
  osquery/tables/events/windows/powershell_events.cpp
  osquery/tables/events/windows/windows_events.cpp
  osquery/tables/networking/etc_services.cpp
  osquery/tables/sleuthkit/sleuthkit.cpp
  osquery/tables/system/tests/system_tables_tests.cpp
  osquery/tables/system/windows/certificates.cpp
  osquery/tables/system/windows/dns_cache.cpp
  osquery/tables/system/windows/drivers.cpp
  osquery/tables/system/windows/intel_me.cpp
  osquery/tables/system/windows/kernel_info.cpp
  osquery/tables/system/windows/logon_sessions.cpp
  osquery/tables/system/windows/registry.cpp
  osquery/tables/system/windows/scheduled_tasks.cpp
  osquery/tables/system/windows/services.cpp
  osquery/tables/system/windows/shimcache.cpp
  osquery/tables/system/windows/windows_security_center.cpp
  osquery/tables/system/windows/windows_security_products.cpp
  osquery/tables/utility/file.cpp
  osquery/utils/system/windows/env.cpp
Labels: Windows, high pri

#6223 Update schedule counter behavior
  docs/wiki/deployment/logging.md
  osquery/core/query.cpp
Labels: API change, user experience

#5771 Fix #5737: Add FileVersionRaw column to file table for windows
  osquery/filesystem/fileops.h
  osquery/filesystem/windows/fileops.cpp
  osquery/tables/system/windows/ie_extensions.cpp
  osquery/tables/utility/file.cpp
  specs/utility/file.table
  tests/integration/tables/file.cpp
Labels: Windows, feature

#5281 curl_certificate test
  osquery/tables/networking/curl_certificate.cpp
  specs/curl_certificate.table
  tests/integration/tables/curl_certificate.cpp
Labels: API change, bug, test, virtual tables
