Repository osquery/osquery, pull requests merged in 2020-10, with the labels that each got.

#6677 feature 6401: authenticode table with catalog file info
  osquery/tables/system/windows/authenticode.cpp
Labels: Windows, virtual tables

#6689 Add broad exception catching for table execution
  docs/wiki/deployment/debugging.md
  osquery/sql/tests/virtual_table.cpp
  osquery/sql/virtual_table.cpp
Labels: virtual tables

#6690 bugfix-6204: fix dirPathsAreEqual the documented way
  osquery/filesystem/windows/fileops.cpp
Labels: Windows, bug

#6685 Add cppcheck support to macOS
  cmake/modules/Findcppcheck.cmake
Labels: build, macOS

#6693 Flush stdout with --help
  osquery/core/init.cpp
Labels: bug, user experience

#6688 tests: Reduce flakiness of test_osqueryi
  tools/tests/test_base.py
  tools/tests/test_osqueryd.py
  tools/tests/test_osqueryi.py
  tools/tests/utils.py
Labels: test

#6694 Fix incorrect stat return checking within process_events
  osquery/tables/events/linux/process_events.cpp
Labels: Linux, bug, process auditing

#6692 Changelog 4.5.1
  CHANGELOG.md
Labels: documentation

#6699 Add additional file stat flags to darwin (bsd_flags)
  osquery/core/init.cpp
  osquery/filesystem/darwin/bsd_file_flags.cpp
  osquery/filesystem/tests/darwin/bsd_file_flags_tests.cpp
Labels: bug, macOS

#6686 Add a README.md to source-based libraries
  libraries/cmake/source/libarchive/README.md
  libraries/cmake/source/libaudit/README.md
  libraries/cmake/source/libcryptsetup/README.md
  libraries/cmake/source/libdevmapper/README.md
  libraries/cmake/source/libdpkg/README.md
  libraries/cmake/source/libelfin/README.md
  libraries/cmake/source/libgcrypt/README.md
  libraries/cmake/source/libgpg-error/README.md
  libraries/cmake/source/libiptables/README.md
  libraries/cmake/source/libmagic/README.md
  libraries/cmake/source/librdkafka/README.md
  libraries/cmake/source/librpm/README.md
  libraries/cmake/source/libudev/README.md
  libraries/cmake/source/libxml2/README.md
  libraries/cmake/source/lldpd/README.md
  libraries/cmake/source/lzma/README.md
  libraries/cmake/source/popt/README.md
  libraries/cmake/source/sleuthkit/README.md
  libraries/cmake/source/smartmontools/README.md
  libraries/cmake/source/ssdeep-cpp/README.md
  libraries/cmake/source/thrift/README.md
  libraries/cmake/source/util-linux/README.md
Labels: Linux, documentation, libraries

#6704 [macOS][Tests] Fix tests on Catalina
  osquery/tables/system/tests/darwin/startup_items_tests.cpp
  tests/integration/tables/apps.cpp
Labels: macOS Catalina, test

#6705 Fix typos
  docs/wiki/installation/cli-flags.md
  osquery/events/linux/syslog.cpp
  osquery/events/linux/syslog.h
  osquery/tables/system/linux/md_tables.cpp
  osquery/utils/caches/lru.h
  osquery/utils/schemer/json/schemer_json.h
  tools/harnesses/osqueryfuzz_sqlquery_corpus.sh
Labels: documentation

#6703 Add Reptile rootkit to ossec-rootkit pack
  packs/ossec-rootkit.conf
Labels: Linux, packs

#6696 Fix shadow table to detect empty passwords
  osquery/tables/system/linux/shadow.cpp
Labels: Linux, bug

#6687 libraries: Build x86_64 configurations on Ubuntu 14.04
  libraries/cmake/source/libarchive/config/linux/config.h
  libraries/cmake/source/libaudit/config/x86_64/config.h
  libraries/cmake/source/libcryptsetup/config/config.h
  libraries/cmake/source/libdevmapper/config/configure.h
  libraries/cmake/source/libdpkg/config/x86_64/config.h
  libraries/cmake/source/libelfin/generated/dwarf/to_string.cc
  libraries/cmake/source/libelfin/generated/elf/to_string.cc
  libraries/cmake/source/libgcrypt/config/x86_64/config.h
  libraries/cmake/source/libiptables/config/config.h
  libraries/cmake/source/libmagic/config/linux/config.h
  libraries/cmake/source/librdkafka/CMakeLists.txt
  libraries/cmake/source/librdkafka/config/x86_64/linux/config.h
  libraries/cmake/source/librpm/CMakeLists.txt
  libraries/cmake/source/librpm/config/config.h
  libraries/cmake/source/librpm/config/rpmhash.C
  libraries/cmake/source/librpm/include/tagtbl.C
  libraries/cmake/source/libudev/config/config.h
  libraries/cmake/source/libxml2/CMakeLists.txt
  libraries/cmake/source/libxml2/config/posix/config.h
  libraries/cmake/source/lldpd/CMakeLists.txt
  libraries/cmake/source/lldpd/config/x86_64/linux/libevent/config.h
  libraries/cmake/source/lldpd/config/x86_64/linux/libevent/event2/event-config.h
  libraries/cmake/source/lldpd/config/x86_64/linux/liblldpd/config.h
  libraries/cmake/source/lzma/CMakeLists.txt
  libraries/cmake/source/lzma/config/aarch64/linux/config.h
  libraries/cmake/source/lzma/config/x86_64/linux/config.h
  libraries/cmake/source/popt/config/linux/config.h
  libraries/cmake/source/sleuthkit/CMakeLists.txt
  libraries/cmake/source/sleuthkit/config/linux/tsk/tsk_config.h
  libraries/cmake/source/sleuthkit/config/macos/tsk/tsk_config.h
  libraries/cmake/source/sleuthkit/config/windows/tsk/tsk_config.h
  libraries/cmake/source/smartmontools/config/x86_64/linux/config.h
  libraries/cmake/source/ssdeep-cpp/config/linux/config.h
  libraries/cmake/source/thrift/CMakeLists.txt
  libraries/cmake/source/thrift/README.md
  libraries/cmake/source/thrift/config/linux/thrift/config.h
  libraries/cmake/source/util-linux/config/config.h
Labels: Linux, libraries

#6671 carver: Refactor carver to use the Scheduler
  osquery/carver/CMakeLists.txt
  osquery/carver/carver.cpp
  osquery/carver/carver.h
  osquery/carver/carver_utils.cpp
  osquery/carver/carver_utils.h
  osquery/carver/tests/carver_tests.cpp
  osquery/dispatcher/CMakeLists.txt
  osquery/dispatcher/scheduler.cpp
  osquery/dispatcher/scheduler.h
  osquery/sql/sqlite_operations.cpp
  osquery/tables/forensic/carves.cpp
Labels: carving, refactor

#6714 bugfix-6560: free memory allocated by ConvertStringSidToSid
  osquery/tables/system/windows/certificates.cpp
  osquery/tables/system/windows/registry.cpp
  osquery/tables/system/windows/users.cpp
Labels: Windows, bug, memory leak

#6712 type of size field in kernel_modules table should be BIGINT
  specs/linux/kernel_modules.table
Labels: Linux, virtual tables

#6713 Fix missing negations, duplicate rows in iptables table
  osquery/tables/networking/linux/iptables.cpp
  osquery/tables/networking/linux/iptc_proxy.h
  osquery/tables/networking/tests/linux/iptables_tests.cpp
Labels: Linux, bug, virtual tables

#6715 Reduce linkage requirements for tests
  osquery/carver/tests/CMakeLists.txt
  osquery/carver/tests/carver_tests.cpp
  osquery/config/tests/CMakeLists.txt
  osquery/core/CMakeLists.txt
  osquery/core/tests/CMakeLists.txt
  osquery/database/tests/CMakeLists.txt
  osquery/dispatcher/CMakeLists.txt
  osquery/dispatcher/tests/CMakeLists.txt
  osquery/events/tests/CMakeLists.txt
  osquery/filesystem/CMakeLists.txt
  osquery/logger/tests/CMakeLists.txt
  osquery/numeric_monitoring/tests/CMakeLists.txt
  osquery/registry/tests/CMakeLists.txt
  osquery/sql/CMakeLists.txt
  osquery/sql/tests/CMakeLists.txt
  osquery/system/network/tests/CMakeLists.txt
  osquery/tables/applications/CMakeLists.txt
  osquery/tables/applications/posix/tests/CMakeLists.txt
  osquery/tables/events/tests/CMakeLists.txt
  osquery/tables/forensic/CMakeLists.txt
  osquery/tables/networking/CMakeLists.txt
  osquery/tables/smart/tests/CMakeLists.txt
  osquery/tables/system/tests/CMakeLists.txt
  osquery/tables/yara/CMakeLists.txt
  osquery/utils/aws/tests/CMakeLists.txt
  osquery/worker/ipc/linux/tests/CMakeLists.txt
  osquery/worker/ipc/posix/tests/CMakeLists.txt
  osquery/worker/ipc/tests/CMakeLists.txt
  plugins/database/tests/CMakeLists.txt
  plugins/distributed/CMakeLists.txt
  plugins/logger/CMakeLists.txt
  plugins/logger/tests/CMakeLists.txt
  plugins/numeric_monitoring/tests/CMakeLists.txt
  tests/CMakeLists.txt
Labels: test

#6669 Fix last_connected column in wifi_networks on Catalina
  osquery/tables/networking/darwin/wifi.mm
  osquery/tables/networking/tests/darwin/wifi_tests.mm
Labels: macOS Big Sur, macOS Catalina, networking, virtual tables

#6732 build: Fix windows build on newer MSVC
  libraries/cmake/source/thrift/CMakeLists.txt
Labels: Windows, build

#6729 Update remote.md
  docs/wiki/deployment/remote.md
Labels: documentation

#6730 bugfix-6719: removing PUNYCODE flag
  osquery/tables/system/windows/certificates.cpp
  tests/integration/tables/certificates.cpp
Labels: Windows, bug, virtual tables

#6720 Updated unwanted-chrome-extensions
  packs/unwanted-chrome-extensions.conf
Labels: packs
