Repository osquery/osquery, pull requests merged in 2020-09, with the labels that each got.

#6620 refactor: Rename database APIs to not use DatabasePlugin class
  osquery/carver/tests/carver_tests.cpp
  osquery/config/tests/config_tests.cpp
  osquery/config/tests/packs.cpp
  osquery/core/init.cpp
  osquery/core/tests/query_tests.cpp
  osquery/core/tests/tables_tests.cpp
  osquery/core/tests/watcher_tests.cpp
  osquery/database/database.cpp
  osquery/database/database.h
  osquery/database/tests/database.cpp
  osquery/dispatcher/tests/scheduler.cpp
  osquery/distributed/tests/distributed_tests.cpp
  osquery/events/tests/darwin/fsevents_tests.cpp
  osquery/events/tests/events_database_tests.cpp
  osquery/events/tests/events_tests.cpp
  osquery/events/tests/linux/inotify_tests.cpp
  osquery/extensions/tests/extensions.cpp
  osquery/logger/logger.cpp
  osquery/logger/tests/logger.cpp
  osquery/main/harnesses/fuzz_utils.cpp
  osquery/main/main.cpp
  osquery/numeric_monitoring/tests/numeric_monitoring.cpp
  osquery/remote/enroll/tests/enroll_tests.cpp
  osquery/remote/transports/tests/tls_transports_tests.cpp
  osquery/sql/tests/virtual_table.cpp
  osquery/system/network/tests/host_identity.cpp
  osquery/tables/events/tests/file_events_tests.cpp
  osquery/tables/networking/tests/networking_tables_tests.cpp
  osquery/tables/system/tests/posix/augeas_tests.cpp
  osquery/tables/system/tests/system_tables_tests.cpp
  osquery/tables/system/tests/windows/certificates_tests.cpp
  osquery/tables/system/tests/windows/registry_tests.cpp
  plugins/config/parsers/tests/decorators_tests.cpp
  plugins/config/parsers/tests/events_parser_tests.cpp
  plugins/config/parsers/tests/file_paths_tests.cpp
  plugins/config/parsers/tests/options_tests.cpp
  plugins/config/parsers/tests/views_tests.cpp
  plugins/config/tests/tls_config_tests.cpp
  plugins/database/rocksdb.cpp
  plugins/database/sqlite.cpp
  plugins/database/tests/utils.cpp
  plugins/logger/tests/aws_kinesis_logger_tests.cpp
  plugins/logger/tests/buffered_tests.cpp
  plugins/logger/tests/filesystem_logger.cpp
  plugins/logger/tests/kafka_producer_tests.cpp
  plugins/logger/tests/tls_logger_tests.cpp
  plugins/remote/enroll/tests/tls_enroll_tests.cpp
  tests/integration/tables/helper.cpp
  tests/test_util.cpp
Labels: database, refactor

#6621 bug: Force shell to disable watchdog and logger
  osquery/core/init.cpp
Labels: bug, shell

#6623 bug: Fix race in removing external TablePlugins
  osquery/registry/registry_interface.cpp
Labels: bug, extensions

#6596 Improve descriptions for table: processes
  specs/processes.table
Labels: documentation, virtual tables

#6625 Add check for character_frequencies size
  osquery/events/windows/windowseventlogpublisher.cpp
Labels: bug

#6629 Fix Windows build removing non existing C11 conformance
  cmake/flags.cmake
Labels: Windows, build, cmake

#6618 Apply scheduler_timeout correctly
  docs/wiki/installation/cli-flags.md
  osquery/dispatcher/scheduler.cpp
  osquery/dispatcher/scheduler.h
  osquery/dispatcher/tests/scheduler.cpp
  plugins/config/tests/tls_config_tests.cpp
Labels: API change, bug

#6627 bug: Set thread names correctly on macOS and Linux
  osquery/core/system.cpp
  osquery/events/events.cpp
Labels: bug

#6622 Remove prototype database implementations
  osquery/core/database/database.cpp
  osquery/core/database/database.h
  osquery/core/database/in_memory_database.cpp
  osquery/core/database/in_memory_database.h
  osquery/core/database/rocksdb_database.cpp
  osquery/core/database/rocksdb_database.h
  osquery/core/database/rocksdb_migration.cpp
  osquery/core/database/rocksdb_migration.h
Labels: database, refactor

#6633 database: Move initialization retry logic into DB API
  osquery/core/init.cpp
  osquery/database/database.cpp
  osquery/database/database.h
Labels: database, refactor

#6632 tests: Improve the reliability of TLSServerRunner
  osquery/remote/tests/test_utils.cpp
  osquery/remote/tests/test_utils.h
Labels: test

#6634 tests: Fix flaky test_2_daemon_with_option
  tools/tests/test_base.py
  tools/tests/test_osqueryd.py
Labels: test

#6635 libs: Set glog and gflags includes as SYSTEM
  libraries/cmake/source/gflags/CMakeLists.txt
  libraries/cmake/source/glog/CMakeLists.txt
Labels: libraries

#6638 events: Remove selectAllFrom from linux process events callback
  osquery/tables/events/linux/process_events.cpp
Labels: Linux, events, performance

#6637 database: Remove read only concept
  osquery/core/init.cpp
  osquery/database/database.cpp
  osquery/database/database.h
  plugins/database/rocksdb.cpp
  plugins/database/sqlite.cpp
Labels: database, refactor, user experience

#6645 Update process auditing docs schema link.
  docs/wiki/deployment/process-auditing.md
Labels: documentation

#6607 Add `sigurl` to get the YARA signature from https server for scan
  osquery/tables/yara/yara.cpp
  osquery/tables/yara/yara_utils.cpp
  osquery/tables/yara/yara_utils.h
  specs/yara/yara.table
Labels: feature

#6646 Add 4.5.0 CHANGELOG
  CHANGELOG.md
Labels: documentation

#6587 Support for Office MRU (most recently used) entries
  osquery/tables/applications/CMakeLists.txt
  osquery/tables/applications/windows/office_mru.cpp
  specs/CMakeLists.txt
  specs/office_mru.table
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/office_mru.cpp
Labels: Windows, virtual tables

#6631 tests: Restore test_osqueryi
  tools/tests/CMakeLists.txt
  tools/tests/test_base.py
  tools/tests/test_osqueryd.py
  tools/tests/test_osqueryi.py
Labels: test

#5246 Fix BIOS Info table searching.
  osquery/tables/system/windows/wmi_bios_info.cpp
Labels: Windows, bug, virtual tables

#6644 systemd: Limit osqueryd CPU usage to 20%
  tools/deployment/osqueryd.service
Labels: Linux, performance

#6647 Improve performance and accuracy of Windows registry querying
  osquery/tables/system/tests/windows/registry_tests.cpp
  osquery/tables/system/windows/ie_extensions.cpp
  osquery/tables/system/windows/registry.cpp
  osquery/tables/system/windows/registry.h
Labels: Windows, bug, performance, virtual tables

#6649 Add atom table spec to window
  osquery/tables/applications/CMakeLists.txt
  specs/CMakeLists.txt
Labels: Windows, virtual tables

#6654 tests: Improve flaky python test handling
  tools/tests/test_base.py
Labels: flaky test, test

#6652 Fix image column within drivers table on Windows
  osquery/tables/system/tests/windows/registry_tests.cpp
  osquery/tables/system/windows/drivers.cpp
  osquery/tables/system/windows/registry.cpp
  osquery/tables/system/windows/registry.h
Labels: Windows, bug, virtual tables

#6656 carver: Update table to use JSON
  osquery/tables/forensic/CMakeLists.txt
  osquery/tables/forensic/carves.cpp
Labels: carving, virtual tables

#6657 carver: Update carves specs to allow full scan
  specs/carves.table
Labels: bug, carving, virtual tables

#6658 carver: Emit an error if the carve function is disabled
  osquery/sql/sqlite_operations.cpp
Labels: carving, user experience

#6659 carver: Improve tests by faking postCarve
  osquery/carver/carver.cpp
  osquery/carver/carver.h
  osquery/carver/tests/carver_tests.cpp
Labels: carving, test

#6641 curl_certificate: Implement configurable timeout through WHERE clause
  cmake/flags.cmake
  osquery/tables/networking/curl_certificate.cpp
  specs/curl_certificate.table
Labels: bug, virtual tables

#6666 Add AWS regions
  osquery/utils/aws/aws_util.cpp
Labels: AWS

#6660 Fixed handling of invalid array bound error with EvtNext function
  osquery/tables/system/windows/windows_eventlog.cpp
Labels: Windows, bug, virtual tables

#6681 Update documentation around build steps
  docs/wiki/development/building.md
  docs/wiki/installation/install-macos.md
Labels: build, documentation

#6664 Fix container overflow in curl_certificate
  osquery/tables/networking/curl_certificate.cpp
Labels: bug, virtual tables

#6683 Document max interval
  docs/wiki/deployment/configuration.md
Labels: documentation
