Repository osquery/osquery, pull requests merged in 2020-12, with the labels that each got.

#6783 BPF: Fix the tests
  osquery/events/CMakeLists.txt
  osquery/events/linux/bpf/bpfeventpublisher.cpp
  osquery/events/linux/bpf/systemstatetracker.cpp
  osquery/events/tests/linux/bpf/bpfeventpublisher.cpp
  osquery/events/tests/linux/bpf/systemstatetracker.cpp
Labels: Linux, bpf, events, test

#6764 CI: Python installation improvements on Windows
  azure-pipelines.yml
Labels: CI/CD

#6794 CI: Update brew scripts
  azure-pipelines.yml
Labels: CI/CD, macOS

#6799 Remove a Buck leftover
  .buckconfig
Labels: build

#6772 CI: Make the built packages available to be downloaded
  azure-pipelines.yml
  cmake/packaging.cmake
Labels: CI/CD, packaging

#6663 file_events: Add configuration flag
  docs/wiki/deployment/file-integrity-monitoring.md
  osquery/events/CMakeLists.txt
  osquery/events/darwin/fsevents.cpp
  osquery/events/file_events_flags.cpp
  osquery/events/linux/inotify.cpp
  osquery/events/tests/darwin/fsevents_tests.cpp
  osquery/events/tests/linux/inotify_tests.cpp
Labels: Linux, bug, events, macOS, ready for review

#6782 Add indexed column support to Windows users table
  osquery/tables/system/windows/users.cpp
  specs/users.table
Labels: Windows, performance, virtual tables

#6801 CMake: add max version limit to 3.18.0 on Linux
  CMakeLists.txt
  cmake/options.cmake
Labels: Linux, build, cmake

#6805 cpack: Use CPACK_RPM_PACKAGE_RELEASE
  cmake/packaging.cmake
Labels: Linux, packaging

#6809 CHANGELOG 4.6.0
  CHANGELOG.md
Labels: documentation

#6593 Implement new Linux table systemd_units, listing systemd units
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/linux/dbus/methods/dbusmethod.h
  osquery/tables/system/linux/dbus/methods/getstringproperty.cpp
  osquery/tables/system/linux/dbus/methods/getstringproperty.h
  osquery/tables/system/linux/startup_items.cpp
  osquery/tables/system/linux/systemd_units.cpp
  specs/CMakeLists.txt
  specs/linux/systemd_units.table
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/systemd_units.cpp
Labels: Linux, libraries, ready for review, virtual tables

#6814 Allow table info PRAGMAs
  osquery/sql/sqlite_util.cpp
  osquery/sql/sqlite_util.h
Labels: SQL

#6812 Document retrieval of available tables/columns via SQL
  docs/wiki/deployment/extensions.md
Labels: documentation

#6724 Fix wifi_tests on macOS 10.15 and above
  osquery/tables/networking/tests/darwin/wifi_tests.mm
  tools/tests/configs/test_airport.plist
  tools/tests/configs/test_airport_pre_macOS_10.15.plist
Labels: macOS, macOS Catalina, test

#6819 CI: Remove incorrect 2to3 symlink breaking Python brew upgrade
  azure-pipelines.yml
Labels: CI/CD, macOS

#6818 Explicitly set the MSVC runtime library
  cmake/flags.cmake
Labels: build, cmake

#6820 Update openssl to version 1.1.1i
  libraries/cmake/formula/openssl/CMakeLists.txt
Labels: libraries

#6827 Place office_mru table spec in correct folder
  osquery/tables/applications/windows/office_mru.cpp
  specs/CMakeLists.txt
  specs/windows/office_mru.table
Labels: virtual tables

#6823 Add `filevault_status` to disk_encryption table
  osquery/tables/system/darwin/disk_encryption.mm
  specs/posix/disk_encryption.table
Labels: macOS, virtual tables

#6829 CMake: Refactor and rename fuzzers build flag
  cmake/flags.cmake
  cmake/options.cmake
  osquery/main/CMakeLists.txt
  osquery/main/harnesses/CMakeLists.txt
Labels: build, cmake, oss-fuzz

#6826 Add new table location_services for darwin
  cmake/flags.cmake
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/darwin/location_services.mm
  specs/CMakeLists.txt
  specs/darwin/location_services.table
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/location_services.cpp
Labels: macOS, virtual tables

#6832 CMake: Fix amalgamated tables generation on change
  tools/codegen/CMakeLists.txt
Labels: bug, build, cmake

#6833 CMake: Do not compile Windows libraries with debug symbols
  cmake/flags.cmake
Labels: Windows, build, cmake, libraries

#6821 Use make jobserver for OpenSSL on Linux and macOS
  libraries/cmake/formula/openssl/CMakeLists.txt
Labels: build

#6834 CMake: Add Valgrind support
  cmake/flags.cmake
  cmake/options.cmake
  libraries/cmake/source/boost/CMakeLists.txt
  osquery/main/harnesses/CMakeLists.txt
Labels: build, cmake

#6836 Permit running formatting earlier in the CI
  CMakeLists.txt
  azure-pipelines.yml
  cmake/options.cmake
  cmake/utilities.cmake
  tools/formatting/format-check.py
Labels: CI/CD, cmake

#6831 CMake: Add an option to disable building AWS tables and library
  CMakeLists.txt
  cmake/options.cmake
  osquery/main/CMakeLists.txt
  osquery/tables/CMakeLists.txt
  osquery/tables/cloud/CMakeLists.txt
  osquery/utils/CMakeLists.txt
  plugins/logger/CMakeLists.txt
  plugins/logger/tests/CMakeLists.txt
  specs/CMakeLists.txt
  tests/integration/tables/CMakeLists.txt
Labels: AWS, build, cmake, libraries, oss-fuzz

#6680 [CI] Update macOS agent to 10.15 Catalina
  azure-pipelines.yml
  docs/wiki/development/building.md
  tests/integration/tables/browser_plugins.cpp
Labels: CI/CD, macOS, macOS Catalina

#6838 CI: Add a RelWithDebInfo Linux job to generate packages
  azure-pipelines.yml
Labels: CI/CD, build, packaging

#6844 Doc: Fix incorrect Slack urls
  .github/ISSUE_TEMPLATE/Question.md
  README.md
Labels: documentation

#6847 Do not call unconfigured subscribers errors
  osquery/events/events.cpp
Labels: user experience

#6848 CMake: Add an option to disable building libdpkg tables and library
  CMakeLists.txt
  cmake/options.cmake
  osquery/tables/system/CMakeLists.txt
  specs/CMakeLists.txt
  tests/integration/tables/CMakeLists.txt
Labels: libraries

#6849 Fix leaks when a query fails from the shell
  osquery/devtools/shell.cpp
Labels: memory leak

#6851 Improve fuzzing speed and stack trace accuracy
  cmake/flags.cmake
  osquery/logger/logger.cpp
  plugins/config/parsers/decorators.cpp
  plugins/config/parsers/file_paths.cpp
Labels: oss-fuzz, performance

#6853 CMake: Fix platformtablecontaineripc include namespace generation
  osquery/worker/ipc/CMakeLists.txt
Labels: bug, cmake

#6835 Docs: fix all broken or redirected URLs and references
  docs/wiki/deployment/aws-logging.md
  docs/wiki/deployment/configuration.md
  docs/wiki/deployment/log-aggregation.md
  docs/wiki/deployment/logging.md
  docs/wiki/deployment/syslog.md
  docs/wiki/development/building.md
  docs/wiki/development/config-plugins.md
  docs/wiki/development/osquery-sdk.md
  docs/wiki/development/reading-files.md
  docs/wiki/installation/custom-packages.md
Labels: documentation, ready for review

#6845 CI: Move cppcheck step after the tests
  azure-pipelines.yml
Labels: CI/CD

#6856 CMake: Do not attempt to dllimport Thrift symbols
  libraries/cmake/source/thrift/CMakeLists.txt
Labels: build, cmake, libraries

#6855 CMake: Detect missing headers during include namespace generation
  cmake/utilities.cmake
  osquery/tables/system/CMakeLists.txt
Labels: cmake

#6854 CMake: Further fix amalgamation file gen on change
  tools/codegen/CMakeLists.txt
Labels: cmake

#6858 Remove the last usage of sqlite3 from sleuthkit
  libraries/cmake/source/sleuthkit/CMakeLists.txt
Labels: build, cmake, libraries

#6859 Avoid running queries for views when fuzzing
  plugins/config/parsers/views.cpp
Labels: oss-fuzz, performance

#6860 Improve config fuzzer dictionary creation script
  tools/harnesses/osqueryfuzz_config_dict.sh
Labels: oss-fuzz

#6846 Add patch for apache/thrift#2083
  libraries/cmake/source/thrift/patches/src/0001-Make-named-pipe-security-configurable-by-security-de.patch
Labels: libraries

#6872 Don't mark scope and key columns as index in selinux_settings table
  osquery/tables/system/linux/selinux_settings.cpp
  specs/linux/selinux_settings.table
Labels: Linux, bug, virtual tables

#6817 Support AWS tables on macOS
  osquery/tables/CMakeLists.txt
  osquery/tables/cloud/CMakeLists.txt
  specs/CMakeLists.txt
  specs/ec2_instance_metadata.table
  specs/ec2_instance_tags.table
Labels: AWS, macOS

#6871 Do not ignore mountpoints that have the same mount path
  osquery/filesystem/linux/mounts.cpp
  osquery/filesystem/linux/mounts.h
  osquery/tables/system/linux/mounts.cpp
  osquery/tables/system/linux/selinux_settings.cpp
Labels: bug, virtual tables
