Repository osquery/osquery, pull requests merged in 2021-08, with the labels that each got.

#7216 [AWS] Optionally enable debug option and restrict content-type header size for PUT req
  osquery/remote/http_client.cpp
  osquery/utils/aws/aws_util.cpp
Labels: AWS, ready for review

#7184 Update macOS build to include app bundle related files
  .github/workflows/build_aarch64.yml
  .github/workflows/build_x86.yml
  CMakeLists.txt
  tools/deployment/macos_packaging/Info.plist
  tools/deployment/macos_packaging/PkgInfo
  tools/deployment/macos_packaging/pkg/io.osquery.agent.conf
  tools/deployment/macos_packaging/pkg/io.osquery.agent.plist
  tools/deployment/macos_packaging/pkg/productbuild.sh
  tools/deployment/osqueryctl
Labels: build, macOS, packaging

#7210 Update paths, and remove deprecated Facebook names
  docs/wiki/deployment/configuration.md
  docs/wiki/deployment/debugging.md
  docs/wiki/installation/custom-packages.md
  docs/wiki/installation/install-macos.md
  tools/windows_resources.rc.in
Labels: packaging

#7254 Fix osquery_info build_platform column value on Linux
  cmake/flags.cmake
  osquery/tables/utility/osquery.cpp
  osquery/utils/info/platform_type.h
Labels: bug, virtual tables, Linux

#7221 Fix audit rule removal upon osquery exit
  osquery/events/linux/auditdnetlink.cpp
Labels: bug, Linux

#7270 Update `uptime` table descrption
  specs/uptime.table
Labels: virtual tables, documentation

#7273 Change logger_mode flag to be actually interpreted as an octal
  docs/wiki/installation/cli-flags.md
  plugins/logger/CMakeLists.txt
  plugins/logger/filesystem_logger.cpp
  tools/tests/test_osqueryd.py
Labels: user experience, documentation, logging

#7269 audit: socket_events improvements
  docs/wiki/deployment/process-auditing.md
  osquery/events/CMakeLists.txt
  osquery/events/linux/auditdnetlink.cpp
  osquery/events/linux/auditeventpublisher.cpp
  osquery/events/linux/auditeventpublisher.h
  osquery/events/linux/socket_events.cpp
  osquery/events/linux/socket_events.h
  osquery/events/tests/CMakeLists.txt
  osquery/events/tests/linux/audit_tests.cpp
  osquery/events/tests/linux/process_file_events_tests.cpp
  osquery/events/tests/linux/socket_events.cpp
  osquery/tables/events/linux/process_events.cpp
  osquery/tables/events/linux/process_file_events.cpp
  osquery/tables/events/linux/socket_events.cpp
  osquery/tables/events/linux/socket_events.h
  osquery/tables/events/tests/linux/process_events_tests.cpp
  specs/posix/socket_events.table
Labels: Linux, process auditing, merge with rebase

#7132 Support pid_with_namespace in more tables
  osquery/filesystem/filesystem.cpp
  osquery/filesystem/filesystem.h
  osquery/tables/networking/etc_hosts.cpp
  osquery/tables/networking/posix/dns_resolvers.cpp
  osquery/tables/networking/tests/networking_tables_tests.cpp
  osquery/tables/system/linux/groups.cpp
  osquery/tables/system/linux/user_groups.cpp
  osquery/tables/system/linux/users.cpp
  osquery/tables/system/posix/apt_sources.cpp
  osquery/tables/system/posix/authorized_keys.cpp
  osquery/tables/system/posix/crontab.cpp
  osquery/tables/system/posix/ssh_keys.h
  osquery/tables/system/posix/suid_bin.cpp
  osquery/tables/system/posix/yum_sources.cpp
  osquery/tables/system/python_packages.cpp
  osquery/tables/system/ssh_keys.cpp
  osquery/tables/system/tests/posix/ssh_keys_tests.cpp
  specs/etc_hosts.table
  specs/groups.table
  specs/posix/apt_sources.table
  specs/posix/authorized_keys.table
  specs/posix/crontab.table
  specs/posix/dns_resolvers.table
  specs/posix/suid_bin.table
  specs/posix/yum_sources.table
  specs/python_packages.table
  specs/user_ssh_keys.table
  specs/users.table
Labels: virtual tables, Linux

#7158 Add feature to skip denylist for event-based queries
  docs/wiki/installation/cli-flags.md
  osquery/config/config.cpp
  osquery/events/eventfactory.cpp
  osquery/events/eventfactory.h
  osquery/events/events.cpp
  osquery/events/events.h
  osquery/sql/sqlite_operations.cpp
Labels: bug, events, do not merge

#7209 Change to the `disk_encryption` table to support QueryContext
  osquery/tables/system/darwin/disk_encryption.mm
  osquery/tables/system/linux/disk_encryption.cpp
  specs/posix/disk_encryption.table
Labels: virtual tables, performance

#7279 Update packaging SHA
  .github/workflows/build_aarch64.yml
  .github/workflows/build_x86.yml
Labels: build, packaging
