Repository osquery/osquery, pull requests merged in 2021-05, with the labels that each got.

#7081 CI: Regenerate sccache cache when compiler version changes
  .github/workflows/build_x86.yml
Labels: CI/CD, Windows, build

#7015 Add filesystem logrotate feature
  docs/wiki/installation/cli-flags.md
  plugins/logger/filesystem_logger.cpp
  plugins/logger/filesystem_logger.h
  plugins/logger/logrotate.h
  plugins/logger/tests/CMakeLists.txt
  plugins/logger/tests/filesystem_logger_tests.cpp
  plugins/logger/tests/logrotate_tests.cpp
Labels: feature, logging, ready for review

#7102 docs: Update process auditing requirements
  docs/wiki/deployment/process-auditing.md
Labels: Linux, bpf, documentation

#7116 Watchdog should wait for the worker to shutdown
  osquery/core/init.cpp
  osquery/core/system.cpp
  osquery/core/watcher.cpp
  osquery/distributed/CMakeLists.txt
  osquery/process/process.h
  osquery/worker/ipc/linux/linux_table_container_ipc.cpp
Labels: bug, daemon

#7117 Update `homebrew_packages` to include new prefix and allows specifying alternate prefixes
  osquery/tables/system/darwin/homebrew_packages.cpp
  specs/darwin/homebrew_packages.table
Labels: apple_silicon, bug, virtual tables

#7121 Secured protected virtual processes
  osquery/tables/system/windows/processes.cpp
  specs/processes.table
  tests/integration/tables/processes.cpp
Labels: Windows, virtual tables

#7094 rocksdb: Do not fsync WAL writes
  plugins/database/rocksdb.cpp
Labels: database, events

#7106 Improve shutdown speed during initialization
  osquery/core/init.cpp
  osquery/extensions/extensions.cpp
Labels: core, extensions

#7124 chrome_extensions: Compute the identifier from the 'key' property
  osquery/tables/applications/chrome/chrome_extensions.cpp
  osquery/tables/applications/chrome/tests/utils.cpp
  osquery/tables/applications/chrome/utils.cpp
  osquery/tables/applications/chrome/utils.h
  specs/chrome_extensions.table
  tests/integration/tables/chrome_extensions.cpp
Labels: feature, virtual tables

#7114 Bugfix/ntfs_acl_permissions: Use GetAce() to enlist all ACE entries in dacl
  osquery/tables/system/windows/ntfs_acl_permissions.cpp
Labels: Windows, bug

#7128 Minor cleanup of unused variables
  osquery/process/windows/process_ops.cpp
  osquery/tables/yara/yara.cpp
  osquery/tables/yara/yara_events.cpp
Labels: build, dead code

#7126 Remove POSIX-only -fexceptions flag on Windows
  libraries/cmake/source/sqlite/CMakeLists.txt
Labels: Windows, build

#7125 Implement infinite enrollment retries
  docs/wiki/installation/cli-flags.md
  plugins/remote/enroll/tls_enroll.cpp
Labels: feature, remote

#7127 Fix crash and deadlocks in the support for recursive logging
  osquery/dispatcher/scheduler.cpp
  osquery/logger/data_logger.h
  osquery/logger/logger.cpp
  osquery/logger/tests/logger.cpp
  plugins/logger/tests/filesystem_logger_tests.cpp
Labels: bug, logging
