Repository osquery/osquery, pull requests merged in 2021-04, with the labels that each got.

#7014 Add build_aarch64 workflow for push
  .github/workflows/build.yml
  .github/workflows/build_aarch64.yml
Labels: CI/CD, aarch64

#7033 Correct docs about OpenSSL and TLS behavior
  docs/wiki/deployment/remote.md
Labels: documentation

#7034 Remove Buck leftovers that supported building with old versions of OpenSSL
  osquery/tables/networking/curl_certificate.cpp
  osquery/tables/system/darwin/certificates.mm
  osquery/tables/system/darwin/keychain_utils.cpp
  osquery/tables/system/tests/darwin/certificates_tests.cpp
Labels: build, debt

#7035 Correct the example in the windows_events table spec
  specs/windows/windows_events.table
Labels: Windows, documentation

#7039 bugfix-7019: Free using WTSFreeMemoryEx for WTSEnumerateSessionsExW
  osquery/tables/system/windows/logged_in_users.cpp
Labels: Windows, bug, memory leak, virtual tables

#7006 seccomp_events table in osquery
  osquery/events/linux/auditdnetlink.cpp
  osquery/events/linux/auditeventpublisher.cpp
  osquery/events/linux/auditeventpublisher.h
  osquery/tables/events/CMakeLists.txt
  osquery/tables/events/linux/seccomp_events.cpp
  osquery/tables/events/linux/seccomp_events.h
  osquery/tables/events/tests/CMakeLists.txt
  osquery/tables/events/tests/linux/seccomp_events_tests.cpp
  specs/CMakeLists.txt
  specs/linux/seccomp_events.table
Labels: Linux, events, virtual tables

#7043 Add funding link on GitHub generated page
  .github/FUNDING.yml
Labels: documentation, foundation

#7040 config: Add docs for the events top-level-key
  docs/wiki/deployment/configuration.md
Labels: documentation, events

#7044 Add an option to enable incremental linking on Windows
  cmake/flags.cmake
  cmake/options.cmake
Labels: build, cmake

#7028 Change windows calculation for `physical_memory`
  osquery/tables/system/windows/system_info.cpp
Labels: Windows, bug, virtual tables

#7036 Improve docs on FIM, mention NTFS and Audit, etc.
  docs/wiki/deployment/file-integrity-monitoring.md
Labels: FIM, documentation, ready for review

#7049 Fix tls_enroll_max_attempts flag name in the documentation
  docs/wiki/installation/cli-flags.md
Labels: documentation

#7052 Guard node key to prevent duplicate enrollments
  osquery/remote/enroll/enroll.cpp
Labels: bug, remote

#7051 Use epoch and counter for events-based queries
  osquery/core/query.cpp
  osquery/core/query.h
  osquery/core/tests/query_tests.cpp
  osquery/dispatcher/scheduler.cpp
Labels: API change, bug

#7050 Small events subscriber refactor to increase test coverage
  osquery/events/eventsubscriberplugin.cpp
  osquery/events/eventsubscriberplugin.h
  osquery/events/tests/eventsubscriberplugin.cpp
Labels: events, test

#7055 Fix optimization for multiple queries using the same subscriber
  osquery/events/eventfactory.cpp
  osquery/events/eventpublisherplugin.cpp
  osquery/events/eventpublisherplugin.h
  osquery/events/eventsubscriberplugin.cpp
  osquery/events/eventsubscriberplugin.h
  osquery/events/tests/eventsubscriberplugin.cpp
  osquery/events/tests/mockedosquerydatabase.cpp
  osquery/events/tests/mockedosquerydatabase.h
Labels: bug, events

#7042 Refactor watcher out of singleton pattern
  osquery/core/init.cpp
  osquery/core/tests/watcher_tests.cpp
  osquery/core/watcher.cpp
  osquery/core/watcher.h
  osquery/main/main.cpp
Labels: refactor

#6994 Add Shortcuts table
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/windows/shortcut_files.cpp
  osquery/utils/CMakeLists.txt
  osquery/utils/tests/windows/shelllnk.cpp
  osquery/utils/windows/shellitem.cpp
  osquery/utils/windows/shellitem.h
  osquery/utils/windows/shelllnk.cpp
  osquery/utils/windows/shelllnk.h
  specs/CMakeLists.txt
  specs/windows/shortcut_files.table
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/shortcut_files.cpp
Labels: Windows, virtual tables

#7060 Handle events optimization edge cases
  osquery/events/eventsubscriberplugin.cpp
  osquery/events/eventsubscriberplugin.h
  osquery/events/tests/eventsubscriberplugin.cpp
Labels: bug, events

#7046 [macOS] EndpointSecurity based process events
  docs/wiki/deployment/process-auditing.md
  docs/wiki/development/building.md
  docs/wiki/installation/cli-flags.md
  osquery/events/CMakeLists.txt
  osquery/events/darwin/endpointsecurity.cpp
  osquery/events/darwin/endpointsecurity.h
  osquery/tables/events/CMakeLists.txt
  osquery/tables/events/darwin/es_process_events.cpp
  specs/CMakeLists.txt
  specs/darwin/es_process_events.table
  tools/deployment/osquery.entitlements
Labels: do not merge, events, macOS, macOS Big Sur, macOS Catalina

#7069 Correct RocksDB error code and subcode printing on open failure
  plugins/database/rocksdb.cpp
Labels: bug

#7070 Remove flaky test decorators for python tests
  tools/tests/test_base.py
  tools/tests/test_example_queries.py
  tools/tests/test_extensions.py
  tools/tests/test_osqueryd.py
  tools/tests/test_release.py
  tools/tests/test_windows_service.py
Labels: test

#7071 Add more tests for events expiration
  osquery/events/eventfactory.cpp
  osquery/events/eventsubscriberplugin.cpp
  osquery/events/eventsubscriberplugin.h
  osquery/events/tests/eventsubscriberplugin.cpp
Labels: events, test

#6915 Add column for system extensions managed by configuration policy (system_extensions table)
  osquery/tables/system/darwin/system_extensions.mm
  osquery/tables/system/tests/darwin/system_extensions_test.cpp
  specs/darwin/system_extensions.table
  tests/integration/tables/system_extensions.cpp
Labels: macOS, macOS Big Sur, macOS Catalina, virtual tables

#7072 Restore thrift socket 5min timeout
  osquery/extensions/extensions.cpp
  osquery/extensions/impl_thrift.cpp
  osquery/extensions/interface.h
Labels: extensions

#7078 Remove duplicated osquery_utils_aws_tests-test
  osquery/utils/azure/CMakeLists.txt
Labels: bug, cmake, test

#7075 Fix extensions crash on shutdown
  docs/wiki/development/osquery-sdk.md
  external/examples/config_plugin/main.cpp
  external/examples/read_only_table/main.cpp
  external/examples/writable_table/main.cpp
  tools/codegen/templates/osquery_extension_group_main.cpp.in
Labels: bug, documentation, extensions

#7077 Improve speed of osquery shutdown procedure
  osquery/core/shutdown.cpp
  osquery/core/shutdown.h
  osquery/dispatcher/scheduler.cpp
  osquery/dispatcher/scheduler.h
  osquery/remote/utility.h
  plugins/config/tests/tls_config_tests.cpp
  plugins/remote/enroll/tls_enroll.cpp
Labels: bug, user experience

#7059 Use standalone CPack packaging
  .github/workflows/build_aarch64.yml
  .github/workflows/build_x86.yml
  CMakeLists.txt
  cmake/CPackConfig.cmake.in
  cmake/options.cmake
  cmake/packaging.cmake
  docs/wiki/development/building.md
  libraries/cmake/source/sqlite/CMakeLists.txt
  osquery/tables/applications/chrome/chrome_extensions.cpp
  osquery/tables/applications/chrome/utils.cpp
  osquery/tables/system/tests/posix/augeas_tests.cpp
  tests/integration/tables/chrome_extensions.cpp
  tools/deployment/linux_packaging/deb/conffiles
  tools/deployment/linux_packaging/deb/copyright
  tools/deployment/linux_packaging/deb/osquery.initd
  tools/deployment/linux_packaging/deb/osqueryd.service
  tools/deployment/linux_packaging/osqueryd.sysconfig
  tools/deployment/linux_packaging/postinst
  tools/deployment/linux_packaging/rpm/osquery.initd
  tools/deployment/linux_packaging/rpm/osqueryd.service
  tools/deployment/macos_packaging/osquery.entitlements
  tools/deployment/macos_packaging/pkg/com.facebook.osqueryd.conf
  tools/deployment/macos_packaging/pkg/com.facebook.osqueryd.plist
  tools/deployment/macos_packaging/pkg/productbuild.sh
  tools/deployment/windows_packaging/chocolatey/VERIFICATION.txt
  tools/deployment/windows_packaging/chocolatey/tools/chocolateyBeforeModify.ps1
  tools/deployment/windows_packaging/chocolatey/tools/chocolateyinstall.ps1
  tools/deployment/windows_packaging/chocolatey/tools/chocolateyuninstall.ps1
  tools/deployment/windows_packaging/manage-osqueryd.ps1
  tools/deployment/windows_packaging/msi/osquery_wix_patch.xml
  tools/deployment/windows_packaging/osquery.flags
  tools/deployment/windows_packaging/osquery.ico
  tools/deployment/windows_packaging/osquery_utils.ps1
Labels: merge with rebase, packaging

#7074 Print extension sdk minimum version required when failing to load
  osquery/extensions/interface.cpp
Labels: SDK, extensions, user experience
