Repository osquery/osquery, pull requests merged in 2021-06, with the labels that each got.

#7099 Alternate check for packageIdentifiers key
  osquery/tables/system/darwin/packages.mm
Labels: macOS, virtual tables

#7135 7118: Make generaing an extension uuid thread safe
  osquery/extensions/interface.cpp
Labels: bug, extensions

#7136 Update website generators
  tools/codegen/gentable.py
  tools/codegen/genwebsitejson.py
  tools/codegen/genwebsitemetadata.py
Labels: website

#7139 pipe_channel not reading all data in a message
  osquery/worker/ipc/posix/pipe_channel.cpp
Labels: bug, containers, virtual tables

#7143 Trigger event cleanup checks every 256 events
  osquery/events/eventsubscriberplugin.cpp
Labels: bug, events

#7138 Add detection/handling for updated XProtect path in macOS Big Sur
  osquery/tables/system/darwin/xprotect.cpp
Labels: bug, macOS Big Sur, virtual tables

#7076 Add Prefetch table
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/windows/prefetch.cpp
  osquery/utils/CMakeLists.txt
  osquery/utils/windows/lzxpress.cpp
  osquery/utils/windows/lzxpress.h
  specs/CMakeLists.txt
  specs/windows/prefetch.table
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/prefetch.cpp
  tools/tests/configs/windows/prefetch/7ZFM.EXE-44040917.pf
  tools/tests/configs/windows/prefetch/MSPAINT.EXE-512C7E1E.pf
  tools/tests/configs/windows/prefetch/OSQUERYD.EXE-50A45F4A.pf
Labels: Windows, virtual tables

#7103 Bugfix/wmi bios info
  osquery/tables/system/windows/wmi_bios_info.cpp
Labels: Windows, virtual tables

#7151 custom curl_certificate timeouts would never be used
  osquery/tables/networking/curl_certificate.cpp
Labels: bug, virtual tables

#7154 Add additional paths to `apps` and `launchd`
  osquery/tables/system/darwin/apps.mm
  osquery/tables/system/darwin/launchd.cpp
  osquery/tables/system/darwin/packages.mm
Labels: bug, macOS, virtual tables

#7148 packaging: update windows icon reference and include query packs
  CMakeLists.txt
  tools/deployment/make_windows_package.ps1
  tools/deployment/windows_packaging/chocolatey/tools/chocolateyinstall.ps1
Labels: Windows, packaging

#7152 4.9.0 Changelog
  CHANGELOG.md
Labels: documentation

#7166 Fix issues applying ACLs during chocolatey deployment
  tools/deployment/windows_packaging/osquery_utils.ps1
Labels: Windows, bug, deployment

#7157 Use total_size within watchdog on Windows
  osquery/core/tests/watcher_tests.cpp
  osquery/core/watcher.cpp
Labels: Windows, virtual tables

#7153 Remove deprecated `blacklist` key (BreakingChange)
  osquery/config/packs.cpp
Labels: API change, do not merge

#7179 Fix memory issue in Windows fileops
  osquery/filesystem/windows/fileops.cpp
Labels: Windows, bug, memory leak

#7174 [libs][yara] enable and compile the macho module on macOS
  libraries/cmake/source/yara/CMakeLists.txt
Labels: build, virtual tables

#7170 Add Edge & EdgeBeta to `chrome_extensions` on macOS
  osquery/tables/applications/chrome/utils.cpp
Labels: virtual tables

#7182 Fix choco not failing when an error occurs during install or upgrade
  tools/deployment/windows_packaging/chocolatey/tools/chocolateyinstall.ps1
Labels: Windows, bug, deployment
