Repository osquery/osquery, pull requests merged in 2021-07, with the labels that each got.

#7186 refactor: Fix comment typo in tables.h
  osquery/core/tables.h
Labels: documentation

#7183 Fix broadcasting empty logs to logger plugins
  osquery/logger/logger.cpp
Labels: bug, logging

#7168 detect encryption of ed25519 ssh keys
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/posix/ssh_keys.h
  osquery/tables/system/ssh_keys.cpp
  osquery/tables/system/tests/CMakeLists.txt
  osquery/tables/system/tests/posix/ssh_keys_tests.cpp
  specs/user_ssh_keys.table
Labels: feature, virtual tables

#7172 Docs: bring the YARA wiki page up to date
  docs/wiki/deployment/yara.md
Labels: documentation

#7048 Docs: add a security assurance case
  ASSURANCE.md
  SECURITY.md
Labels: documentation, reference, security

#7178 Do not let osquery create multiple copies of the extension running at once
  osquery/core/watcher.cpp
Labels: extensions, performance

#7185 Update `sudoers` table to support newer include syntax
  osquery/tables/system/posix/sudoers.cpp
  osquery/tables/system/tests/posix/sudoers_tests.cpp
Labels: bug, virtual tables

#7204 Prevent race condition between shutdown and worker or extension launch
  osquery/core/watcher.cpp
  osquery/core/watcher.h
Labels: bug, core, extensions

#7203 Make sure that the file action "MOVED_TO" is tracked with yara events.
  osquery/tables/yara/yara_events.cpp
Labels: events

#7201 Add utmp type name column to `last` table
  osquery/tables/system/posix/last.cpp
  specs/posix/last.table
  tests/integration/tables/last.cpp
Labels: virtual tables

#7199 libs: Update Strawberry Perl to 5.32.1.1, use HTTPS downloads
  tools/ci/scripts/install_openssl_formula_dependencies.ps1
Labels: CI/CD, Windows, libraries

#7107 Add Table for Win32_Tpm class
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/windows/tpm_info.cpp
  specs/CMakeLists.txt
  specs/windows/tpm_info.table
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/tpm_info.cpp
Labels: Windows, feature, virtual tables

#7202 Add a `secureboot` table for linux and windows
  osquery/filesystem/fileops.h
  osquery/filesystem/windows/fileops.cpp
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/linux/secureboot.cpp
  osquery/tables/system/secureboot.hpp
  osquery/tables/system/windows/secureboot.cpp
  osquery/utils/conversions/windows/strings.cpp
  osquery/utils/conversions/windows/strings.h
  specs/CMakeLists.txt
  specs/linwin/secureboot.table
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/secureboot.cpp
Labels: Linux, Windows, virtual tables

#7208 Pin the packaging repo within GitHub workflows
  .github/workflows/build_aarch64.yml
  .github/workflows/build_x86.yml
Labels: CI/CD

#6546 Fix process_open_sockets type error on darwin
  osquery/tables/system/darwin/process_open_descriptors.cpp
Labels: bug, macOS, virtual tables

#6982 Update `augeas` table to use native pattern matching (BREAKING)
  osquery/tables/system/posix/augeas.cpp
  osquery/tables/system/tests/posix/augeas_tests.cpp
Labels: bug, virtual tables
