Repository osquery/osquery, pull requests merged in 2021-03, with the labels that each got.

#6927 Add concat and concat_ws functions
  docs/wiki/introduction/sql.md
  osquery/sql/sqlite_string.cpp
  osquery/sql/tests/sql.cpp
Labels: SQL

#6972 Remove hash and yara table from fuzz harnesses
  osquery/main/harnesses/fuzz_utils.cpp
Labels: oss-fuzz

#6983 Fix error in process_open_files around stoi vs stoul
  osquery/tables/system/linux/process_open_pipes.cpp
Labels: bug, virtual tables

#6984 Fix mem leak regression with Windows' sids API
  osquery/tables/system/windows/logon_sessions.cpp
  osquery/tables/system/windows/users.cpp
Labels: Windows, memory leak

#6987 Make Group ID columns consistent across Windows tables
  osquery/process/windows/process_ops.cpp
  osquery/tables/system/windows/users.cpp
Labels: Windows

#6988 Docs: change reference about Azure Pipelines to GitHub Actions
  docs/wiki/installation/install-macos.md
Labels: CI/CD, documentation

#6780 chrome_extensions: Refactor the table, add tests
  osquery/events/CMakeLists.txt
  osquery/tables/applications/CMakeLists.txt
  osquery/tables/applications/browser_chrome.cpp
  osquery/tables/applications/browser_firefox.cpp
  osquery/tables/applications/browser_utils.cpp
  osquery/tables/applications/browser_utils.h
  osquery/tables/applications/chrome/chrome_extension_content_scripts.cpp
  osquery/tables/applications/chrome/chrome_extensions.cpp
  osquery/tables/applications/chrome/tests/CMakeLists.txt
  osquery/tables/applications/chrome/tests/utils.cpp
  osquery/tables/applications/chrome/utils.cpp
  osquery/tables/applications/chrome/utils.h
  osquery/tables/applications/darwin/browser_plugins.cpp
  specs/CMakeLists.txt
  specs/chrome_extension_content_scripts.table
  specs/chrome_extensions.table
  specs/posix/opera_extensions.table
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/opera_extensions.cpp
Labels: Linux, Windows, macOS, ready for review, virtual tables

#6986 Always use BIGINT macro for 'long long' data
  osquery/tables/system/windows/background_activities_moderator.cpp
  osquery/tables/system/windows/shellbags.cpp
  osquery/tables/system/windows/userassist.cpp
  specs/windows/background_activities_moderator.table
  specs/windows/shellbags.table
  specs/windows/userassist.table
Labels: Windows, bug

#6985 Add 4.7.0 CHANGELOG
  CHANGELOG.md
Labels: documentation

#7002 Disable BPF events tests if OSQUERY_BUILD_BPF is false
  osquery/events/CMakeLists.txt
Labels: build

#7001 Setting non-required deb_packages fields as optional in test
  tests/integration/tables/deb_packages.cpp
Labels: Linux, flaky test

#7004 Run GH Actions workflows on all tags
  .github/workflows/build.yml
Labels: build, release

#7010 Docs: add a note on enabling Windows to build with CMake's long paths
  docs/wiki/development/building.md
Labels: Windows, documentation

#7011 Update dockerfile to multiplatform
  tools/ci/Makefile
  tools/ci/linux-base_1.0_all.deb
  tools/ci/linux-firmware_1.0_all.deb
  tools/ci/linux-generic_1.0_all.deb
  tools/ci/osquery-ubuntu18.04-toolchain.dockerfile
Labels: CI/CD, build

#7012 Move CI to using docker from osquery
  .github/workflows/build.yml
Labels: CI/CD

#6944 shell: Add .connect meta command
  docs/wiki/deployment/debugging.md
  osquery/devtools/shell.cpp
Labels: feature, shell

#7016 Fix scheduler to print the correct number of elapsed seconds
  osquery/dispatcher/scheduler.cpp
Labels: user experience

#6970 Update docs to describe how to build for aarch64/arm64 (#6285)
  docs/wiki/development/building.md
Labels: aarch64, build, documentation

#7023 Removing Keyboard Event Taps from osx-attacks pack
  packs/osx-attacks.conf
Labels: packs

#7027 Change windows messages to verbose
  osquery/tables/system/windows/processes.cpp
  osquery/tables/system/windows/windows_crashes.cpp
Labels: Windows, user experience, virtual tables

#7026 libs: Update OpenSSL to version 1.1.1k
  libraries/cmake/formula/openssl/CMakeLists.txt
Labels: cmake, libraries

#7024 Release variable in windows data conversation
  osquery/utils/conversions/windows/strings.cpp
Labels: Windows, bug

#7029 Add transactions to the pragma/actions authorizer allow list
  osquery/sql/sqlite_util.h
Labels: SQL
