Repository osquery/osquery, pull requests merged in 2022-09, with the labels that each got.

#7755 Fix a leak and improve users and groups APIs on Windows
  osquery/system/usersgroups/windows/groups_service.cpp
  osquery/system/usersgroups/windows/users_service.cpp
  osquery/tables/system/windows/user_groups.cpp
  osquery/utils/system/windows/users_groups_helpers.cpp
  osquery/utils/system/windows/users_groups_helpers.h
Labels: bug, memory leak, Windows

#7760 codegen: Include extended schema platforms in website json
  specs/platform_info.table
  tools/codegen/gentable.py
  tools/codegen/genwebsitejson.py
Labels: feature, website, core

#7746 Fix `docker_container_processes` on macOS
  osquery/tables/applications/posix/docker.cpp
Labels: bug, virtual tables, macOS, docker

#7759 Fix `process_file_events` subscriber being incorrectly initialized
  osquery/tables/events/linux/process_file_events.cpp
  osquery/tables/events/linux/process_file_events.h
Labels: bug, Linux, events

#7747 codegen: add `notes` field and passthrough examples to json
  Testing/Temporary/CTestCostData.txt
  tools/codegen/gentable.py
  tools/codegen/genwebsitejson.py
Labels: virtual tables, website, core

#7631 `wmi_bios_info`: Include Win32_BIOS attributes for all systems
  osquery/tables/system/windows/wmi_bios_info.cpp
Labels: feature, virtual tables, ready for review, Windows

#7744 Document difference between `yara` and `yara_events`
  specs/yara/yara.table
Labels: documentation

#7771 build: Remove unused find_packages modules and submodule
  .gitmodules
  libraries/cmake/source/modules/Findberkeley-db.cmake
  libraries/cmake/source/modules/Findlibelfin.cmake
  libraries/cmake/source/modules/Findlldpd.cmake
  libraries/cmake/source/modules/Findsmartmontools.cmake
  libraries/cmake/source/modules/Findssdeep.cmake
Labels: build, libraries, cmake, dead code

#7739 Remove leftover FreeBSD related code and documentation
  Vagrantfile
  osquery/config/tests/packs.cpp
  osquery/tables/networking/CMakeLists.txt
  osquery/tables/networking/freebsd/interface_ip.cpp
  osquery/tables/networking/freebsd/process_open_sockets.cpp
  osquery/tables/networking/freebsd/routes.cpp
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/freebsd/fbsd_kmods.cpp
  osquery/tables/system/freebsd/groups.cpp
  osquery/tables/system/freebsd/mounts.cpp
  osquery/tables/system/freebsd/os_version.cpp
  osquery/tables/system/freebsd/pkg_packages.cpp
  osquery/tables/system/freebsd/process_open_files.cpp
  osquery/tables/system/freebsd/processes.cpp
  osquery/tables/system/freebsd/procstat.cpp
  osquery/tables/system/freebsd/procstat.h
  osquery/tables/system/freebsd/sysctl_utils.cpp
  osquery/tables/system/freebsd/users.cpp
  specs/CMakeLists.txt
  specs/freebsd/fbsd_kmods.table
  specs/freebsd/pkg_packages.table
  tools/codegen/genapi.py
  tools/codegen/gentable.py
  tools/codegen/genwebsitejson.py
  tools/tests/utils.py
Labels: ready for review, FreeBSD, deprecation

#7774 Remove deprecate `is_running` column from macOS `running_apps` table
  osquery/tables/system/darwin/running_apps.mm
  specs/darwin/running_apps.table
  tests/integration/tables/running_apps.cpp
Labels: virtual tables, macOS, deprecation
