Repository osquery/osquery, pull requests merged in 2022-03, with the labels that each got.

#7455 Update cppcheck to version 2.6.3 and skip analysis for third party code
  .github/workflows/hosted_runners.yml
  .github/workflows/self_hosted_runners.yml
  tests/cppcheck/CMakeLists.txt
  tests/cppcheck/suppressions_list.txt
  tools/ci/osquery-ubuntu18.04-toolchain.dockerfile
Labels: Linux, CI/CD

#7474 Fix watchdog not killing unhealthy worker/extension fast enough
  docs/wiki/installation/cli-flags.md
  osquery/core/tests/watcher_tests.cpp
  osquery/core/watcher.cpp
  osquery/core/watcher.h
Labels: bug, macOS, Linux, user experience

#7497 Fix the test_http_server.py --persist option
  tools/tests/test_http_server.py
Labels: bug, ready for review, test

#7470 Enable fuzzing and Asan on Windows, enable Asan on macOS
  cmake/flags.cmake
  cmake/globals.cmake
  cmake/options.cmake
  cmake/utilities.cmake
  libraries/cmake/source/boost/CMakeLists.txt
  osquery/main/harnesses/CMakeLists.txt
Labels: build, cmake

#7438 Add new metrics and improve description of existing ones in osquery_schedule
  osquery/config/config.cpp
  osquery/config/config.h
  osquery/core/sql/query_performance.h
  osquery/dispatcher/scheduler.cpp
  osquery/tables/utility/osquery.cpp
  specs/utility/osquery_schedule.table
Labels: feature, ready for review, daemon, core

#7501 Mark wall_time column in osquery_schedule as hidden
  specs/utility/osquery_schedule.table
Labels: virtual tables, ready for review, daemon

#7506 libs: Update OpenSSL from version 1.1.1l to 1.1.1n
  libraries/cmake/formula/openssl/CMakeLists.txt
Labels: libraries, cmake

#7508 docs: remove FreeBSD
  README.md
  docs/wiki/deployment/configuration.md
  docs/wiki/development/creating-tables.md
  docs/wiki/index.md
  docs/wiki/installation/install-freebsd.md
  mkdocs.yml
Labels: documentation

#7536 Add windows/darwin support to npm_packages
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/linux/npm_packages.cpp
  osquery/tables/system/npm_packages.cpp
  specs/CMakeLists.txt
  specs/linux/npm_packages.table
  specs/npm_packages.table
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/npm_packages.cpp
Labels: feature, virtual tables, macOS, Windows
