Repository osquery/osquery, pull requests merged in 2022-02, with the labels that each got.

#7469 Add BOOST_USE_ASAN define when enabling Asan
  libraries/cmake/source/boost/CMakeLists.txt
Labels: build, libraries, cmake, oss-fuzz

#7473 Fix user_time and system_time unit in processes table on M1
  osquery/tables/system/darwin/processes.cpp
Labels: bug, apple_silicon

#7447 CHANGELOG 5.2.2
  CHANGELOG.md
Labels: documentation

#7436 Implement `output_size` for `osquery_schedule`
  osquery/config/config.cpp
  osquery/config/config.h
  osquery/core/sql/query_performance.h
  osquery/dispatcher/scheduler.cpp
  osquery/dispatcher/tests/scheduler.cpp
  osquery/sql/sqlite_util.cpp
  osquery/sql/sqlite_util.h
  osquery/tables/utility/osquery.cpp
  specs/utility/osquery_schedule.table
Labels: virtual tables

#7414 Fix for gathering python packages from any user Python installations
  osquery/tables/system/tests/windows/registry_tests.cpp
  osquery/tables/system/windows/registry.cpp
  osquery/tables/system/windows/registry.h
Labels: virtual tables

#7429 Improved connection time for broken servers. (#7424)
  osquery/core/windows/wmi.cpp
Labels: ready for review, user experience, performance, Windows

#7430 Fix globToRegex truncating UTF16 characters
  osquery/filesystem/windows/fileops.cpp
Labels: Windows, core

#7432 Do not run clang-tidy on third party libraries
  CMakeLists.txt
Labels: build, cmake

#7434 Change the JSON of the results from an event scheduled query to an array
  osquery/core/query.cpp
Labels: bug, database, core

#7440 Fix parsing issue when a backslash as the last character on sudoers file line
  osquery/tables/system/posix/sudoers.cpp
  osquery/tables/system/tests/posix/sudoers_tests.cpp
Labels: bug, virtual tables, ready for review

#7467 Add third party libraries target
  CMakeLists.txt
  cmake/utilities.cmake
Labels: build, libraries, cmake

#7479 yum_sources: Include the mirrorlist URL in the table output
  osquery/tables/system/posix/yum_sources.cpp
  osquery/tables/system/tests/posix/yum_sources_tests.cpp
  specs/posix/yum_sources.table
Labels: feature, Linux

#7480 Fix third party libraries flags leaking to osquery targets
  libraries/cmake/source/dbus/CMakeLists.txt
  libraries/cmake/source/expat/CMakeLists.txt
  libraries/cmake/source/rocksdb/CMakeLists.txt
Labels: build, libraries, cmake

#7478 Fix some warnings about unrecognized special characters
  osquery/tables/system/tests/windows/windows_eventlog_tests.cpp
Labels: build, Windows, test

#7490 Change cpu_info test to ensure *at least* one socket is present
  tests/integration/tables/cpu_info.cpp
Labels: ready for review, test

#7484 Set string size limit on thrift protocol factory
  osquery/extensions/impl_thrift.cpp
Labels: hardening, extensions
