Repository osquery/osquery, pull requests merged in 2022-11, with the labels that each got.

#7804 CHANGELOG 5.6.0
  CHANGELOG.md
Labels: documentation, release

#7685 Fix the empty `host` column from `logged_in_users` table
  osquery/tables/system/windows/logged_in_users.cpp
Labels: virtual tables, Windows

#7813 ci: Fix python version when installing modules and testing on macos
  .github/workflows/hosted_runners.yml
  tools/ci/scripts/macos/package_tests.sh
Labels: bug, macOS, ready for review, CI/CD

#7810 Fix permissions on opening pipes for reading in `pipes` table
  osquery/tables/system/windows/pipes.cpp
Labels: bug, virtual tables, Windows

#7818 processes: Fix the procfs memory unit kB, which is 1024 bytes not 1000
  osquery/tables/system/linux/processes.cpp
Labels: bug, virtual tables, Linux

#7811 Fix handling of some errors during an AWS HTTP request
  osquery/utils/aws/aws_util.cpp
  plugins/logger/aws_log_forwarder.h
  plugins/logger/buffered.cpp
Labels: bug, AWS

#7798 Fix deadlock when logging happens during a database reset
  osquery/core/watcher.cpp
  osquery/dispatcher/scheduler.cpp
  osquery/logger/data_logger.h
  osquery/logger/logger.cpp
Labels: bug, logging, database, daemon, core

#7791 ci: Update how we set github workflow step outputs
  .github/workflows/hosted_runners.yml
  .github/workflows/self_hosted_runners.yml
Labels: CI/CD
