Repository osquery/osquery, pull requests merged in 2022-10, with the labels that each got.

#7786 Link to the slack archives
  README.md
Labels: documentation

#7743 `secureboot`: Acquire the necessary process privileges on Windows
  osquery/tables/system/darwin/smbios_tables.cpp
  osquery/tables/system/linux/secureboot.cpp
  osquery/tables/system/linux/smbios_tables.cpp
  osquery/tables/system/secureboot.hpp
  osquery/tables/system/windows/secureboot.cpp
  osquery/tables/system/windows/smbios_tables.cpp
  osquery/utils/info/CMakeLists.txt
  osquery/utils/info/firmware.h
  osquery/utils/info/firmware/common.cpp
  osquery/utils/info/firmware/linux.cpp
  osquery/utils/info/firmware/macos.cpp
  osquery/utils/info/firmware/windows.cpp
  specs/platform_info.table
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/secureboot.cpp
Labels: bug, virtual tables, ready for review, Windows

#7714 Improvements to osquery AWS logic
  docs/wiki/installation/cli-flags.md
  osquery/tables/cloud/aws/ec2_instance_metadata.cpp
  osquery/tables/cloud/aws/ec2_instance_tags.cpp
  osquery/utils/aws/aws_util.cpp
  osquery/utils/aws/aws_util.h
Labels: feature, AWS

#7790 Fixing typo in keychain_items
  specs/darwin/keychain_items.table
Labels: virtual tables, documentation

#7788 `processes`: Stabilize the `start_time` column value on macOS and Linux
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/darwin/processes.cpp
  osquery/tables/system/linux/processes.cpp
  osquery/utils/system/CMakeLists.txt
  osquery/utils/system/boottime.h
  osquery/utils/system/linux/boottime.cpp
Labels: bug, virtual tables, macOS, Linux

#7792 Add link to YARA docs
  docs/wiki/deployment/yara.md
Labels: documentation
