Repository osquery/osquery, pull requests merged in 2022-12, with the labels that each got.

#7832 Shimcache: Only check CurrentControlSet
  osquery/tables/system/windows/shimcache.cpp
Labels: Windows

#7726 Add column to `es_process_events` for process codesigning flags
  osquery/events/darwin/endpointsecurity.h
  osquery/events/darwin/es_utils.cpp
  osquery/tables/events/darwin/es_process_events.cpp
  specs/darwin/es_process_events.table
Labels: virtual tables, macOS

#7787 ci: Add a job and helper scripts to periodically scan for CVEs
  .github/workflows/cve_scan_runner.yml
  .github/workflows/hosted_runners.yml
  docs/wiki/development/cve-scan.md
  libraries/third_party_libraries_manifest.json
  tools/ci/scripts/cve/osquery/__init__.py
  tools/ci/scripts/cve/osquery/github_api.py
  tools/ci/scripts/cve/osquery/manifest_api.py
  tools/ci/scripts/cve/requirements.txt
  tools/ci/scripts/cve/third_party_libraries_cves_scanner.py
  tools/ci/scripts/cve/validate_manifest_libraries_versions.py
Labels: ready for review, libraries, security, CI/CD

#7866 docs: Update the list of pages
  docs/wiki/deployment/dependency-security.md
  mkdocs.yml
Labels: documentation

#7878 Docs: mention the recent adoption of automatic CVE scanning
  ASSURANCE.md
Labels: ready for review, documentation, libraries

#7871 cve: Ignore libcryptsetup cves
  libraries/third_party_libraries_manifest.json
Labels: libraries, cve

#7885 git: Ignore compile_commands.json and pyrightconfig.json
  .gitignore
Labels: development

#7887 ci: Automatically cancel old PR jobs
  .github/workflows/hosted_runners.yml
Labels: CI/CD

#7888 test: Fix flaky test_daemon_sigint
  tools/tests/test_osqueryd.py
Labels: bug, ready for review, flaky test

#7890 test: Add an option to run only selected python testcases
  tools/tests/test_base.py
Labels: ready for review, test

#7621 Do not catch table or registry exceptions when running tests
  osquery/core/init.cpp
  osquery/registry/registry_factory.cpp
  osquery/sql/tests/virtual_table.cpp
  osquery/sql/virtual_table.cpp
  osquery/tables/events/tests/file_events_tests.cpp
  tools/tests/test_base.py
Labels: test, development

#7873 cve: Ignore libgcrypt cves
  libraries/third_party_libraries_manifest.json
Labels: ready for review, libraries, cve

#7864 ci: Update some actions to remove deprecation warnings
  .github/workflows/hosted_runners.yml
  .github/workflows/self_hosted_runners.yml
Labels: ready for review, CI/CD

#7692 Port the `secureboot` table to macOS
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/darwin/secureboot.cpp
  specs/CMakeLists.txt
  specs/secureboot.table
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/secureboot.cpp
Labels: feature, virtual tables, macOS, ready for review

#7807 Update `docker_container_stats` table to include `cached_memory` column
  osquery/tables/applications/posix/docker.cpp
  specs/posix/docker_container_stats.table
  tests/integration/tables/docker_container_stats.cpp
Labels: virtual tables, ready for review, docker, containers

#7894 CHANGELOG 5.7.0
  CHANGELOG.md
Labels: documentation, release

#7896 Propagate windows errors to the exit code
  osquery/main/windows/main.cpp
Labels: bug, Windows

#7899 ci: Improve error message when a library is missing from the manifest
  tools/ci/scripts/cve/osquery/manifest_api.py
Labels: CI/CD, cve
