Repository osquery/osquery, pull requests merged in 2022-08, with the labels that each got.

#7701 test: Fix Mdfind.test_sanity flakyness
  tests/integration/tables/mdfind.cpp
Labels: macOS, ready for review, flaky test

#7633 Port `memory_devices` table to Windows
  osquery/tables/system/darwin/smbios_tables.cpp
  osquery/tables/system/windows/smbios_tables.cpp
  specs/CMakeLists.txt
  specs/memory_devices.table
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/memory_devices.cpp
Labels: virtual tables, ready for review, Windows

#7711 Fix `GetMemorySize` for Windows `memory_devices` table
  osquery/tables/system/windows/smbios_tables.cpp
Labels: virtual tables, ready for review, Windows

#7649 Describe user-context-related caveat for screenlock table
  specs/darwin/screenlock.table
Labels: macOS, documentation

#7560 Add support of parsing `authorized_keys` file
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/posix/authorized_keys.cpp
  osquery/tables/system/posix/authorized_keys.h
  osquery/tables/system/tests/CMakeLists.txt
  osquery/tables/system/tests/posix/authorized_keys_tests.cpp
  specs/posix/authorized_keys.table
Labels: virtual tables, macOS, Linux, ready for review

#7598 macOS Unified Access Logging (UAL)
  cmake/flags.cmake
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/darwin/unified_log.mm
  specs/CMakeLists.txt
  specs/darwin/unified_log.table
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/unified_log.cpp
Labels: virtual tables, macOS

#7329 Prevent the audit event system from using too much memory
  docs/wiki/deployment/process-auditing.md
  osquery/events/linux/auditdnetlink.cpp
  osquery/events/linux/auditdnetlink.h
Labels: Linux, ready for review, events, performance

#7713 Correct macOS version support check for unified_log.mm
  osquery/tables/system/darwin/unified_log.mm
Labels: bug, virtual tables, macOS

#7681 carves: use full pathnames while creating an archive
  osquery/carver/carver.cpp
  osquery/filesystem/file_compression.cpp
Labels: ready for review, carving

#7707 Update minimum macOS support from 10.12 to 10.14
  .github/workflows/hosted_runners.yml
  cmake/flags.cmake
  docs/wiki/development/building.md
  docs/wiki/installation/install-macos.md
  docs/wiki/introduction/sql.md
  libraries/cmake/README.md
  libraries/cmake/source/augeas/README.md
  libraries/cmake/source/aws-sdk-cpp/README.md
  libraries/cmake/source/gflags/README.md
  libraries/cmake/source/glog/README.md
  libraries/cmake/source/libarchive/README.md
  libraries/cmake/source/libmagic/README.md
  libraries/cmake/source/librdkafka/README.md
  libraries/cmake/source/libxml2/README.md
  libraries/cmake/source/lzma/README.md
  libraries/cmake/source/rocksdb/CMakeLists.txt
  libraries/cmake/source/rocksdb/README.md
  libraries/cmake/source/sleuthkit/README.md
  libraries/cmake/source/thrift/README.md
  libraries/cmake/source/zlib/README.md
  libraries/cmake/source/zstd/README.md
  osquery/utils/info/platform_type.h
Labels: build, macOS, ready for review, cmake, CI/CD, deprecation

#7717 Temporarily disable memory_devices integration test
  tests/integration/tables/memory_devices.cpp
Labels: Linux, test, aarch64

#7675 Add denylist mechanism to distributed queries
  docs/wiki/deployment/configuration.md
  docs/wiki/deployment/debugging.md
  osquery/database/database.cpp
  osquery/database/database.h
  osquery/dispatcher/distributed_runner.cpp
  osquery/dispatcher/tests/scheduler.cpp
  osquery/distributed/distributed.cpp
  osquery/distributed/distributed.h
  osquery/distributed/tests/distributed_tests.cpp
Labels: ready for review, distributed

#7502 Add a mechanism to reduce memory retained on Linux
  docs/wiki/installation/cli-flags.md
  osquery/core/init.cpp
  osquery/dispatcher/CMakeLists.txt
  osquery/dispatcher/scheduler.cpp
  osquery/distributed/CMakeLists.txt
  osquery/distributed/distributed.cpp
  osquery/filesystem/linux/proc.cpp
  osquery/filesystem/linux/proc.h
  osquery/tables/yara/CMakeLists.txt
  osquery/tables/yara/yara.cpp
  osquery/utils/conversions/split.cpp
  osquery/utils/system/linux/proc/CMakeLists.txt
  osquery/worker/CMakeLists.txt
  osquery/worker/system/CMakeLists.txt
  osquery/worker/system/linux/memory.cpp
  osquery/worker/system/memory.h
Labels: Linux, performance, daemon, core

#7721 Get raw battery max and current capacity on macOS
  osquery/tables/system/darwin/battery.mm
Labels: virtual tables, macOS, apple_silicon

#7708 Update the `registry` table to be case insensitive for `key`
  specs/windows/registry.table
Labels: bug, virtual tables, ready for review, Windows

#7725 Increase mdfind query timeout to 30 seconds
  osquery/tables/system/darwin/mdfind.mm
Labels: virtual tables, macOS, flaky test

#7710 Add `firmware_type` column to `platform_info` table on Windows.
  osquery/tables/system/windows/smbios_tables.cpp
  specs/platform_info.table
Labels: virtual tables, Windows

#7722 Add validation integration test for memory_devices
  tests/integration/tables/memory_devices.cpp
Labels: virtual tables, macOS, ready for review, test

#7728 processes: add `cgroup_path` column on Linux
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/linux/processes.cpp
  osquery/tables/system/linux/processes.h
  osquery/tables/system/tests/CMakeLists.txt
  osquery/tables/system/tests/linux/processes_tests.cpp
  specs/processes.table
  tests/integration/tables/processes.cpp
Labels: Linux, ready for review, containers

#7735 Remove `binary` column from `firefox_addons` table
  osquery/tables/applications/browser_firefox.cpp
  specs/firefox_addons.table
Labels: virtual tables, deprecation

#7727 platform_info: Add `firmware_type` to macOS
  osquery/tables/system/darwin/smbios_tables.cpp
  specs/platform_info.table
  tests/integration/tables/platform_info.cpp
Labels: feature, macOS

#7738 mdfind: Reduce table overhead and support quick interruption
  osquery/tables/system/darwin/mdfind.mm
Labels: virtual tables, macOS, performance

#7715 Have `--tls_dump` output body to `stderr`
  osquery/remote/transports/tls.cpp
Labels: ready for review, logging

#7742 test: Fix platform-info.test_sanity on Windows
  tests/integration/tables/platform_info.cpp
Labels: bug, Windows, test

#7745 ci: Migrate jobs from ubuntu-18.04 to ubuntu-20.04
  .github/workflows/hosted_runners.yml
Labels: CI/CD

#7737 CHANGELOG 5.5.1
  CHANGELOG.md
Labels: documentation, release
