Repository osquery/osquery, pull requests merged in 2022-07, with the labels that each got.

#7667 ci: Update osquery-packaging commit to the latest one
  .github/workflows/hosted_runners.yml
  .github/workflows/self_hosted_runners.yml
Labels: packaging, CI/CD

#7561 Prevent CLI_FLAGs to be set via config
  osquery/config/config.h
  osquery/config/tests/config_tests.cpp
  plugins/config/parsers/options.cpp
Labels: bug, ready for review, configuration, core, deprecation

#7593 Fix MBCS support on Windows
  osquery/filesystem/filesystem.cpp
  osquery/filesystem/filesystem.h
  osquery/filesystem/mock_file_structure.cpp
  osquery/filesystem/mock_file_structure.h
  osquery/filesystem/tests/fileops.cpp
  osquery/filesystem/tests/filesystem.cpp
  osquery/main/windows/main.cpp
  tests/integration/tables/file.cpp
Labels: bug, ready for review, Windows

#7620 Initialize users and groups services on all tests that need them
  osquery/core/windows/global_users_groups_cache.h
  osquery/tables/system/tests/system_tables_tests.cpp
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/certificates.cpp
  tests/integration/tables/chrome_extensions.cpp
  tests/integration/tables/firefox_addons.cpp
  tests/integration/tables/groups.cpp
  tests/integration/tables/ssh_configs.cpp
  tests/integration/tables/user_groups.cpp
  tests/integration/tables/user_ssh_keys.cpp
  tests/integration/tables/users.cpp
  tests/test_util.cpp
  tests/test_util.h
Labels: bug, ready for review, flaky test

#7626 Fix system-info support for Unicode characters on Windows
  osquery/core/system.cpp
  osquery/core/system.h
  osquery/utils/system/CMakeLists.txt
  osquery/utils/system/posix/system.cpp
  osquery/utils/system/posix/system.h
  osquery/utils/system/system.h
  osquery/utils/system/windows/system.cpp
Labels: bug, virtual tables, ready for review, localization

#7638 deb_packages: Do not display arch info in the package name
  osquery/utils/linux/dpkg/dpkgquery.cpp
Labels: bug, virtual tables, Linux

#7636 Implement a split and trim function using std::string_view
  osquery/utils/conversions/CMakeLists.txt
  osquery/utils/conversions/split.cpp
  osquery/utils/conversions/split.h
  osquery/utils/conversions/tests/split.cpp
  osquery/utils/conversions/tests/trim.cpp
  osquery/utils/conversions/trim.cpp
  osquery/utils/conversions/trim.h
Labels: ready for review, performance, core

#7656 time: Fix the Windows local_timezone column value
  osquery/tables/utility/time.cpp
Labels: bug, ready for review, Windows

#7635 Improve config parsing and osqueryfuzz-config performance
  osquery/config/config.cpp
  osquery/config/config.h
  osquery/core/flags.cpp
  osquery/core/flags.h
  osquery/main/harnesses/fuzz_config.cpp
Labels: performance, configuration, oss-fuzz

#7671 cmake: Add an option to enable or disable using ccache
  CMakeLists.txt
  cmake/ccache.cmake
  cmake/globals.cmake
  cmake/options.cmake
Labels: build, cmake

#7674 libs: Update OpenSSL to version 1.1.1q
  libraries/cmake/formula/openssl/CMakeLists.txt
Labels: ready for review, libraries, cmake

#7407 New Table: Windows Update History
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/tests/CMakeLists.txt
  osquery/tables/system/tests/windows/windows_update_history_tests.cpp
  osquery/tables/system/windows/windows_update_history.cpp
  osquery/tables/system/windows/windows_update_history.h
  specs/CMakeLists.txt
  specs/windows/windows_update_history.table
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/windows_update_history.cpp
Labels: feature, virtual tables, Windows

#7676 Fix typo in FIM docs for Windows
  docs/wiki/deployment/file-integrity-monitoring.md
Labels: documentation

#7391 Expand env vars for the windows_crashes table
  osquery/tables/system/windows/windows_crashes.cpp
Labels: virtual tables, ready for review, Windows

#7585 Restore macOS `kernel_panics` table on modern macOS
  osquery/tables/system/darwin/kernel_panics.cpp
Labels: bug, macOS, macOS Big Sur, macOS Monterey

#7678 Changelog 5.4.0
  CHANGELOG.md
Labels: documentation, release

#7672 cmake: Prevent defining some Linux only targets on other platforms
  osquery/utils/CMakeLists.txt
  osquery/utils/system/CMakeLists.txt
Labels: build, cmake

#7693 Fix a crash when parsing ATC config with no columns
  plugins/config/parsers/auto_constructed_tables.cpp
Labels: bug, configuration

#7686 tpm_info: Refactor, ensure boolean values are always up to date
  osquery/tables/system/windows/tpm_info.cpp
Labels: bug, ready for review, Windows

#7684 Add documentation about 3rd-party dependency security
  ASSURANCE.md
  docs/wiki/deployment/dependency-security.md
  docs/wiki/index.md
Labels: ready for review, documentation, dependency, security

#7660 Port platform_info table to M1 Macs
  osquery/tables/system/darwin/smbios_tables.cpp
Labels: virtual tables, macOS, ready for review, apple_silicon

#7699 macos: `password_policy` table, use `-1` as sentinel value for `uid` column
  osquery/tables/system/darwin/password_policy.cpp
  specs/darwin/password_policy.table
Labels: virtual tables, macOS, ready for review

#7700 ci: Update and temporarily disable the macOS Catalina test job
  .github/workflows/hosted_runners.yml
Labels: ready for review, CI/CD

#7680 Add table spec support for `COLLATE NOCASE`
  osquery/core/sql/column.h
  osquery/core/tables.cpp
  tools/codegen/gentable.py
Labels: ready for review, RFC, SQL
