Repository osquery/osquery, pull requests merged in 2022-04, with the labels that each got.

#7547 Drop shortcut_files table
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/windows/shortcut_files.cpp
  specs/CMakeLists.txt
  specs/windows/shortcut_files.table
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/shortcut_files.cpp
Labels: virtual tables, Windows, deprecation

#7558 Restore some release checks
  .github/workflows/hosted_runners.yml
  tools/tests/CMakeLists.txt
  tools/tests/test_base.py
  tools/tests/test_query_packs.py
  tools/tests/test_release.py
Labels: ready for review, test, CI/CD

#7566 Change where the macOS Info.plist is generated
  cmake/install_directives.cmake
  cmake/utilities.cmake
Labels: macOS, packaging

#7503 implement and fix `wifi_networks` on macOS Big Sur and newer
  osquery/tables/networking/darwin/wifi.mm
  osquery/tables/networking/darwin/wifi_utils.h
  osquery/tables/networking/darwin/wifi_utils.mm
  osquery/tables/networking/tests/darwin/wifi_tests.mm
  specs/darwin/wifi_networks.table
  tools/tests/configs/test_airport_big_sur.plist
Labels: bug, virtual tables, macOS, ready for review

#7569 Fix DebPackages.test_sanity test
  tests/integration/tables/deb_packages.cpp
Labels: bug, virtual tables, test

#7572 Fix release tests for Linux aarch64
  tools/tests/test_release.py
Labels: bug, Linux, ready for review, test

#7427 Create github workflow target to gate mergeability
  .github/workflows/hosted_runners.yml
Labels: ready for review, CI/CD

#7573 Use additional instead of index for admindir in deb_packages
  specs/linux/deb_packages.table
Labels: virtual tables, Linux, ready for review

#7570 certificates table: Add Linux support
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/darwin/certificates.mm
  osquery/tables/system/darwin/keychain.h
  osquery/tables/system/darwin/keychain_utils.cpp
  osquery/tables/system/darwin/signature.mm
  osquery/tables/system/linux/certificates.cpp
  osquery/tables/system/posix/openssl_utils.cpp
  osquery/tables/system/posix/openssl_utils.h
  osquery/tables/system/tests/darwin/certificates_tests.cpp
  specs/CMakeLists.txt
  specs/certificates.table
  tests/integration/tables/CMakeLists.txt
Labels: virtual tables, Linux

#7444 Fix driver image path in drivers table
  osquery/tables/system/windows/drivers.cpp
Labels: bug, Windows

#7507 macOS: add `translated` column to `processes` table to indicate whether the process is running under rosetta
  osquery/tables/system/darwin/processes.cpp
  specs/processes.table
  tests/integration/tables/processes.cpp
Labels: virtual tables, macOS, ready for review, apple_silicon

#7576 Add keychain_items internet passwords. Also add account column
  osquery/tables/system/darwin/keychain_items.cpp
  specs/darwin/keychain_items.table
  tests/integration/tables/keychain_items.cpp
Labels: virtual tables, macOS

#7489 Replace WmiRequest constructor with static factory method
  osquery/core/system.cpp
  osquery/core/tests/windows/wmi_tests.cpp
  osquery/core/windows/wmi.cpp
  osquery/core/windows/wmi.h
  osquery/tables/networking/windows/arp_cache.cpp
  osquery/tables/networking/windows/interfaces.cpp
  osquery/tables/system/windows/bitlocker_info.cpp
  osquery/tables/system/windows/chassis_info.cpp
  osquery/tables/system/windows/cpu_info.cpp
  osquery/tables/system/windows/disk_info.cpp
  osquery/tables/system/windows/drivers.cpp
  osquery/tables/system/windows/hvci_status.cpp
  osquery/tables/system/windows/logical_drives.cpp
  osquery/tables/system/windows/ntdomains.cpp
  osquery/tables/system/windows/os_version.cpp
  osquery/tables/system/windows/patches.cpp
  osquery/tables/system/windows/physical_disk_performance.cpp
  osquery/tables/system/windows/shared_resources.cpp
  osquery/tables/system/windows/smbios_tables.cpp
  osquery/tables/system/windows/system_info.cpp
  osquery/tables/system/windows/tpm_info.cpp
  osquery/tables/system/windows/video_info.cpp
  osquery/tables/system/windows/windows_optional_features.cpp
  osquery/tables/system/windows/wmi_bios_info.cpp
  osquery/tables/system/windows/wmi_cli_event_consumers.cpp
  osquery/tables/system/windows/wmi_event_filters.cpp
  osquery/tables/system/windows/wmi_filter_consumer_binding.cpp
  osquery/tables/system/windows/wmi_script_event_consumers.cpp
Labels: bug, ready for review, Windows

#6997 Support optionally building with ThreadSanitizer (TSan)
  cmake/flags.cmake
  cmake/options.cmake
Labels: build, ready for review

#7530 Eliminate removal of nonblocking flag for "special" files
  osquery/filesystem/filesystem.cpp
  osquery/filesystem/tests/filesystem.cpp
Labels: bug, ready for review, performance, core

#7571 CHANGELOG 5.2.3
  CHANGELOG.md
Labels: documentation, release

#7504 Fix crash due to interaction between distributed and config plugin
  osquery/database/database.cpp
  osquery/database/database.h
  osquery/dispatcher/distributed_runner.cpp
  osquery/distributed/distributed.cpp
  osquery/distributed/distributed.h
  osquery/distributed/tests/distributed_tests.cpp
Labels: bug, distributed, daemon

#7559 Add an option to specify a path to the openssl archive
  libraries/cmake/formula/openssl/CMakeLists.txt
Labels: build, ready for review, libraries, cmake

#7550 Make TLS status logging configurable
  plugins/logger/tls_logger.cpp
Labels: remote, configuration

#7567 packs: Update reverse shell query pack to check for a valid remote_port
  packs/osx-attacks.conf
Labels: macOS, ready for review, packs
