Repository osquery/osquery, pull requests merged in 2022-06, with the labels that each got.

#7492 Improve scheduled query denylisting and scheduler shutdown
  osquery/config/config.cpp
  osquery/core/CMakeLists.txt
  osquery/core/init.cpp
  osquery/core/system.h
  osquery/core/tests/CMakeLists.txt
  osquery/core/tests/watcher_tests.cpp
  osquery/core/watcher.cpp
  osquery/core/watcher.h
  osquery/process/posix/process.cpp
  osquery/process/process.h
  osquery/process/windows/process.cpp
Labels: macOS, Linux, performance, daemon, core

#7609 Add an option to build with the leak sanitizer
  cmake/flags.cmake
  cmake/options.cmake
Labels: build, cmake

#7613 Fix SchedulerTests.test_scheduler_drift_accumulation flakyness
  osquery/dispatcher/tests/scheduler.cpp
Labels: bug, flaky test

#7625 Remove unnecessary string copy
  osquery/distributed/distributed.cpp
Labels: performance

#7234 Fix check for PIE support
  .github/workflows/hosted_runners.yml
  cmake/flags.cmake
  docs/wiki/development/building.md
Labels: build, ready for review, cmake

#7615 Fix multiple Yara leaks
  osquery/filesystem/fileops.h
  osquery/filesystem/posix/fileops.cpp
  osquery/filesystem/windows/fileops.cpp
  osquery/tables/yara/tests/yara_tests.cpp
  osquery/tables/yara/yara.cpp
  osquery/tables/yara/yara_events.cpp
  osquery/tables/yara/yara_utils.cpp
  osquery/tables/yara/yara_utils.h
Labels: bug, memory leak

#7639 Fix thrift server shutting down when dropping privileges
  osquery/core/system.cpp
Labels: bug, Linux, extensions

#7652 Fix AWS certificate verification failing on all services
  osquery/remote/transports/tls.cpp
  osquery/utils/aws/aws_util.cpp
Labels: bug, ready for review, AWS

#7499 Populate cpu_info table for linux from smbios
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/linux/cpu_info.cpp
  osquery/tables/system/posix/smbios_utils.cpp
  osquery/tables/system/smbios_utils.h
  specs/CMakeLists.txt
  specs/linwin/cpu_info.table
Labels: virtual tables, Linux, ready for review

#7651 clarify browser_plugins table is referencing basically unsupported CNPAPI tech
  specs/darwin/browser_plugins.table
Labels: virtual tables, documentation

#7579 macos: ES based FIM
  docs/wiki/installation/cli-flags.md
  osquery/events/CMakeLists.txt
  osquery/events/darwin/endpointsecurity.cpp
  osquery/events/darwin/endpointsecurity.h
  osquery/events/darwin/endpointsecurity_fim.cpp
  osquery/events/darwin/es_utils.cpp
  osquery/events/darwin/es_utils.h
  osquery/tables/events/CMakeLists.txt
  osquery/tables/events/darwin/es_process_file_events.cpp
  specs/CMakeLists.txt
  specs/darwin/es_process_file_events.table
Labels: virtual tables, macOS, events, FIM

#7594 tables: implement `password_policy` table for macOS
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/darwin/password_policy.cpp
  osquery/utils/conversions/CMakeLists.txt
  osquery/utils/conversions/darwin/cfdictionary.cpp
  osquery/utils/conversions/darwin/cfdictionary.h
  osquery/utils/conversions/darwin/tests/cfdictionary.cpp
  specs/CMakeLists.txt
  specs/darwin/password_policy.table
Labels: feature, virtual tables, macOS
