Repository osquery/osquery, pull requests merged in 2023-10, with the labels that each got.

#8052 Update linux `disk_encryption` to recursively query parent crypt status
  osquery/tables/system/linux/disk_encryption.cpp
  specs/posix/disk_encryption.table
Labels: bug, virtual tables, Linux, ready for review

#8153 wifi_survey: Do not crash if the ssid cannot be retrieved
  osquery/tables/networking/darwin/wifi_survey.mm
Labels: bug, virtual tables, macOS

#8154 ci: Fix DistributedTests.test_run_queries_with_denylisted_query test
  osquery/distributed/tests/distributed_tests.cpp
Labels: bug, test, CI/CD

#8158 cve: Fix the expat product name in the libraries manifest
  libraries/third_party_libraries_manifest.json
Labels: bug, CI/CD, cve

#8166 macOS: fix EndpointSecurity FIM mute inversion for file paths
  osquery/events/darwin/endpointsecurity_fim.cpp
Labels: bug, macOS, ready for review, events

#8163 Fix typo in table specs
  specs/darwin/es_process_events.table
Labels: documentation

#8172 docs: Remove some duplicated lines from 5.8.1 changelog
  CHANGELOG.md
Labels: documentation

#8174 docs: Call out in the CHANGELOG the format changes of the status logs decorations
  CHANGELOG.md
Labels: documentation, release
