Repository osquery/osquery, pull requests merged in 2023-01, with the labels that each got.

#7907 test: Speed up ec2InstanceMetadata.test_sanity
  tests/integration/tables/ec2_instance_metadata.cpp
Labels: test

#7911 cve: Ignore sqlite CVE-2022-46908
  libraries/third_party_libraries_manifest.json
Labels: libraries, cve

#7895 systemd_units: Add new unit_file_state column
  osquery/tables/system/linux/systemd_units.cpp
  specs/linux/systemd_units.table
Labels: virtual tables, Linux, ready for review

#7870 Record and send statistics for distributed queries
  osquery/distributed/CMakeLists.txt
  osquery/distributed/distributed.cpp
  osquery/distributed/distributed.h
  plugins/distributed/CMakeLists.txt
Labels: performance

#7435 Clear cached constraints and columns in xBestIndex
  osquery/sql/sqlite_util.cpp
  osquery/sql/virtual_table.cpp
Labels: ready for review, memory leak, SQL, core

#7917 docs: clarify that logger_plugin is set from CLI
  docs/wiki/deployment/aws-logging.md
Labels: documentation, configuration

#7922 Fixes broken link
  CODE_OF_CONDUCT.md
Labels: documentation
