Repository osquery/osquery, pull requests merged in 2023-07, with the labels that each got.

#8070 Add `--enable_watchdog_logging` flag and improve error messages
  docs/wiki/installation/cli-flags.md
  osquery/core/tests/watcher_tests.cpp
  osquery/core/watcher.cpp
  osquery/sql/virtual_table.cpp
Labels: user experience, performance, logging

#8080 test: Fix leaks in inotify and rocksdb tests
  osquery/events/tests/linux/inotify_tests.cpp
  plugins/database/tests/rocksdb.cpp
Labels: memory leak, test

#8081 libs: Update openssl to 3.1.1
  CMakeLists.txt
  libraries/cmake/formula/openssl/CMakeLists.txt
  libraries/cmake/source/boost/CMakeLists.txt
  libraries/third_party_libraries_manifest.json
  osquery/tables/system/linux/certificates.cpp
  tools/tests/configs/test_client.key
  tools/tests/configs/test_client.pem
Labels: libraries

#8084 libs: Fix openssl build on aarch64
  libraries/cmake/formula/openssl/CMakeLists.txt
Labels: build, libraries

#8082 Add warnings when an enrollment secret cannot be found
  osquery/remote/enroll/enroll.cpp
Labels: user experience, configuration

#8093 improvement: Avoid unnecessary string conversions
  osquery/events/windows/ntfs_event_publisher.cpp
  osquery/filesystem/windows/fileops.cpp
  osquery/utils/conversions/windows/tests/strings.cpp
Labels: performance, Windows

#8087 core: Avoid checking if a file exists before opening
  osquery/filesystem/posix/fileops.cpp
Labels: macOS, Linux, performance, core

#8091 cleanup: Substitute the TEXT macro with SQL_TEXT in table code
  osquery/core/tables.h
  osquery/tables/events/linux/bpf_process_events.cpp
  osquery/tables/events/linux/bpf_socket_events.cpp
  osquery/tables/networking/linux/iptables.cpp
  osquery/tables/system/darwin/authorizations.mm
  osquery/tables/system/darwin/battery.mm
  osquery/tables/system/darwin/connected_displays.mm
  osquery/tables/system/darwin/cpu_info.cpp
  osquery/tables/system/darwin/disk_encryption.mm
  osquery/tables/system/darwin/kernel_extensions.cpp
  osquery/tables/system/darwin/mounts.cpp
  osquery/tables/system/darwin/os_version.mm
  osquery/tables/system/darwin/user_groups.mm
  osquery/tables/system/linux/extended_attributes.cpp
  osquery/tables/system/linux/groups.cpp
  osquery/tables/system/linux/os_version.cpp
  osquery/tables/system/linux/rpm_packages.cpp
  osquery/tables/system/linux/shadow.cpp
  osquery/tables/system/linux/systemd_units.cpp
  osquery/tables/system/linux/users.cpp
  osquery/tables/system/posix/last.cpp
  osquery/tables/system/posix/logged_in_users.cpp
Labels: development

#8089 firefox_addons: Use rapidjson to parse and don't block on read
  osquery/filesystem/filesystem.cpp
  osquery/filesystem/filesystem.h
  osquery/tables/applications/browser_firefox.cpp
  osquery/utils/json/json.cpp
  osquery/utils/json/json.h
Labels: virtual tables, hardening, core

#8085 cleanup: Remove forensicReadFile
  osquery/filesystem/fileops.h
  osquery/filesystem/filesystem.cpp
  osquery/filesystem/filesystem.h
  osquery/filesystem/posix/fileops.cpp
  osquery/filesystem/windows/fileops.cpp
  osquery/hashing/hashing.cpp
  osquery/tables/applications/posix/carbon_black.cpp
  osquery/tables/networking/etc_hosts.cpp
  osquery/tables/system/darwin/packages.mm
  osquery/tables/system/linux/apt_sources.cpp
  osquery/tables/system/linux/memory_info.cpp
  osquery/tables/system/posix/authorized_keys.cpp
  osquery/tables/system/posix/crontab.cpp
  osquery/tables/system/posix/known_hosts.cpp
  osquery/tables/system/posix/shell_history.cpp
  osquery/tables/system/posix/sudoers.cpp
  osquery/tables/system/ssh_configs.cpp
  osquery/tables/system/ssh_keys.cpp
Labels: core

#8075 aws: Add an option to enforce FIPS endpoints
  docs/wiki/installation/cli-flags.md
  osquery/tables/cloud/aws/ec2_instance_tags.cpp
  osquery/utils/aws/CMakeLists.txt
  osquery/utils/aws/aws_util.cpp
  osquery/utils/aws/aws_util.h
Labels: AWS
