Repository osquery/osquery, pull requests merged in 2023-09, with the labels that each got.

#8131 ci: Increase aarch64 available space by splitting the build
  .github/workflows/self_hosted_runners.yml
Labels: Linux, CI/CD, aarch64

#8136 Permit cross compiling for x86_64 on Apple Silicon
  cmake/globals.cmake
Labels: build, macOS

#8134 Fix openssl build arch for Windows ARM64
  libraries/cmake/formula/openssl/CMakeLists.txt
Labels: build, libraries, Windows on ARM

#8141 cve: Update openssl to 3.1.3
  libraries/cmake/formula/openssl/CMakeLists.txt
  libraries/third_party_libraries_manifest.json
Labels: libraries, security, cve

#8119 Allow querying of kernel and filesystem drivers
  osquery/tables/system/windows/services.cpp
Labels: virtual tables, Windows

#8077 Always lock event_index_mutex when accessing event_index map
  osquery/events/eventsubscriberplugin.cpp
  osquery/events/eventsubscriberplugin.h
  osquery/events/tests/eventsubscriberplugin.cpp
Labels: bug, events

#8037 Add some indexing to `block_devices`
  osquery/tables/system/linux/block_devices.cpp
  specs/posix/block_devices.table
Labels: Linux, ready for review, performance

#8144 ci: Remove flakyness when removing unused packages on Linux
  .github/workflows/hosted_runners.yml
Labels: build, CI/CD

#8086 Added cloud_id to ycloud_instance_metadata - the vm metadata table for Yandex Cloud
  osquery/tables/cloud/ycloud/ycloud_instance_metadata.cpp
  osquery/utils/ycloud/tests/ycloud.cpp
  osquery/utils/ycloud/ycloud_util.cpp
  osquery/utils/ycloud/ycloud_util.h
  specs/ycloud_instance_metadata.table
Labels: virtual tables

#7781 Add a list of Osquery fleet managers
  README.md
Labels: documentation
