Repository osquery/osquery, pull requests merged in 2023-03, with the labels that each got.

#7957 CHANGELOG 5.8.1
  CHANGELOG.md
Labels: documentation

#7963 Fix COM security initialization by setting COM security per interface level
  osquery/core/windows/wmi.cpp
Labels: bug, Windows

#7958 Fix empty batch result set reporting
  osquery/dispatcher/scheduler.cpp
Labels: bug

#7966 tests: Do not always build root tests on Linux
  tests/integration/tables/CMakeLists.txt
Labels: build, Linux, test

#7965 test: Fix SystemdUnitsTest missing the unit_file_state column
  tests/integration/tables/systemd_units.cpp
Labels: test

#7964 tests: Fix some tests becoming osquery shells
  osquery/core/tests/CMakeLists.txt
Labels: build, test

#7959 cmake: Only link against the experiments loader when needed
  osquery/core/CMakeLists.txt
Labels: bug, cmake

#7967 test: Do not always expect a row from the secureboot table
  tests/integration/tables/secureboot.cpp
Labels: test

#7969 ci: Update python version and docs build tools
  .readthedocs.yml
  docs/requirements.txt
Labels: documentation, CI/CD

#7978 Update es_process_file_events.table description
  specs/darwin/es_process_file_events.table
Labels: documentation
