Repository osquery/osquery, pull requests merged in 2023-12, with the labels that each got.

#8208 ci: Fix Linux build
  .github/workflows/hosted_runners.yml
Labels: CI/CD

#8207 ci: Update nvdlib to use the latest NVD APIs
  .github/workflows/cleanup_ec2_runners.yml
  .github/workflows/cve_scan_runner.yml
  libraries/third_party_libraries_manifest.json
  tools/ci/scripts/cve/requirements.txt
  tools/ci/scripts/cve/third_party_libraries_cves_scanner.py
Labels: CI/CD, cve

#8212 cve: Update openssl to 3.2.0
  libraries/cmake/formula/openssl/CMakeLists.txt
  libraries/third_party_libraries_manifest.json
Labels: libraries, cve

#8211 tests: Enable client certificate verification in the TLS tests
  osquery/remote/tests/test_utils.cpp
  osquery/remote/tests/test_utils.h
  osquery/remote/transports/CMakeLists.txt
  osquery/remote/transports/tests/tls_transports_tests.cpp
  tools/tests/configs/test_client.pem
  tools/tests/configs/test_server.pem
  tools/tests/configs/test_server_ca.pem
  tools/tests/test_http_server.py
Labels: remote, test

#8216 Update building.md prereqs for Windows
  docs/wiki/development/building.md
Labels: build, documentation

#8215 Add support for Apple Silicon in secureboot table
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/darwin/secureboot.mm
  specs/secureboot.table
Labels: virtual tables, macOS, aarch64, apple_silicon

#8184 fix: Correct the aws_sts_region behavior
  docs/wiki/deployment/aws-logging.md
  docs/wiki/installation/cli-flags.md
  osquery/tables/cloud/aws/ec2_instance_tags.cpp
  osquery/utils/aws/aws_util.cpp
  osquery/utils/aws/aws_util.h
  osquery/utils/aws/tests/aws_util_tests.cpp
  plugins/logger/aws_firehose.cpp
  plugins/logger/aws_firehose.h
  plugins/logger/aws_kinesis.cpp
  plugins/logger/aws_kinesis.h
  plugins/logger/aws_log_forwarder.h
  plugins/logger/tests/aws_kinesis_logger_tests.cpp
Labels: bug, feature, AWS

#8221 test: re-enable tools_tests_testrelease
  tools/tests/CMakeLists.txt
Labels: test

#8150 Add new table vscode_extensions
  osquery/tables/applications/CMakeLists.txt
  osquery/tables/applications/vscode_extensions.cpp
  specs/CMakeLists.txt
  specs/vscode_extensions.table
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/vscode_extensions.cpp
Labels: feature, virtual tables

#8227 fix: Fix a crash in firefox_addons
  osquery/tables/applications/browser_firefox.cpp
Labels: bug, virtual tables

#8225 Fix signed/unsigned mismatch in powershell_events
  osquery/events/windows/windowseventlogpublisher.cpp
Labels: bug, virtual tables, ready for review, Windows

#8229 fix: Add stricter checks to JSON parsing
  osquery/worker/ipc/include/table_ipc_base.h
  plugins/config/tls_config.cpp
  plugins/logger/kafka_producer.cpp
Labels: bug
