Repository osquery/osquery, pull requests merged in 2023-08, with the labels that each got.

#8101 Add newest SIP config flags
  osquery/tables/system/darwin/sip_config.cpp
Labels: virtual tables, macOS

#8110 aws: Add new AWS valid regions
  osquery/utils/aws/aws_util.cpp
Labels: AWS

#8113 Update the description of `serial_number` in `connected_displays`
  specs/darwin/connected_displays.table
Labels: virtual tables, documentation

#8104 watchdog: Use virtual cores to calculate CPU utilization limit
  docs/wiki/installation/cli-flags.md
  osquery/core/watcher.cpp
Labels: configuration, daemon, core

#8099 plist: Avoid blocking when reading plist files
  osquery/tables/applications/CMakeLists.txt
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/tests/CMakeLists.txt
  osquery/utils/CMakeLists.txt
  osquery/utils/darwin/plist.mm
Labels: macOS, hardening

#8114 macos: `es_process_file_events` -- add support for open events, and for only triggering on `file_paths`
  osquery/events/darwin/endpointsecurity.h
  osquery/events/darwin/endpointsecurity_fim.cpp
  osquery/events/darwin/es_utils.cpp
  osquery/tables/events/darwin/es_process_file_events.cpp
Labels: macOS, events, FIM

#8117 Missing pragma/header guard for boottime.h
  osquery/utils/system/boottime.h
Labels: bug, build

#8122 Use JSON member iterator instead of rescanning
  osquery/events/darwin/endpointsecurity_fim.cpp
Labels: macOS, performance

#8102 logs: Implement decorations_top_level flag for status logs
  docs/wiki/deployment/configuration.md
  docs/wiki/installation/cli-flags.md
  osquery/config/config.h
  plugins/config/parsers/decorators.cpp
  plugins/logger/buffered.cpp
  plugins/logger/tests/buffered_tests.cpp
Labels: configuration, logging

#8124 libs: Update openssl to 3.1.2
  libraries/cmake/formula/openssl/CMakeLists.txt
  libraries/third_party_libraries_manifest.json
Labels: libraries, cve

#8125 Check audit return values with <=
  osquery/events/linux/auditdnetlink.cpp
Labels: bug, Linux

#8126 cve: Ignore dbus CVE-2023-34969
  libraries/third_party_libraries_manifest.json
Labels: libraries, cve

#8127 cve: Ignore libcap CVE-2023-2603
  libraries/third_party_libraries_manifest.json
Labels: libraries, cve

#8128 docs: Update XCode version mentions to the proper one
  docs/wiki/development/building.md
Labels: build, documentation
