Repository osquery/osquery, pull requests merged in 2023-06, with the labels that each got.

#8045 test: Fix a leak in ExtendedAttributesTableTests SetUp function
  osquery/tables/system/tests/linux/extended_attributes_tests.cpp
Labels: memory leak, test

#8038 Add number of sockets to `system_info`
  osquery/tables/system/linux/system_info.cpp
  osquery/tables/system/windows/system_info.cpp
  specs/system_info.table
  tests/integration/tables/system_info.cpp
Labels: virtual tables

#8036 Fix the aarch64 workflow
  .github/workflows/self_hosted_runners.yml
Labels: CI/CD

#8026 cmake: Add an option to disable shallow git clone operations
  libraries/cmake/source/modules/utils.cmake
Labels: build

#8027 logger: Add new `string_batch` request type to compliment existing `string` type
  external/CMakeLists.txt
  external/examples/string_batch/CMakeLists.txt
  external/examples/string_batch/main.cpp
  osquery/core/plugins/logger.cpp
  osquery/core/plugins/logger.h
Labels: feature, API change

#8050 cve: Update to openssl 1.1.1u
  libraries/cmake/formula/openssl/0001-rsa-add-msvc-intrinsic-for-non-x64-platforms.patch
  libraries/cmake/formula/openssl/CMakeLists.txt
  libraries/third_party_libraries_manifest.json
  tools/ci/scripts/cve/validate_manifest_libraries_versions.py
Labels: libraries, security, CI/CD, cve

#8051 Update expired Slack invite
  .github/ISSUE_TEMPLATE/Question.md
  CONTRIBUTING.md
  README.md
  SUPPORT.md
  docs/wiki/index.md
  tools/deployment/make_windows_package.ps1
Labels: documentation

#7819 Restore functionality of `crashes` table on macOS 12 and newer
  osquery/tables/system/darwin/crashes.cpp
Labels: virtual tables, macOS

#8046 Improve extended_attributes implementation for Linux and macOS
  osquery/filesystem/posix/xattrs.cpp
  osquery/filesystem/posix/xattrs.h
  osquery/filesystem/tests/posix/xattrs.cpp
  osquery/tables/system/darwin/extended_attributes.cpp
  osquery/tables/system/linux/extended_attributes.cpp
  osquery/tables/system/tests/darwin/extended_attributes_tests.cpp
  osquery/utils/base64.cpp
  osquery/utils/base64.h
  osquery/utils/chars.cpp
  osquery/utils/chars.h
Labels: bug, virtual tables, macOS, Linux

#7991 Update `safari_extensions` to handle the current app extensions pattern
  osquery/tables/applications/darwin/browser_plugins.cpp
  specs/darwin/safari_extensions.table
Labels: virtual tables, macOS

#8057 Fix version column in homebrew_packages
  osquery/tables/system/darwin/homebrew_packages.cpp
Labels: bug, macOS

#8065 Ignore CVE-2023-30571
  libraries/third_party_libraries_manifest.json
Labels: libraries, security, cve
