Repository osquery/osquery, pull requests merged in 2023-05, with the labels that each got.

#7946 Add `connected_displays` table on macOS
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/darwin/connected_displays.mm
  specs/CMakeLists.txt
  specs/darwin/connected_displays.table
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/connected_displays.cpp
Labels: virtual tables, macOS

#7918 Add support for Windows on Arm
  .github/workflows/hosted_runners.yml
  cmake/globals.cmake
  cmake/options.cmake
  libraries/cmake/formula/openssl/0001-rsa-add-msvc-intrinsic-for-non-x64-platforms.patch
  libraries/cmake/formula/openssl/CMakeLists.txt
  libraries/cmake/source/aws-sdk-cpp/README.md
  libraries/cmake/source/aws-sdk-cpp/config/aws-c-common/windows/aarch64/include/aws/common/config.h
  libraries/cmake/source/aws-sdk-cpp/config/aws-cpp-sdk-core/windows/aarch64/aws/core/SDKConfig.h
  libraries/cmake/source/aws-sdk-cpp/config/aws-cpp-sdk-core/windows/aarch64/aws/core/VersionConfig.h
  libraries/cmake/source/aws-sdk-cpp/config/aws-crt-cpp/windows/aarch64/aws/crt/Config.h
  libraries/cmake/source/boost/CMakeLists.txt
  libraries/cmake/source/gflags/README.md
  libraries/cmake/source/gflags/generated/windows/aarch64/private/defines.h
  libraries/cmake/source/gflags/generated/windows/aarch64/public/gflags/gflags.h
  libraries/cmake/source/gflags/generated/windows/aarch64/public/gflags/gflags_declare.h
  libraries/cmake/source/glog/README.md
  libraries/cmake/source/glog/generated/windows/aarch64/private/config.h
  libraries/cmake/source/glog/generated/windows/aarch64/public/glog/export.h
  libraries/cmake/source/glog/generated/windows/aarch64/public/glog/logging.h
  libraries/cmake/source/glog/generated/windows/aarch64/public/glog/raw_logging.h
  libraries/cmake/source/glog/generated/windows/aarch64/public/glog/stl_logging.h
  libraries/cmake/source/glog/generated/windows/aarch64/public/glog/vlog_is_on.h
  libraries/cmake/source/libarchive/README.md
  libraries/cmake/source/libarchive/config/windows/aarch64/config.h
  libraries/cmake/source/librdkafka/README.md
  libraries/cmake/source/librdkafka/config/windows/aarch64/config.h
  libraries/cmake/source/librdkafka/config/windows/aarch64/dummy/README.md
  libraries/cmake/source/libxml2/README.md
  libraries/cmake/source/libxml2/config/windows/aarch64/config.h
  libraries/cmake/source/libxml2/generated/version/windows/aarch64/libxml/xmlversion.h
  libraries/cmake/source/lzma/README.md
  libraries/cmake/source/lzma/config/windows/aarch64/config.h
  libraries/cmake/source/rocksdb/CMakeLists.txt
  libraries/cmake/source/thrift/README.md
  libraries/cmake/source/thrift/config/windows/aarch64/thrift/config.h
Labels: Windows, Windows on ARM

#8011 Add Apple RSR fields to `os_version` using native API
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/darwin/os_version.cpp
  osquery/tables/system/darwin/os_version.mm
  specs/os_version.table
  tests/integration/tables/os_version.cpp
Labels: virtual tables, macOS

#8025 Do not consider a 404 as an error in ec2-instance-metadata
  osquery/tables/cloud/aws/ec2_instance_metadata.cpp
Labels: AWS

#7974 Improving `listDirectoriesInDirectory` by using `std::fs`
  osquery/filesystem/filesystem.cpp
  osquery/filesystem/tests/filesystem.cpp
  osquery/tables/system/python_packages.cpp
Labels: performance
