Repository osquery/osquery, pull requests merged in 2023-02, with the labels that each got.

#7915 libs: Fix libmagic build on macOS
  libraries/cmake/source/libmagic/CMakeLists.txt
Labels: bug, build, libraries

#7919 libs: Fix system paths used by dbus
  libraries/cmake/source/dbus/README.md
  libraries/cmake/source/dbus/config/aarch64/config.h
  libraries/cmake/source/dbus/config/x86_64/config.h
Labels: bug, libraries

#7929 cve: Ignore util-linux cves
  libraries/third_party_libraries_manifest.json
Labels: Linux, libraries, cve

#7763 Relax osquery safe permissions check
  osquery/filesystem/windows/fileops.cpp
Labels: bug, ready for review, Windows

#7803 Support logging empty result set in batch format for initial runs
  osquery/core/query.cpp
  osquery/core/query.h
  osquery/dispatcher/scheduler.cpp
  osquery/logger/tests/logger.cpp
  osquery/sql/tests/sql_test_utils.cpp
  plugins/config/parsers/tests/decorators_tests.cpp
  plugins/logger/tests/filesystem_logger_tests.cpp
Labels: ready for review, logging, core

#7939 ci: Remove Windows 32bit build
  .github/workflows/hosted_runners.yml
Labels: Windows, CI/CD

#7937 cve: Update openssl to 1.1.1t
  libraries/cmake/formula/openssl/CMakeLists.txt
  libraries/third_party_libraries_manifest.json
Labels: libraries, cve

#7941 ci: Workaround in the aarch64 runner to avoid out of space
  .github/workflows/self_hosted_runners.yml
Labels: CI/CD, aarch64

#7655 Fix and document discovery queries behavior on distributed queries and add tests
  docs/wiki/deployment/remote.md
  docs/wiki/development/unit-tests.md
  osquery/distributed/distributed.cpp
  osquery/distributed/distributed.h
  osquery/distributed/tests/distributed_tests.cpp
Labels: bug, user experience, test

#7876 Add a new table `kernel keys` to the Linux platform
  osquery/tables/system/CMakeLists.txt
  osquery/tables/system/linux/kernel_keys.cpp
  specs/CMakeLists.txt
  specs/linux/kernel_keys.table
  tests/integration/tables/CMakeLists.txt
  tests/integration/tables/kernel_keys.cpp
Labels: virtual tables, Linux, ready for review

#7801 Set counter consistently so zero always indicates all records
  docs/wiki/deployment/logging.md
  osquery/core/query.cpp
  osquery/core/query.h
  osquery/core/tests/query_tests.cpp
Labels: ready for review, core
