Repository osquery/osquery, pull requests merged in 2024-10, with the labels that each got.

#8427 Fix: `safari_extensions` not returning results
  osquery/tables/applications/darwin/browser_plugins.cpp
Labels: bug, virtual tables, macOS

#8426 table: Remove support for deprecated Safari Legacy Extensions
  osquery/tables/applications/darwin/browser_plugins.cpp
  specs/darwin/safari_extensions.table
Labels: virtual tables, macOS, dead code

#8374 Add support for Firefox addons for snap installations
  osquery/tables/applications/browser_firefox.cpp
Labels: feature, virtual tables, Linux

#8420 Fix: Check and free cert context creation in windows certificates table
  osquery/tables/system/windows/certificates.cpp
Labels: bug, virtual tables, Windows

#8410 improvement: refactor readFile
  osquery/filesystem/CMakeLists.txt
  osquery/filesystem/filesystem.cpp
  osquery/filesystem/filesystem.h
  osquery/filesystem/tests/filesystem.cpp
  osquery/filesystem/tests/linux/proc_tests.cpp
  osquery/filesystem/tests/posix/filesystem_tests.cpp
  osquery/filesystem/tests/windows/filesystem_tests.cpp
  osquery/filesystem/windows/fileops.cpp
  osquery/hashing/hashing.cpp
  osquery/tables/networking/darwin/wifi.mm
  osquery/tables/networking/etc_hosts.cpp
  osquery/tables/system/linux/apt_sources.cpp
  osquery/tables/system/posix/authorized_keys.cpp
  osquery/tables/system/posix/crontab.cpp
  osquery/tables/system/posix/shell_history.cpp
  osquery/tables/system/python_packages.cpp
  osquery/tables/system/ssh_keys.cpp
  osquery/utils/status/status.h
Labels: core

#8263 Add column optimization support to allow processing `IN` constraints all at once in xFilter
  docs/wiki/development/creating-tables.md
  osquery/core/tables.h
  osquery/sql/virtual_table.cpp
  specs/curl_certificate.table
Labels: virtual tables, SQL, core

#8434 Add support for `alf_exceptions`to macOS 15
  osquery/tables/system/darwin/firewall.h
  osquery/tables/system/darwin/firewall.mm
  specs/darwin/alf_exceptions.table
Labels: virtual tables, macOS

#8435 Update table `alf_explicit_auths` as not supported on macOS 15
  osquery/tables/system/darwin/firewall.mm
  specs/darwin/alf_explicit_auths.table
  tests/integration/tables/alf_explicit_auths.cpp
Labels: virtual tables, macOS

#8387 Fix linux `groups` table to handle larger group sets by increasing buffer size
  osquery/tables/system/linux/groups.cpp
Labels: virtual tables, Linux

#8437 Add --yara_sigurl_authenticate flag
  docs/wiki/deployment/yara.md
  osquery/tables/yara/yara.cpp
Labels: remote

#8421 Fixes crash with non-null-terminated values in registry enumeration
  osquery/tables/system/windows/registry.cpp
Labels: bug, Windows

#8445 Extend timeout for test HTTP server
  tools/tests/test_http_server.py
Labels: flaky test, test, CI/CD

#8440 Add additional WMI data to `deviceguard_status` table
  osquery/tables/system/windows/deviceguard_status.cpp
  specs/windows/deviceguard_status.table
  tests/integration/tables/deviceguard_status.cpp
Labels: virtual tables, Windows

#8452 tests: Ensure python http server is ready to serve
  osquery/remote/tests/test_utils.cpp
  osquery/remote/transports/tests/tls_transports_tests.cpp
  tests/integration/tables/unified_log.cpp
  tools/tests/test_http_server.py
Labels: test, CI/CD

#8451 Fix `unified_log` handling of timestamp formats
  osquery/tables/system/darwin/unified_log.mm
  specs/darwin/unified_log.table
  tests/integration/tables/unified_log.cpp
Labels: bug, virtual tables, macOS

#8455 Add CHANGELOG.md entry for 5.14.1
  CHANGELOG.md
Labels: documentation

#8457 ci: Reduce scheduled builds amount
  .github/workflows/hosted_runners.yml
  .github/workflows/self_hosted_runners.yml
Labels: CI/CD

#8449 ci: Update all Github actions to a version using NodeJs 20
  .github/workflows/cleanup_ec2_runners.yml
  .github/workflows/cve_scan_runner.yml
  .github/workflows/hosted_runners.yml
  .github/workflows/self_hosted_runners.yml
Labels: CI/CD

#8446 CI: Add a specific package build folder on Windows jobs
  .github/workflows/hosted_runners.yml
Labels: Windows, CI/CD

#8458 Add CVEs to the ignored lists
  libraries/third_party_libraries_manifest.json
Labels: CI/CD, cve

#8460 Update docs to correctly define `conditional_to_base64`
  docs/wiki/introduction/sql.md
Labels: documentation

#8459 ci: Update macOS test runner from 12 to 13
  .github/workflows/hosted_runners.yml
Labels: CI/CD

#8453 ci: Restrict python versions differently
  .github/workflows/hosted_runners.yml
  tools/ci/scripts/macos/package_tests.sh
Labels: CI/CD
