Repository osquery/osquery, pull requests merged in 2024-12, with the labels that each got.

#8488 docs: Update expired Slack invite
  .github/ISSUE_TEMPLATE/Question.md
  CONTRIBUTING.md
  README.md
  SUPPORT.md
  docs/wiki/index.md
  tools/deployment/make_windows_package.ps1
Labels: documentation

#8396 Include VSCode Insiders extensions in vscode_extensions table
  osquery/tables/applications/vscode_extensions.cpp
  specs/vscode_extensions.table
  tests/integration/tables/vscode_extensions.cpp
Labels: feature, virtual tables

#8471 Add `hash_executable` column to `signature` table
  osquery/tables/system/darwin/signature.mm
  osquery/tables/system/tests/darwin/signature_tests.mm
  specs/darwin/signature.table
Labels: virtual tables, macOS

#8495 Add Windows platform optimized columns
  specs/windows/authenticode.table
  specs/windows/ntfs_acl_permissions.table
  specs/windows/prefetch.table
  specs/windows/registry.table
Labels: virtual tables, performance, Windows, SQL

#8489 utils: Optimize default status message constructor
  osquery/utils/status/status.cpp
  osquery/utils/status/status.h
Labels: ready for review, performance

#8503 Move status column to extended_schema for linux socket_events
  specs/posix/socket_events.table
Labels: bug, virtual tables

#8501 Fixed eBPF's parsing of parent pid
  osquery/events/linux/bpf/processcontextfactory.cpp
  osquery/events/tests/linux/bpf/processcontextfactory.cpp
Labels: bug, bpf

#8497 Add all-platform path-based optimized columns
  specs/certificates.table
  specs/hash.table
  specs/npm_packages.table
  specs/python_packages.table
  specs/utility/file.table
Labels: virtual tables, ready for review, performance, SQL

#8484 Add Darwin platform optimized miscellaneous columns
  specs/darwin/homebrew_packages.table
  specs/darwin/mdfind.table
  specs/darwin/nvram.table
  specs/darwin/password_policy.table
  specs/darwin/preferences.table
  specs/darwin/safari_extensions.table
Labels: virtual tables, macOS, performance, SQL

#8486 fix: incorrect SID in logged_in_users table on windows when username …
  osquery/tables/system/windows/logged_in_users.cpp
Labels: bug, virtual tables, Windows

#8506 Add columns to es_process_events
  osquery/events/darwin/endpointsecurity.h
  osquery/events/darwin/es_utils.cpp
  osquery/tables/events/darwin/es_process_events.cpp
  specs/darwin/es_process_events.table
Labels: virtual tables, macOS

#8492 Add double quotes in Windows installation documentation
  docs/wiki/installation/install-windows.md
Labels: documentation

#8496 Add all-platform user-based optimized columns
  specs/chrome_extension_content_scripts.table
  specs/chrome_extensions.table
  specs/firefox_addons.table
  specs/ssh_configs.table
  specs/user_groups.table
  specs/user_ssh_keys.table
  specs/vscode_extensions.table
Labels: virtual tables, ready for review, performance, SQL

#8508 Add support for accept to macOS table `socket_events`
  osquery/tables/events/darwin/socket_events.cpp
  specs/posix/socket_events.table
Labels: virtual tables, macOS, events

#8509 Add documentation for testing macOS EndpointSecurity
  docs/wiki/development/building.md
Labels: macOS, documentation

#8510 Use empty columns instead of zeroes when undefined in socket_events
  osquery/tables/events/darwin/socket_events.cpp
  osquery/tables/events/linux/socket_events.cpp
Labels: virtual tables, macOS, Linux, events

#8511 Fix leak in `windows_events` by using scope_guard
  osquery/tables/system/windows/windows_eventlog.cpp
Labels: bug, virtual tables, Windows

#8461 Remove yara schema subdirectory
  specs/CMakeLists.txt
  specs/posix/yara_events.table
  specs/yara.table
  tests/integration/tables/yara.cpp
  tests/integration/tables/yara_events.cpp
  tools/codegen/genapi.py
  tools/codegen/genwebsitejson.py
Labels: bug

#8473 Add arc path to `chrome_extensions` on macOS
  osquery/tables/applications/chrome/utils.cpp
  osquery/tables/applications/chrome/utils.h
Labels: feature, virtual tables, ready for review

#8513 Catching generic exception in order to avoid crashing when parsing windows events logs
  osquery/events/windows/windowseventlogparser.cpp
  osquery/tables/system/tests/windows/windows_eventlog_tests.cpp
Labels: bug, virtual tables, Windows

#8478 Update the `browser_firefox` table to exclude "Crash Reports" and "Pending Pings" folders
  osquery/tables/applications/browser_firefox.cpp
Labels: bug, virtual tables
