Repository osquery/osquery, pull requests merged in 2025-03, with the labels that each got.

#8535 Fix event expiration to prevent losing events
  osquery/events/eventsubscriberplugin.cpp
  osquery/events/tests/eventsubscriberplugin.cpp
Labels: bug, events

#8568 Update `shell_history` table to include ash
  osquery/tables/system/posix/shell_history.cpp
Labels: virtual tables

#8566 Fix dicker container table disk/write metrics, compares "op" values with ignore case
  osquery/tables/applications/posix/docker.cpp
Labels: bug, virtual tables

#8579 cve: Ignore util-linux CVE-2024-28085
  libraries/third_party_libraries_manifest.json
Labels: security, cve
