Repository osquery/osquery, pull requests merged in 2025-02, with the labels that each got.

#8504 Added python packages in user directories
  osquery/tables/system/python_packages.cpp
  specs/python_packages.table
  tests/integration/tables/python_packages.cpp
Labels: feature, virtual tables

#8529 Added RHEL paths for `python_packages` table
  osquery/tables/system/python_packages.cpp
Labels: virtual tables

#8519 [Windows] Switched to wmain to accept non-ascii characters from command line
  osquery/CMakeLists.txt
  osquery/main/windows/main.cpp
Labels: ready for review, Windows

#8544 Fix the `python_paths` table to skip unnecessary code paths when filtering by `directory`
  osquery/tables/system/python_packages.cpp
Labels: virtual tables

#8548 Add `CHANGELOG.md` entry for 5.16.0
  CHANGELOG.md
Labels: documentation

#8502 Add `symlink_target_path` to `files` tables
  osquery/tables/utility/file.cpp
  specs/utility/file.table
  tests/integration/tables/file.cpp
Labels: virtual tables, ready for review

#8546 cve: Ignore libarchive CVE-2024-26256
  libraries/third_party_libraries_manifest.json
Labels: libraries, security, cve

#8549 Fixes in windows helpers
  osquery/utils/system/windows/users_groups_helpers.cpp
Labels: bug, Windows

#8338 Align ES functions with documented macOS versions
  osquery/events/darwin/endpointsecurity_fim.cpp
Labels: macOS

#8550 Fix include path in logger-plugins.md
  docs/wiki/development/logger-plugins.md
Labels: documentation

#8552 Fix integration test name in Windows build instructions
  docs/wiki/development/building.md
Labels: documentation
